Repository crystallpunk-14/crystall-punk-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Sprites, Mapping, UI, Shaders, Audio, C#, YML

Update general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
Labels: YML

Candles & Candelabras (#1585)
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/cozy_house.yml
  Resources/Textures/_CP14/Objects/Misc/candelabra.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/candelabra.rsi/triple.png
  Resources/Textures/_CP14/Objects/Misc/candelabra.rsi/triple_fire.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small1.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small2.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small3.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small_fire.png
  Resources/migration.yml
Labels: Sprites, Mapping, YML

Added Stools (#1577)
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/seats.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Textures/_CP14/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/chairs.rsi/stoolBirch.png
  Resources/Textures/_CP14/Structures/Furniture/chairs.rsi/stoolWooden.png
Labels: Sprites, YML

Automatic changelog update
  Resources/Changelog/CP14_Changelog.yml
Labels: YML

add artisans job gates
  Resources/Prototypes/_CP14/Roles/Jobs/Artisan/alchemist.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Artisan/blacksmith.yml
Labels: YML

materials rework
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/hide.yml
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/ingredients.yml
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/leather.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/fur.yml
  Resources/Prototypes/_CP14/Materials/simple.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML

PhysicalComposition and commented cost
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_explorer.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_explorer.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_satchels.yml
Labels: YML

fix path
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/leather.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/fur.yml
  Resources/Prototypes/_CP14/Materials/simple.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Textures/_CP14/Objects/Misc/fur.rsi/cheap_fur.png
  Resources/Textures/_CP14/Objects/Misc/fur.rsi/fur.png
  Resources/Textures/_CP14/Objects/Misc/fur.rsi/good_fur.png
  Resources/Textures/_CP14/Objects/Misc/fur.rsi/meta.json
Labels: Sprites, YML

localization material unit
  Resources/Prototypes/_CP14/Materials/simple.yml
Labels: YML

leather crafting from hide increase
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/hide.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML

salt in craft increase
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_explorer.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML

explorer commented back
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_explorer.yml
Labels: YML

backpacks upgrade required less leather
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_satchels.yml
Labels: YML

clear
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
Labels: YML

missed string in cost
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/leather.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML

commented
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML

static price to backpacks
  Resources/Prototypes/_CP14/Entities/Clothing/Back/container_base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/leather.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML

no map touch...
  Resources/Maps/_CP14/comoss.yml
  Resources/migration.yml
Labels: Mapping, YML

strap cost back
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/leather.yml
Labels: YML

leather - no stack entity anymore
  Resources/Prototypes/_CP14/Materials/simple.yml
Labels: YML

cost...
  Resources/Prototypes/_CP14/Entities/Clothing/Back/container_base.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML

.github/labeler.yml:

"Sprites":
- changed-files:
  - any-glob-to-any-file: '**/*.rsi/*.png'

"Mapping":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"UI":
- changed-files:
  - any-glob-to-any-file: '**/*.xaml*'

"Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

"Audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"C#":
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

"YML":
- changed-files:
  - any-glob-to-any-file: '**/*.yml'

"No C#":
- changed-files:
  # Equiv to any-glob-to-all as long as this has one matcher. If ALL changed files are not C# files, then apply label.
  - all-globs-to-all-files: "!**/*.cs"
