Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2024-10, with the labels that each got.

#464 frame & table
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Entities/Structures/GirderFrame/frame.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/sewing_table.png
  Resources/Textures/_CP14/Structures/Walls/wall_frame.rsi/crushed_low.png
  Resources/Textures/_CP14/Structures/Walls/wall_frame.rsi/crushed_medium.png
  Resources/Textures/_CP14/Structures/Walls/wall_frame.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Awaiting Changes

#476 Звук кошеля
  Resources/Prototypes/_CP14/Entities/Objects/Economy/wallet.yml
Labels: No C#

#479 Paintings
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/painting.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/wallmount.yml
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_painting.rsi/candle_painting.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_painting.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_painting.rsi/painting_saint.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_painting.rsi/painting_woman.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_painting.rsi/skull_painting.png
Labels: Changes: Sprites, No C#

#480 Fix Zombie
  Resources/Prototypes/_CP14/Body/Parts/zombie.yml
  Resources/Prototypes/_CP14/Body/Prototypes/zombie.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
Labels: No C#

#481 AI Factions
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/undead.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/xeno_test.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/ai_factions.yml
Labels: No C#

#483 some blacksmith bandage
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleStaff.yml
  Resources/Prototypes/_CP14/Entities/Structures/Fence/iron_grille.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/rocks.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Procedural/biome_template.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/anvil.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/rock0.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/rock1.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/rock2.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/rock3.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/rock4.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock0.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock1.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock2.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock3.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock4.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock5.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock6.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock7.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_small.rsi/rock8.png
  Resources/Textures/_CP14/Structures/Furniture/mannequin.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/anvil.png
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/furnace.png
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/meta.json
Labels: Changes: Sprites, No C#

#485 underworld
  Resources/Maps/_CP14/tavern.yml
  Resources/Maps/_CP14/tavern_cave.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_caves.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_grasslands.yml
Labels: No C#, Changes: Map

#486 Rabbit
  Resources/Locale/en-US/_CP14/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/_CP14/interaction/interaction-popup-component.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Mobs/Animals/rabbit.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Animals/rabbit.rsi/rabbit.png
  Resources/Textures/_CP14/Mobs/Animals/rabbit.rsi/rabbit_dead.png
Labels: Changes: Sprites, No C#

#488 Zombie behaviour, resprite iron dog
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/undead.yml
  Resources/Textures/_CP14/Mobs/Pets/iron_dog.rsi/dog.png
  Resources/Textures/_CP14/Mobs/Pets/iron_dog.rsi/dog_dead.png
Labels: Changes: Sprites, No C#

#494 Minor fixes
  Content.Shared/_CP14/MeleeWeapon/EntitySystems/CP14MeleeParrySystem.cs
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/tables.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/full.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state0.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state1.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state2.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state3.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state4.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state5.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state6.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood_counter.rsi/state7.png
Labels: Changes: Sprites

#497 Alchemist update
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Catalog/Fills/dresser.yml
  Resources/Prototypes/_CP14/Entities/Objects/Flora/wild.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/closets.yml
  Resources/migration.yml
Labels: No C#, Changes: Map

#499 Bank preparation
  Content.Server/_CP14/GameTicking/Rules/CP14CommonObjectivesRule.cs
  Content.Server/_CP14/GameTicking/Rules/CP14PersonalObjectivesRule.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14CommonObjectivesRuleComponent.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14PersonalObjectivesRuleComponent.cs
  Content.Server/_CP14/Objectives/Components/CP14TownSendConditionComponent.cs
  Content.Server/_CP14/Objectives/Systems/CP14ExpeditionCollectConditionSystem.cs
  Content.Server/_CP14/Objectives/Systems/CP14TownSendConditionSystem.cs
  Content.Server/_CP14/StationCommonObjectives/CP14StationCommonObjectivesComponent.cs
  Content.Server/_CP14/TravelingStoreShip/CP14CargoSystem.cs
  Content.Shared/Objectives/Components/ObjectiveComponent.cs
  Content.Shared/_CP14/TravelingStoreShip/CP14SharedCargoSystem.cs
  Resources/Locale/en-US/_CP14/job/department.ftl
  Resources/Locale/en-US/_CP14/job/job.ftl
  Resources/Locale/en-US/_CP14/job/supervisors.ftl
  Resources/Locale/en-US/_CP14/objectives/condition/empire-order.ftl
  Resources/Locale/en-US/_CP14/objectives/condition/expedition.ftl
  Resources/Locale/en-US/_CP14/objectives/condition/personal.ftl
  Resources/Locale/ru-RU/_CP14/job/department.ftl
  Resources/Locale/ru-RU/_CP14/job/job.ftl
  Resources/Locale/ru-RU/_CP14/job/supervisors.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/empire-order.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/expedition.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/personal.ftl
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_CP14/Entities/Stations/base.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Maps/debug.yml
  Resources/Prototypes/_CP14/Objectives/empire_orders.yml
  Resources/Prototypes/_CP14/Objectives/expedition_objectives.yml
  Resources/Prototypes/_CP14/Objectives/personal_objectives.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Bank/merchant.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Bank/quartermaster.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Command/guard_commander.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Command/house_keeper.yml
  Resources/Prototypes/_CP14/Roles/Jobs/departments.yml
  Resources/Prototypes/_CP14/Roles/play_time_tracker.yml
  Resources/Prototypes/_CP14/StatusIcon/job.yml
  Resources/Prototypes/_CP14/game_presets.yml
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/Merchant.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/Quartermaster.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_CP14/Markers/jobs.rsi/adventurer.png
  Resources/Textures/_CP14/Markers/jobs.rsi/alchemist.png
  Resources/Textures/_CP14/Markers/jobs.rsi/green.png
  Resources/Textures/_CP14/Markers/jobs.rsi/meta.json
  Resources/Textures/_CP14/Markers/jobs.rsi/workman.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map

#500 Ru localization update
  Content.Client/_CP14/Shitcode/CP14EdSystem.cs
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: No C#

#492 Dinosaur - Yumkaraptor
  Resources/Audio/_CP14/Animals/attributions.yml
  Resources/Audio/_CP14/Animals/dino1.ogg
  Resources/Audio/_CP14/Animals/dino2.ogg
  Resources/Audio/_CP14/Animals/dino3.ogg
  Resources/Prototypes/_CP14/Damage/modifier_sets.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/SoundCollections/animals.yml
  Resources/Textures/_CP14/Mobs/Animals/dino.rsi/dino.png
  Resources/Textures/_CP14/Mobs/Animals/dino.rsi/dino_dead.png
  Resources/Textures/_CP14/Mobs/Animals/dino.rsi/meta.json
Labels: Changes: Sprites, No C#

#505 Iron doors
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/shirt.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/iron_doors.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/iron_doors_windowed.yml
  Resources/Textures/_CP14/Structures/Doors/iron_door.rsi/closed.png
  Resources/Textures/_CP14/Structures/Doors/iron_door.rsi/closed_mirrored.png
  Resources/Textures/_CP14/Structures/Doors/iron_door.rsi/meta.json
  Resources/Textures/_CP14/Structures/Doors/iron_door.rsi/open.png
  Resources/Textures/_CP14/Structures/Doors/iron_door.rsi/open_mirrored.png
  Resources/Textures/_CP14/Structures/Doors/iron_windowed_door.rsi/closed.png
  Resources/Textures/_CP14/Structures/Doors/iron_windowed_door.rsi/closed_mirrored.png
  Resources/Textures/_CP14/Structures/Doors/iron_windowed_door.rsi/meta.json
  Resources/Textures/_CP14/Structures/Doors/iron_windowed_door.rsi/open.png
  Resources/Textures/_CP14/Structures/Doors/iron_windowed_door.rsi/open_mirrored.png
Labels: Changes: Sprites, No C#

#512 Bank implementation
  Content.Server/Objectives/Components/StealAreaComponent.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.Shuttle.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.UI.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.cs
  Content.Server/_CP14/Cargo/CP14TravelingStoreshipComponent.cs
  Content.Server/_CP14/Cargo/CP14TravelingStoreshipFTLTargetComponent.cs
  Content.Server/_CP14/Currency/CP14CurrencySystem.cs
  Content.Server/_CP14/GameTicking/Rules/CP14CommonObjectivesRule.cs
  Content.Server/_CP14/Objectives/Components/CP14CurrencyStoredConditionComponent.cs
  Content.Server/_CP14/Objectives/Systems/CP14CurrencyCollectConditionSystem.cs
  Content.Server/_CP14/StealArea/CP14StealAreaAutoJobConnectComponent.cs
  Content.Server/_CP14/StealArea/CP14StealAreaAutoJobConnectSystem.cs
  Content.Shared/_CP14/Currency/CP14SharedCurrencySystem.cs
  Content.Shared/_CP14/TravelingStoreShip/CP14StationTravelingStoreShipTargetComponent.cs
  Resources/Locale/en-US/_CP14/objectives/condition/empire-order.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/empire-order.ftl
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Catalog/Fills/dresser.yml
  Resources/Prototypes/_CP14/Entities/Markers/ExpeditionShipTarget.yml
  Resources/Prototypes/_CP14/Entities/Markers/misc.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/jewelry.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/iron_doors.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/iron_doors_windowed.yml
  Resources/Prototypes/_CP14/Entities/keyrings.yml
  Resources/Prototypes/_CP14/Entities/keys.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/LockCategories/LockCategory.yml
  Resources/Prototypes/_CP14/Objectives/empire_orders.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Bank/banker.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Bank/commandant.yml
Labels: Changes: Map

#515 Zombies climbing in and other things
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
Labels: No C#

#516 Tavern map update
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_CP14/Currency/CP14CurrencySystem.Converter.cs
  Content.Server/_CP14/Currency/CP14CurrencySystem.cs
  Content.Shared/_CP14/Currency/CP14CurrencyExaminableComponent.cs
  Resources/Maps/_CP14/meteor-arena.yml
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Maps/debug.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Command/guard_commander.yml
Labels: Changes: Map

#517 Some tile update + dayflin resprite
  Content.Server/_CP14/Currency/CP14CurrencySystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/_CP14/Entities/Objects/Flora/flowers.yml
  Resources/Prototypes/_CP14/Entities/Objects/Flora/wild.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/crowbar.yml
  Resources/Prototypes/_CP14/Entities/Structures/Fence/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Fence/wooden_fence.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/flowers.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_grasslands.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Farming/seedbed.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/anvil.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Prototypes/_CP14/Tiles/natural.yml
  Resources/Prototypes/_CP14/Tiles/produced.yml
  Resources/Prototypes/_CP14/Tiles/woodplanks.yml
  Resources/Textures/_CP14/Objects/Flora/Flowers/yellow_dayflin.rsi/base1.png
  Resources/Textures/_CP14/Objects/Flora/Flowers/yellow_dayflin.rsi/base2.png
  Resources/Textures/_CP14/Objects/Flora/Wild/red_rose.rsi/base1.png
  Resources/Textures/_CP14/Objects/Flora/Wild/red_rose.rsi/base2.png
  Resources/Textures/_CP14/Objects/Flora/Wild/red_rose.rsi/meta.json
  Resources/Textures/_CP14/Objects/Flora/Wild/yellow_dayflin.rsi/base1.png
  Resources/Textures/_CP14/Objects/Flora/Wild/yellow_dayflin.rsi/base2.png
  Resources/Textures/_CP14/Objects/Flora/Wild/yellow_dayflin.rsi/meta.json
  Resources/Textures/_CP14/Objects/Tools/crowbar.rsi/icon.png
  Resources/Textures/_CP14/Objects/Tools/crowbar.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/crowbar.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Flowers/yellow_dayflin.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Flowers/yellow_dayflin.rsi/world1.png
  Resources/Textures/_CP14/Structures/Flora/Flowers/yellow_dayflin.rsi/world2.png
  Resources/Textures/_CP14/Structures/Flora/Flowers/yellow_dayflin.rsi/world3.png
  Resources/Textures/_CP14/Structures/Flora/Flowers/yellow_dayflin.rsi/world4.png
  Resources/Textures/_CP14/Structures/Flora/Flowers/yellow_dayflin.rsi/world5.png
  Resources/Textures/_CP14/Tiles/Foundation/attributions.yml
  Resources/Textures/_CP14/Tiles/Foundation/double_edge_down.png
  Resources/Textures/_CP14/Tiles/Foundation/double_edge_left.png
  Resources/Textures/_CP14/Tiles/Foundation/double_edge_right.png
  Resources/Textures/_CP14/Tiles/Foundation/double_edge_top.png
  Resources/Textures/_CP14/Tiles/Foundation/foundation.png
  Resources/Textures/_CP14/Tiles/Foundation/single_edge.png
  Resources/Textures/_CP14/Tiles/foundation.png
  Resources/migration.yml
Labels: Changes: Sprites

#518 Unstable alchemist biological weapon
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/chromium_slime.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/general.yml
Labels: No C#

#522 Ed 29 10 2024 guides and skills
  Content.Client/_CP14/TravelingStoreShip/CP14StoreBoundUserInterface.cs
  Content.Client/_CP14/TravelingStoreShip/CP14StoreProductControl.xaml.cs
  Content.Client/_CP14/TravelingStoreShip/CP14StoreWindow.xaml.cs
  Content.IntegrationTests/Tests/_CP14/CP14CargoTest.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.Shuttle.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.UI.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.cs
  Content.Server/_CP14/Objectives/Systems/CP14TownSendConditionSystem.cs
  Content.Server/_CP14/Shuttles/CP14ExpeditionSystem.cs
  Content.Server/_CP14/Shuttles/Components/CP14ExpeditionShipComponent.cs
  Content.Server/_CP14/Shuttles/Components/CP14ExpeditionShipFTLTargetComponent.cs
  Content.Server/_CP14/Shuttles/Components/CP14StationExpeditionTargetComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_CP14/Cargo/CP14CargoMoneyBoxComponent.cs
  Content.Shared/_CP14/Cargo/CP14CargoStoreComponent.cs
  Content.Shared/_CP14/Cargo/CP14SellingPalettComponent.cs
  Content.Shared/_CP14/Cargo/CP14SharedCargoSystem.cs
  Content.Shared/_CP14/Cargo/CP14StationTravelingStoreShipTargetComponent.cs
  Content.Shared/_CP14/Cargo/CP14StoreUI.cs
  Content.Shared/_CP14/Cargo/Prototype/BuyServices/CP14BuyItemsService.cs
  Content.Shared/_CP14/Cargo/Prototype/CP14StoreBuyPositionPrototype.cs
  Content.Shared/_CP14/Cargo/Prototype/CP14StoreSellPositionPrototype.cs
  Content.Shared/_CP14/Cargo/Prototype/SellServices/CP14SellStackService.cs
  Content.Shared/_CP14/Cargo/Prototype/SellServices/CP14SellWhitelistService.cs
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/Build/development.toml
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
  Resources/Prototypes/_CP14/Entities/Markers/misc.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/tools.yml
Labels: Changes: Map, Changes: UI

#523 Demiplans expeditions
  Content.Server/_CP14/Demiplane/CP14DemiplanSystem.Connections.cs
  Content.Server/_CP14/Demiplane/CP14DemiplanSystem.Generation.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/Demiplane/Components/CP14DemiplaneGeneratorDataComponent.cs
  Content.Server/_CP14/Demiplane/Jobs/CP14SpawnRandomDemiplaneJob.cs
  Content.Server/_CP14/DemiplaneTraveling/CP14DemiplaneTravelingSystem.cs
  Content.Shared/_CP14/DayCycle/Components/CP14DayCycleComponent.cs
  Content.Shared/_CP14/Demiplane/CP14SharedDemiplanSytem.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplaneComponent.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplaneDestroyWithoutPlayersComponent.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplaneRiftComponent.cs
  Content.Shared/_CP14/Demiplane/Prototypes/CP14DemiplaneLocationPrototype.cs
  Content.Shared/_CP14/DemiplaneTraveling/CP14DemiplaneRadiusTimedPasswayComponent.cs
  Content.Shared/_CP14/DemiplaneTraveling/CP14DemiplaneRiftOpenedComponent.cs
  CrystallPunk14.sln.DotSettings
  Resources/Audio/_CP14/Ambience/Demiplane/attributions.yml
  Resources/Audio/_CP14/Ambience/Demiplane/intro1.ogg
  Resources/Audio/_CP14/Ambience/Demiplane/intro2.ogg
  Resources/Audio/_CP14/Ambience/Demiplane/intro3.ogg
  Resources/Audio/_CP14/Ambience/Demiplane/intro4.ogg
  Resources/Maps/_CP14/Dungeon/grassland_island_exterior.yml
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/spawners.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/wallet.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Entities/subdimensionGenTEST.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/T1_Caves/config.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/T1_Grassland_island/config.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/T1_Grassland_island/exterier.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_caves.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_grasslands.yml
  Resources/Prototypes/_CP14/SoundCollections/lobby.yml
  Resources/Prototypes/_CP14/SoundCollections/music.yml
  Resources/Prototypes/_CP14/audio_music.yml
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift.rsi/anom.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift.rsi/meta.json
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift.rsi/pulse.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/core.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/meta.json
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/pulse.png
  Resources/Textures/_CP14/Structures/Dungeon/rift.rsi/meta.json
  Resources/Textures/_CP14/Structures/Dungeon/rift.rsi/rift.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/meta.json
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall0.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall1.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall2.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall3.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall4.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall5.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall6.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_strong.rsi/wall7.png
Labels: Changes: Sprites, Changes: Map
