Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2024-11, with the labels that each got.

#507 Pig and boar
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Mobs/Animals/boar.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Animals/boar.rsi/live.png
  Resources/Textures/_CP14/Mobs/Animals/boar.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Animals/pig.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Animals/pig.rsi/live.png
  Resources/Textures/_CP14/Mobs/Animals/pig.rsi/meta.json
Labels: Changes: Sprites, No C#

#525 Resprite glass shards
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
  Resources/Prototypes/_CP14/Entities/Structures/Windows/windows.yml
  Resources/Textures/_CP14/Objects/Materials/glass.rsi/meta.json
  Resources/Textures/_CP14/Objects/Materials/glass.rsi/shard1.png
  Resources/Textures/_CP14/Objects/Materials/glass.rsi/shard2.png
Labels: Changes: Sprites, No C#

#528 Demiplan polishing 2
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/Procedural/RoomFillComponent.cs
  Content.Server/Procedural/RoomFillSystem.cs
  Content.Server/_CP14/Demiplane/CP14DemiplanSystem.Generation.cs
  Content.Shared/Procedural/DungeonRoomPrototype.cs
  Resources/Maps/Dungeon/vgroidinterior.yml
  Resources/Maps/_CP14/Dungeon/demiplan_enter.yml
  Resources/Prototypes/Entities/Markers/rooms.yml
  Resources/Prototypes/Procedural/Themes/vgroidinterior.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/wild.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t1_caves.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t1_grass_geode.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t1_grassland_island.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/test.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/enter_room.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/exterier_room.yml
Labels: Changes: Map

#527 Mole and small hydra
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/monster.yml
  Resources/Prototypes/_CP14/NPCs/monster.yml
  Resources/Prototypes/_CP14/ai_factions.yml
  Resources/Textures/_CP14/Effects/Magic/spells_icons_monster.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons_monster.rsi/subterranean_leap.png
  Resources/Textures/_CP14/Mobs/Animals/dino.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Animals/dino.rsi/live.png
  Resources/Textures/_CP14/Mobs/Animals/dino.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Animals/hydra.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Animals/hydra.rsi/live.png
  Resources/Textures/_CP14/Mobs/Animals/hydra.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Monster/mole.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/mole.rsi/live.png
  Resources/Textures/_CP14/Mobs/Monster/mole.rsi/meta.json
Labels: Changes: Sprites, No C#

#534 Blacksmith role
  Content.Shared/Doors/Components/DoorComponent.cs
  Resources/Locale/en-US/_CP14/job/job.ftl
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/job/job.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Maps/_CP14/Dungeon/demiplan_enter.yml
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/bars.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/iron_doors.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/iron_doors_windowed.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Entities/keyrings.yml
  Resources/Prototypes/_CP14/Entities/keys.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/blacksmith.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/LockCategories/LockCategory.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/test.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/anvil.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Mercenary/blacksmith.yml
  Resources/Prototypes/_CP14/Roles/Jobs/departments.yml
  Resources/Prototypes/_CP14/Roles/play_time_tracker.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Prototypes/_CP14/StatusIcon/job.yml
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/Blacksmith.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_CP14/Markers/jobs.rsi/blacksmith.png
  Resources/Textures/_CP14/Markers/jobs.rsi/meta.json
  Resources/Textures/_CP14/Objects/Materials/glass.rsi/glass.png
  Resources/Textures/_CP14/Objects/Materials/glass.rsi/glass_2.png
  Resources/Textures/_CP14/Objects/Materials/glass.rsi/glass_3.png
  Resources/Textures/_CP14/Objects/Materials/glass.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#535 Petting pigs
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
Labels: No C#

#536 Windows + weapon shiny
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/pickaxe.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/shovel.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleHammer.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleStaff.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/dagger.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/mace.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/shield.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sickle.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/twoHandedSword.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/test.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Walls/WallWood.yml
  Resources/Prototypes/_CP14/Recipes/Construction/walls.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/anvil.yml
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/dagger.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/ice_dagger.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Mace/mace.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Mace/mace.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Mace/mace.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Mace/mace.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Mace/mace.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Mace/mace.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Melee/Pickaxe/pickaxe.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Shovel/shovel.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Sickle/sickle.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Sword/sword.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/ThrowableSpear/throwableSpear.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/twoHandedSword.rsi/icon.png
Labels: Changes: Sprites, No C#

#537 directional windows fix
  Resources/Prototypes/_CP14/Entities/Structures/Windows/directional.yml
  Resources/Textures/_CP14/Structures/Windows/directional.rsi/default_glass.png
  Resources/Textures/_CP14/Structures/Windows/directional.rsi/wooden_frame.png
Labels: Changes: Sprites, No C#

#540 Spell T0 traits, recategorize magic
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Content.Shared/_CP14/MagicManacostModify/CP14MagicManacostModifyComponent.cs
  Content.Shared/_CP14/MagicManacostModify/CP14MagicManacostModifySystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14ProvidedBySpellStorageComponent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageSystem.cs
  CrystallPunk14.sln.DotSettings
  Resources/Locale/en-US/_CP14/magicTypes/magic.ftl
  Resources/Locale/en-US/_CP14/traits/trait.ftl
  Resources/Locale/ru-RU/_CP14/magicTypes/magic.ftl
  Resources/Locale/ru-RU/_CP14/traits/trait.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Earth/T1_earth_wall.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T0_flame_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T1_fireball.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Gate/T2_shadow_step.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Healing/T1_cure_wounds.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/LightDarkness/T1_flash_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/LightDarkness/T1_sphere_of_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_gift.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Movement/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T1_ice_dagger.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T1_ice_shards.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/monster.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Prototypes/_CP14/MagicTypes/magic.yml
  Resources/Prototypes/_CP14/Traits/categories.yml
  Resources/Prototypes/_CP14/Traits/spells.yml
  Resources/Textures/_CP14/Effects/Magic/spells_icons_monster.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons_monster.rsi/subterranean_leap.png
Labels: Changes: Sprites

#544 Demiplan ruins
  Resources/Maps/_CP14/Dungeon/demiplan_ruins.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/spawners.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/crossbowBolts.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/test.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/exterier_room.yml
Labels: No C#, Changes: Map

#531 Zombies on style
  Resources/Prototypes/_CP14/Damage/modifier_sets.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/undead.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/test.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Fun/undead_startinggear.yml
Labels: No C#

#546 Order board
  Resources/Locale/en-US/_CP14/stamp/stamp.ftl
  Resources/Locale/ru-RU/_CP14/stamp/stamp.ftl
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Catalog/Fills/dresser.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/paper.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/stamps.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/wallmount_order_border.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/Misc.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/approved_on_paper.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/bank_on_paper.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/denied_on_paper.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/meta.json
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/paper_filled.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/paper_stamp-generic.png
  Resources/Textures/_CP14/Objects/Bureaucracy/stamp.rsi/approved.png
  Resources/Textures/_CP14/Objects/Bureaucracy/stamp.rsi/bank.png
  Resources/Textures/_CP14/Objects/Bureaucracy/stamp.rsi/denied.png
  Resources/Textures/_CP14/Objects/Bureaucracy/stamp.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/wallmount_order_board.rsi/base.png
  Resources/Textures/_CP14/Structures/Furniture/wallmount_order_board.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/wallmount_order_board.rsi/paper-0.png
  Resources/Textures/_CP14/Structures/Furniture/wallmount_order_board.rsi/paper-1.png
  Resources/Textures/_CP14/Structures/Furniture/wallmount_order_board.rsi/paper-2.png
  Resources/Textures/_CP14/Structures/Furniture/wallmount_order_board.rsi/paper-3.png
  Resources/Textures/_CP14/Structures/Furniture/wallmount_order_board.rsi/paper-4.png
Labels: Changes: Sprites, No C#, Changes: Map

#545 Herbal bandages and gauze
  Resources/Locale/en-US/_CP14/materials/materials.ftl
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/en-US/_CP14/stack/medical.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/materials/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/medical.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/grasshighbush.yml
  Resources/Prototypes/_CP14/Materials/simple.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/Graphs/improvised/gauze.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/Graphs/improvised/herbal_bandage.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Prototypes/_CP14/Stacks/medical.yml
  Resources/Textures/_CP14/Objects/Specific/Medical/medical.rsi/bandage.png
  Resources/Textures/_CP14/Objects/Specific/Medical/medical.rsi/bandage_2.png
  Resources/Textures/_CP14/Objects/Specific/Medical/medical.rsi/bandage_3.png
  Resources/Textures/_CP14/Objects/Specific/Medical/medical.rsi/herbbandage.png
  Resources/Textures/_CP14/Objects/Specific/Medical/medical.rsi/herbbandage_2.png
  Resources/Textures/_CP14/Objects/Specific/Medical/medical.rsi/herbbandage_3.png
  Resources/Textures/_CP14/Objects/Specific/Medical/medical.rsi/meta.json
Labels: Changes: Sprites, No C#

#547 Royal pumpkin
  Resources/Prototypes/_CP14/Entities/Structures/Flora/royalpumpkin.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/test.yml
  Resources/Textures/_CP14/Mobs/Monster/pumpkin_king.rsi/brother_pumpkin_king.png
  Resources/Textures/_CP14/Mobs/Monster/pumpkin_king.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Monster/pumpkin_king.rsi/pumpkin_king.png
  Resources/Textures/_CP14/Structures/Flora/royal_pumpkin.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/royal_pumpkin.rsi/royal_pumpkin.png
Labels: Changes: Sprites, No C#

#549 Delete structures on workbench
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/Misc.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
Labels: No C#

#548 Add throwing tomatoes and fix
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
Labels: No C#

#559 Fix stone breeds
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/wild.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/rocks.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Entities/Structures/crystal.yml
Labels: No C#

#571 Spell scrolls
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergySystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Actions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectComponent.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14CastMagicEffectEvent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14ProvidedBySpellStorageComponent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageSystem.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageUseDamageComponent.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_gift.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/spawners.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/scrolls.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/magic.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/meta.json
Labels: Changes: Sprites

#572 Next spellStorage experiment
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectComponent.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14CastMagicEffectEvent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageComponent.cs
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Earth/T1_earth_wall.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T0_flame_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T1_fireball.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Gate/T2_shadow_step.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Healing/T1_cure_wounds.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/LightDarkness/T1_flash_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/LightDarkness/T1_sphere_of_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_gift.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Movement/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T1_ice_dagger.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T1_ice_shards.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/scrolls.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/spawners.yml
  Resources/Prototypes/_CP14/MagicTypes/magic.yml
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/magic.png
  Resources/migration.yml
Labels: Changes: Sprites

#570 Update drinks_cups.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Drinks/bottles.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Drinks/mugs.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
Labels: No C#, Status: Needs Review

#577 Alchemy blood restoring and accseleration solutions
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Prototypes/_CP14/Reagents/Biological/biological.yml
  Resources/Prototypes/_CP14/Reagents/Biological/flowers.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/bloodflower.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/chromium_slime.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/dayflin.yml
Labels: No C#

#579 Prototypes work
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/spawners.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Drinks/bottles.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/crowbar.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/janitor.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/wrench.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/crossbowBolts.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/lightCrossbow.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/closets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/anvil.yml
  Resources/Textures/_CP14/Structures/Furniture/barrel.rsi/barrel.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#, Changes: Map

#583 Clean up, increase build stability
  Content.Client/Audio/ContentAudioSystem.CP14AmbientLoop.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/_CP14/Currency/CP14CurrencySystem.Converter.cs
  Content.Server/_CP14/Currency/CP14CurrencySystem.cs
  Content.Server/_CP14/Roles/CP14BanditRoleComponent.cs
  Content.Server/_CP14/Roles/CP14SociopathRoleComponent.cs
  Content.Server/_CP14/Temperature/CP14FireSpreadSystem.cs
  Resources/Locale/en-US/_CP14/administration/antag.ftl
  Resources/Locale/en-US/_CP14/antags/antags.ftl
  Resources/Locale/ru-RU/_CP14/administration/antag.ftl
  Resources/Locale/ru-RU/_CP14/antags/antags.ftl
  Resources/Maps/_CP14/tavern.yml
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/tools.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/scissors.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/iron_doors.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/closets.yml
  Resources/Prototypes/_CP14/Entities/fire.yml
  Resources/Prototypes/_CP14/Entities/keyrings.yml
  Resources/Prototypes/_CP14/Entities/keys.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/LockCategories/LockCategory.yml
  Resources/Prototypes/_CP14/Roles/Antags/Bandit.yml
  Resources/Prototypes/_CP14/game_presets.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/syringe.rsi/base.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/syringe.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/syringe.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/syringe.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/syringe.rsi/syringe1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/syringe.rsi/syringe2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/syringe.rsi/syringe3.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/vault.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/vault.rsi/base_door.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/vault.rsi/base_open.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/vault.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, No C#, Changes: Map
