Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2024-08, with the labels that each got.

#376 Statue of Gob
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/statues.yml
  Resources/Textures/_CP14/Structures/Decoration/statue_gob.rsi/eyes.png
  Resources/Textures/_CP14/Structures/Decoration/statue_gob.rsi/gob.png
  Resources/Textures/_CP14/Structures/Decoration/statue_gob.rsi/gob_ruined.png
  Resources/Textures/_CP14/Structures/Decoration/statue_gob.rsi/gob_ruined_vines.png
  Resources/Textures/_CP14/Structures/Decoration/statue_gob.rsi/gob_vines.png
  Resources/Textures/_CP14/Structures/Decoration/statue_gob.rsi/meta.json
Labels: Changes: Sprites, No C#

#370 Magic Items
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.Draw.cs
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Shared/_CP14/Magic/CP14SharedMagicSystem.Spells.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedApplyEntityEffectsSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedProjectileSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedSelfEntityEffectSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedSpawnEntitiesSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedSpawnOnWorldTargetSpellComponent.cs
  Content.Shared/_CP14/MagicAttuning/CP14MagicAttuningItemComponent.cs
  Content.Shared/_CP14/MagicAttuning/CP14MagicAttuningMindComponent.cs
  Content.Shared/_CP14/MagicAttuning/CP14SharedMagicAttuningSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectCastingVisualComponent.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectComponent.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectSomaticAspectComponent.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectVerbalAspectComponent.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14CastMagicEffectEvent.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14DelayedActionEvents.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14IDelayedMagicEffect.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellApplyEntityEffect.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellEffect.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellProjectile.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellSpawnEntity.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageAccessHoldingComponent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageAccessWearingComponent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageComponent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageRequireAttuneComponent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageSystem.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-focus.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-focus.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/cure_wounds.yml
  Resources/Prototypes/_CP14/Entities/Actions/test_spell.yml
  Resources/Prototypes/_CP14/Entities/Effects/cast_vfx.yml
  Resources/Prototypes/_CP14/Entities/FARMINGTEST.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Maps/debug.yml
  Resources/Textures/_CP14/Effects/Magic/cast_impact.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/cast_impact.rsi/particles_up.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/cure_wounds.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
Labels: Changes: Sprites

#378 Magic rings
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Shared/_CP14/MagicAttuning/CP14SharedMagicAttuningSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectSomaticAspectComponent.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellSpawnInHandEntity.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/base.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/cure_wounds.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/flame_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/ice_dagger.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Prototypes/_CP14/Entities/FARMINGTEST.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/brass_ring.png
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/emerald_stone_small.png
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/ruby_stone_small.png
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/saphhire_stone_small.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/flame_creation.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/ice_dagger.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/artificial_flame.rsi/icon.png
  Resources/Textures/_CP14/Objects/Misc/artificial_flame.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Misc/artificial_flame.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Misc/artificial_flame.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/ice_dagger.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/ice_dagger.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/ice_dagger.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/ice_dagger.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/ice_dagger.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/Dagger/ice_dagger.rsi/meta.json
Labels: Changes: Sprites

#380 Some shit
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Server/_CP14/MeleeWeapon/Components/CP14MeleeSelfDamageComponent.cs
  Content.Server/_CP14/Skills/CP14SkillSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectComponent.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14CastMagicEffectEvent.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellAddComponent.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellCasterTeleport.cs
  Content.Shared/_CP14/MeleeWeapon/Components/CP14MeleeSelfDamageComponent.cs
  Content.Shared/_CP14/MeleeWeapon/Components/CP14SharpenedComponent.cs
  Content.Shared/_CP14/MeleeWeapon/Components/CP14SharpeningStoneComponent.cs
  Content.Shared/_CP14/MeleeWeapon/EntitySystems/CP14MeleeSelfDamageSystem.cs
  Content.Shared/_CP14/MeleeWeapon/EntitySystems/CP14SharpeningSystem.cs
  Resources/Locale/en-US/_CP14/sharpening/sharp.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/sharpening/sharp.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/cure_wounds.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/shadow_step.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/shadow_step.png
Labels: Changes: Sprites

#382 Added personal signature system
  Content.Server/_CP14/PersonalSignature/CP14PersonalSignatureComponent.cs
  Content.Server/_CP14/PersonalSignature/CP14PersonalSignatureSystem.cs
  Resources/Locale/en-US/_CP14/presonal-signature/verbs.ftl
  Resources/Locale/ru-RU/_CP14/presonal-signature/verbs.ftl
Labels: Status: Needs Review

#385 Fix Hud text
  Resources/Textures/Interface/CrystallPunk/item_status_left.png
  Resources/Textures/Interface/CrystallPunk/item_status_left_highlight.png
  Resources/Textures/Interface/CrystallPunk/item_status_right.png
  Resources/Textures/Interface/CrystallPunk/item_status_right_highlight.png
Labels: No C#

#384 stone upd
  Resources/Prototypes/_CP14/Decal/bricktile_stone.yml
  Resources/Prototypes/_CP14/Tiles/produced.yml
  Resources/Textures/_CP14/Decals/Stone.rsi/meta.json
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_box.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_corner_ne.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_corner_nw.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_corner_se.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_corner_sw.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_end_e.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_end_n.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_end_s.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_end_w.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_inner_ne.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_inner_nw.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_inner_se.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_inner_sw.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_line_e.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_line_n.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_line_s.png
  Resources/Textures/_CP14/Decals/Stone.rsi/stone_line_w.png
  Resources/Textures/_CP14/Tiles/Stonebricks/double_edge_E.png
  Resources/Textures/_CP14/Tiles/Stonebricks/double_edge_N.png
  Resources/Textures/_CP14/Tiles/Stonebricks/double_edge_S.png
  Resources/Textures/_CP14/Tiles/Stonebricks/double_edge_W.png
  Resources/Textures/_CP14/Tiles/Stonebricks/single_edge_NE.png
  Resources/Textures/_CP14/Tiles/Stonebricks/single_edge_NW.png
  Resources/Textures/_CP14/Tiles/Stonebricks/single_edge_SE.png
  Resources/Textures/_CP14/Tiles/Stonebricks/single_edge_SW.png
  Resources/Textures/_CP14/Tiles/Stonebricks/stonebricks.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#388 Fix wave compability with GLES
  Resources/Textures/_CP14/Shaders/wave.swsl
Labels: No C#, Changes: Shaders

#389 Two new spells
  Resources/Prototypes/_CP14/Entities/Actions/Spells/earth_wall.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/ice_floor.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/berill_stone_small.png
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/earth_wall.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/ice_floor.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
  Resources/Textures/_CP14/Effects/cubeup.rsi/cube_up.png
  Resources/Textures/_CP14/Effects/cubeup.rsi/meta.json
Labels: Changes: Sprites, No C#

#390 Second rebalance
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleHammer.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleStaff.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/twoHandedSword.yml
Labels: No C#

#372 Added base workbench window
  Content.Client/_CP14/Workbench/CP14WorkbenchBoundUserInterface.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchRecipeControl.xaml
  Content.Client/_CP14/Workbench/CP14WorkbenchRecipeControl.xaml.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchRequirementControl.xaml
  Content.Client/_CP14/Workbench/CP14WorkbenchRequirementControl.xaml.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.UI.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.cs
  Content.Shared/_CP14/Workbench/CP14WorkbenchUI.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
Labels: Task: C#, Changes: UI, MVP, Task: UI

#399 workbench ui clean up
  Content.Client/_CP14/Workbench/CP14WorkbenchRecipeControl.xaml.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml.cs
  Resources/Locale/en-US/_CP14/stack/coins.ftl
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/en-US/_CP14/workbench/workbench.ftl
  Resources/Locale/ru-RU/_CP14/stack/coins.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/workbench/workbench.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Blacksmith/melting_molds.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Prototypes/_CP14/Stacks/coins.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
Labels: Changes: UI

#402 New lobby art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/_CP14/LobbyScreens/attributions.yml
  Resources/Textures/_CP14/LobbyScreens/tiefling.webp
  Resources/Textures/_CP14/LobbyScreens/tiefling.webp.yml
Labels: No C#

#403 update update
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood0.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood1.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood2.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood3.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood4.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood5.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood6.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/full.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window0.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window1.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window2.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window3.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window4.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window5.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window6.png
  Resources/Textures/_CP14/Structures/Windows/stone_bricks_window.rsi/stone_bricks_window7.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/full.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window0.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window1.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window2.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window3.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window4.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window5.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window6.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window7.png
Labels: Changes: Sprites, No C#

#401 directional window
  Resources/Prototypes/_CP14/Entities/Structures/Windows/directional.yml
  Resources/Textures/_CP14/Structures/Windows/directional.rsi/default_glass.png
  Resources/Textures/_CP14/Structures/Windows/directional.rsi/meta.json
  Resources/Textures/_CP14/Structures/Windows/directional.rsi/wooden_frame.png
Labels: Changes: Sprites, No C#

#400 Remove day cycle shit
  Content.Client/Overlays/StencilOverlay.cs
  Content.Client/_CP14/Overlays/StencilOverlay.CloudShadows.cs
  Content.Server/_CP14/DayCycle/CP14CloudShadowsSystem.cs
  Content.Server/_CP14/DayCycle/CP14DayCycleSystem.cs
  Content.Server/_CP14/DayCycle/Commands/CP14AddTimeEntryCommand.cs
  Content.Server/_CP14/DayCycle/Commands/CP14InitDayCycleCommand.cs
  Content.Server/_CP14/DayCycle/Commands/CP14SetTimeEntryCommand.cs
  Content.Server/_CP14/Farming/CP14FarmingSystem.cs
  Content.Shared/_CP14/DayCycle/CP14DayCyclePeriodPrototype.cs
  Content.Shared/_CP14/DayCycle/CP14SharedDayCycleSystem.cs
  Content.Shared/_CP14/DayCycle/Components/CP14CloudShadowsComponent.cs
  Content.Shared/_CP14/DayCycle/Components/CP14DayCycleComponent.cs
  Content.Shared/_CP14/Random/Rules/IsDaylight.cs
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Maps/_CP14/battle_royale.yml
  Resources/Maps/_CP14/dev_map.yml
  Resources/Maps/_CP14/template.yml
  Resources/Prototypes/_CP14/DayCycle/periods.yml
Labels: Status: Needs Review, Changes: Map

#404 Two new spells of light
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/flash_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/sphere_of_light.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/citrine_stone_small.png
  Resources/Textures/_CP14/Clothing/Rings/rings.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/flash_light.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/sphere_of_light.png
  Resources/Textures/_CP14/Effects/Magic/sphere_of_light.rsi/icon.png
  Resources/Textures/_CP14/Effects/Magic/sphere_of_light.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#410 Вода теперь не в папке флоры, а в папке Floor. Вода теперь тушит.
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWater.yml
Labels: No C#

#412 Food update
  Content.Server/_CP14/Workbench/CP14WorkbenchComponent.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Resources/Maps/_CP14/Shuttles/test-ship.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/cheese.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/dough.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Food/steak.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/cooking_table.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/cheese_part.png
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/cheese_part2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/cheese_part3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/cheese_slice.png
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/cheese_slice2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/cheese_slice3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/cheese_wheel.png
  Resources/Textures/_CP14/Objects/Consumable/Food/cheese.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/bread_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/bun_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/bun_cooked_slice_bottom.png
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/bun_cooked_slice_top.png
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/dough_large.png
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/dough_medium.png
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/dough_medium_flat.png
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/egg.rsi/brown.png
  Resources/Textures/_CP14/Objects/Consumable/Food/egg.rsi/brown_shell.png
  Resources/Textures/_CP14/Objects/Consumable/Food/egg.rsi/icon.png
  Resources/Textures/_CP14/Objects/Consumable/Food/egg.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/egg.rsi/white_shell.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/cutlet.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/cutlet_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/meat_slice.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice2_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice3_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice_cooked.png
Labels: Changes: Sprites, Changes: Map

#397 Added world sprite system
  Content.Client/_CP14/WorldSprite/CP14WorldSpriteComponent.cs
  Content.Client/_CP14/WorldSprite/CP14WorldSpriteSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Shared/_CP14/WorldSprite/WorldSpriteVisualLayer.cs
  Resources/Prototypes/_CP14/debug.yml
Labels: Status: Needs Review

#417 Pumpkin + Cabbage
  Content.Server/_CP14/SpawnOnTileTool/CP14SpawnOnTileSystem.cs
  Content.Shared/_CP14/DestroyedByTool/CP14DestroyedByToolComponent.cs
  Content.Shared/_CP14/DestroyedByTool/CP14DestroyedByToolSystem.cs
  Content.Shared/_CP14/SpawnOnTileTool/CP14SpawnOnTileToolComponent.cs
  Content.Shared/_CP14/SpawnOnTileTool/SharedCP14SpawnOnTileToolSystem.cs
  Resources/Prototypes/_CP14/Entities/FARMINGTEST.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Farming/seeds.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/hoe.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Farming/Herbals/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Farming/Herbals/domesticated/cabbage.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Farming/Herbals/domesticated/pumpkin.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Farming/Herbals/domesticated/wheat.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Farming/soil.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Farming/seedbed.yml
  Resources/Prototypes/_CP14/Recipes/Construction/farming.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/cooking_table.yml
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/base1.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/base2.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/base3.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/slice1.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/slice2.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/slice3.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/cabbage.rsi/slice4.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/base1.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/base2.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/base3.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/base4.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/slice1.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/slice2.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/slice3.png
  Resources/Textures/_CP14/Objects/Specific/Farming/Produce/pumpkin.rsi/slice4.png
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/bag.png
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/cabbage.png
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/pumpkin.png
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/tomato.png
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/wheat.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/death.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/grow-1.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/grow-2.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/grow-3.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/grow-4.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/grow-5.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/grow-6.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/cabbage.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/death.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/grow-1.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/grow-2.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/grow-3.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/grow-4.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/grow-5.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/grow-6.png
  Resources/Textures/_CP14/Structures/Specific/Farming/Herbals/pumpkin.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites

#418 Localization sync
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: No C#

#421 Convenient Z-Levels
  Content.Server/_CP14/BiomeSpawner/Components/CP14BiomeSpawnerComponent.cs
  Content.Server/_CP14/BiomeSpawner/EntitySystems/CP14BiomeSpawnerSystem.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationAdditionalMapComponent.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationAdditionalMapSystem.cs
  Content.Server/_CP14/StationDungeonMap/Components/CP14StationZLevelsComponent.cs
  Content.Server/_CP14/StationDungeonMap/Components/CP14ZLevelAutoPortalComponent.cs
  Content.Server/_CP14/StationDungeonMap/EntitySystems/CP14StationZLevelsSystem.cs
  Resources/Maps/_CP14/battle_royale.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CP14/Entities/Structures/dungeon_entrance.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Maps/debug.yml
  Resources/Prototypes/_CP14/Procedural/biome_markers.yml
  Resources/migration.yml
Labels: Changes: Map

#424 Wallpaper
  Content.Client/_CP14/Wallpaper/CP14ClientWallpaperSystem.cs
  Content.Shared/_CP14/Wallpaper/CP14SharedWallpaperSystem.cs
  Content.Shared/_CP14/Wallpaper/CP14WallpaperComponent.cs
  Content.Shared/_CP14/Wallpaper/CP14WallpaperHolderComponent.cs
  Content.Shared/_CP14/Wallpaper/CP14WallpaperRemoverComponent.cs
  Resources/Locale/en-US/_CP14/stack/wallpaper.ftl
  Resources/Locale/ru-RU/_CP14/stack/wallpaper.ftl
  Resources/Maps/_CP14/Shuttles/test-ship.yml
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Maps/_CP14/alchemy_test_layer2.yml
  Resources/Maps/_CP14/battle_royale.yml
  Resources/Maps/_CP14/dev_map.yml
  Resources/Maps/_CP14/expedition_test.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/wallpaper.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Stacks/wallpapers.yml
  Resources/Textures/_CP14/Structures/Wallpaper/icons.rsi/green.png
  Resources/Textures/_CP14/Structures/Wallpaper/icons.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallpaper/icons.rsi/pink.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/bottom.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/left.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/right.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/top.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/bottom.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/left.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/right.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/top.png
Labels: Changes: Sprites, Changes: Map

#426 Icon
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/meta.json
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls0.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls1.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls2.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls3.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls4.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls5.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls6.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skulls7.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA0.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA1.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA2.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA3.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA4.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA5.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA6.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsA7.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB0.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB1.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB2.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB3.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB4.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB5.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB6.png
  Resources/Textures/_CP14/Structures/Walls/wall_of_skulls.rsi/skullsB7.png
Labels: Changes: Sprites, No C#
