Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2024-09, with the labels that each got.

#407 Weather backend start
  Content.Server/_CP14/DayCycle/CP14DayCycleSystem.cs
  Content.Server/_CP14/WeatherControl/CP14WeatherControllerComponent.cs
  Content.Server/_CP14/WeatherControl/CP14WeatherControllerSystem.cs
  Content.Shared/_CP14/DayCycle/CP14SharedDayCycleSystem.cs
  Content.Shared/_CP14/DayCycle/Components/CP14DayCycleComponent.cs
  Content.Shared/_CP14/WeatherControl/CP14WeatherData.cs
  Resources/Maps/_CP14/dev_map.yml
  Resources/Maps/_CP14/expedition_test.yml
  Resources/Prototypes/_CP14/Entities/Stations/expedition.yml
  Resources/Prototypes/_CP14/GameRules/events.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/weather.yml
  Resources/Textures/_CP14/Effects/weather.rsi/meta.json
  Resources/Textures/_CP14/Effects/weather.rsi/rain.png
  Resources/Textures/_CP14/Effects/weather.rsi/storm.png
Labels: Changes: Sprites, Changes: Map

#432 Voice goblin
  Resources/Audio/_CP14/Voice/Goblin/attributions.yml
  Resources/Audio/_CP14/Voice/Goblin/goblin_death.ogg
  Resources/Audio/_CP14/Voice/Goblin/goblin_laugh.ogg
  Resources/Audio/_CP14/Voice/Goblin/goblin_scream.ogg
  Resources/Audio/_CP14/Voice/Goblin/goblin_sleep.ogg
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Voice/speech_emote_sounds.yml
Labels: No C#

#439 Added configuration for wave shader
  Content.Client/_CP14/Wave/CP14WaveShaderSystem.cs
  Content.Shared/_CP14/Configuration/CP14ConfigVars.cs
Labels: Task: Shader

#437 Water resprite
  Resources/Textures/_CP14/Tiles/Water/water.rsi/full.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/meta.json
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water0.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water1.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water2.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water3.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water4.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water5.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water6.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water7.png
Labels: Changes: Sprites, No C#

#442 Fix soil refilling
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Farming/soil.yml
  Resources/Textures/_CP14/Structures/Specific/Farming/seedbed.rsi/liq-1.png
  Resources/Textures/_CP14/Structures/Specific/Farming/seedbed.rsi/liq-2.png
  Resources/Textures/_CP14/Structures/Specific/Farming/seedbed.rsi/liq-3.png
  Resources/Textures/_CP14/Structures/Specific/Farming/seedbed.rsi/liq-4.png
  Resources/Textures/_CP14/Structures/Specific/Farming/seedbed.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/liq-1.png
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/liq-2.png
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/liq-3.png
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/liq-4.png
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/soil1.png
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/soil2.png
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/soil3.png
  Resources/Textures/_CP14/Structures/Specific/Farming/soil.rsi/soil4.png
Labels: Changes: Sprites

#420 Local helper update
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Tools/_CP14/LocalizationHelper/base_parser.py
  Tools/_CP14/LocalizationHelper/fluent/ftl_reader.py
  Tools/_CP14/LocalizationHelper/ftl_parser/ftl_parser.py
  Tools/_CP14/LocalizationHelper/localization_helper.py
  Tools/_CP14/LocalizationHelper/main.py
  Tools/_CP14/LocalizationHelper/run.bat
  Tools/_CP14/LocalizationHelper/yml_parser/yml_parser.py
Labels: No C#

#452 Some issues
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Guidebook/GuideEntry.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Audio/_CP14/Lobby/attributions.yml
  Resources/Audio/_CP14/Lobby/the_way.ogg
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Guidebook/entry.yml
  Resources/Prototypes/_CP14/Reagents/Biological/blood.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/brewing_bloodgrass.yml
  Resources/Prototypes/_CP14/SoundCollections/lobby.yml
  Resources/Prototypes/_CP14/hud.yml
  Resources/Prototypes/_CP14/themes.yml
  Resources/Prototypes/hud.yml
  Resources/Prototypes/themes.yml
Labels: Changes: UI

#454 Added CP14 options menu
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/_CP14/Options/CP14OptionsMenuMainTab.xaml
  Content.Client/_CP14/Options/CP14OptionsMenuMainTab.xaml.cs
  Content.Shared/_CP14/Configuration/CP14ConfigVars.cs
  Resources/Locale/en-US/_CP14/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_CP14/escape-menu/ui/options-menu.ftl
Labels: Changes: UI

#453 Prototypes cleaning: destructable, flammable
  Content.Server/_CP14/Farming/CP14FarmingSystem.cs
  Content.Server/_CP14/Temperature/CP14AutoIgniteComponent.cs
  Content.Server/_CP14/Temperature/CP14FireSpreadComponent.cs
  Content.Server/_CP14/Temperature/CP14FireSpreadSystem.cs
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Resources/Maps/_CP14/dev_map.yml
  Resources/Prototypes/_CP14/Damage/modifier_sets.yml
  Resources/Prototypes/_CP14/Damage/types.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/statues.yml
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/wallmount.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/wooden_doors.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/grasshighbush.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/trees.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bonfire.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/curtains.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/cutting_board.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/dressers.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/mannequin.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/wallmount.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Entities/Structures/GirderFrame/frame.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/chests.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/coffin.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/wooden_fence.yml
  Resources/Prototypes/_CP14/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/_CP14/Entities/base.yml
  Resources/Prototypes/_CP14/Entities/fire.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_CP14/Tiles/woodplanks.yml
  Resources/Textures/_CP14/Structures/Furniture/mannequin.rsi/mannequin.png
  Resources/Textures/_CP14/Structures/Furniture/mannequin.rsi/meta.json
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_dresser.rsi/icon-open.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_dresser.rsi/icon.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map

#457 Content pack jr
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Entities/Objects/wallpaper.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Stacks/wallpapers.yml
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/equipped-BACKPACK-goblin.png
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallpaper/icons.rsi/green.png
  Resources/Textures/_CP14/Structures/Wallpaper/icons.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallpaper/icons.rsi/pink.png
  Resources/Textures/_CP14/Structures/Wallpaper/icons.rsi/purple.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/bottom.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/left.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/right.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_green.rsi/top.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/bottom.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/left.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/right.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_pink.rsi/top.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_purple.rsi/bottom.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_purple.rsi/left.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_purple.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_purple.rsi/right.png
  Resources/Textures/_CP14/Structures/Wallpaper/wallpaper_purple.rsi/top.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA5.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB0.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB1.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB2.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB3.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB4.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB5.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB6.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksB7.png
  Resources/Textures/_CP14/Structures/Walls/wall_frame.rsi/wooden.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood0.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood1.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood2.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood3.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood4.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood5.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood6.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#, Status: Awaiting Changes

#459 fix Game map, set only Sandbox Gamemode, add game rules
  Resources/Prototypes/_CP14/Maps/Pools/default.yml
  Resources/Prototypes/_CP14/game_presets.yml
  Resources/Prototypes/_CP14/secret_weights.yml
  Resources/ServerInfo/Guidebook/ServerRules/CP14PlaytestRules_RU.xml
Labels: No C#

#460 Ed 26 09 2024 server fix 2
  Resources/Maps/_CP14/exp_tavern.yml
  Resources/Prototypes/_CP14/Guidebook/rules.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/ServerInfo/_CP14/Rules/CP14SandboxRU.xml
Labels: No C#, Changes: Map

#468 2 new Lobby image, some bugfix
  Content.Server/_CP14/Workbench/CP14WorkbenchComponent.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.UI.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Resources/Locale/en-US/_CP14/tips/tip.ftl
  Resources/Locale/ru-RU/_CP14/tips/tip.ftl
  Resources/Prototypes/_CP14/Datasets/tips.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Blacksmith/melting_molds.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/cooking_table.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/melds_crafter.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/_CP14/LobbyScreens/attributions.yml
  Resources/Textures/_CP14/LobbyScreens/cutecat.webp
  Resources/Textures/_CP14/LobbyScreens/cutecat.webp.yml
  Resources/Textures/_CP14/LobbyScreens/gob_way.webp
  Resources/Textures/_CP14/LobbyScreens/gob_way.webp.yml
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/filler.png
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites

#469 Footprints + Mop + Force undersky liquid evaporation
  Content.Server/Fluids/EntitySystems/PuddleSystem.Evaporation.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/_CP14/FootStep/CP14DecalCleanerComponent.cs
  Content.Server/_CP14/FootStep/CP14FootprintHolderComponent.cs
  Content.Server/_CP14/FootStep/CP14FootprintTrailerComponent.cs
  Content.Server/_CP14/FootStep/CP14FootprintsSystem.cs
  Content.Shared/Fluids/Components/EvaporationComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Audio/_CP14/Items/attributions.yml
  Resources/Audio/_CP14/Items/broom1.ogg
  Resources/Audio/_CP14/Items/broom2.ogg
  Resources/Audio/_CP14/Items/broom3.ogg
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/_CP14/Decal/bricktile_stone.yml
  Resources/Prototypes/_CP14/Decal/footprints.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shoes/shoes.yml
  Resources/Prototypes/_CP14/Entities/Effects/visual_effect.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/mop.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Prototypes/_CP14/SoundCollections/misc.yml
  Resources/Prototypes/_CP14/Tiles/base.yml
  Resources/Prototypes/_CP14/Tiles/natural.yml
  Resources/Prototypes/_CP14/Tiles/woodplanks.yml
  Resources/Textures/_CP14/Decals/footprints.rsi/boots.png
  Resources/Textures/_CP14/Decals/footprints.rsi/footprint.png
  Resources/Textures/_CP14/Decals/footprints.rsi/meta.json
  Resources/Textures/_CP14/Effects/dust.rsi/dust.png
  Resources/Textures/_CP14/Effects/dust.rsi/meta.json
  Resources/Textures/_CP14/Objects/Tools/mop.rsi/icon.png
  Resources/Textures/_CP14/Objects/Tools/mop.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/mop.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Tools/mop.rsi/meta.json
  Resources/Textures/_CP14/Objects/Tools/mop.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/mop.rsi/wielded-inhand-right.png
Labels: Changes: Sprites

#470 Split decal cleaner into Broom + Max Gab papers and hair
  Content.Client/Overlays/StencilOverlay.cs
  Content.Server/_CP14/FootStep/CP14DecalCleanerComponent.cs
  Content.Server/_CP14/Footprints/CP14FootprintsSystem.cs
  Content.Server/_CP14/Footprints/Components/CP14DecalCleanerComponent.cs
  Content.Server/_CP14/Footprints/Components/CP14FootprintHolderComponent.cs
  Content.Server/_CP14/Footprints/Components/CP14FootprintTrailerComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Content.Shared/_CP14/Decals/CP14DecalCleanerEvents.cs
  Resources/Locale/en-US/_CP14/markings/human-hair.ftl
  Resources/Locale/ru-RU/_CP14/markings/human-hair.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/paper.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/pen.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/janitor.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/PlantMetabolizer/metabolizers.yml
  Resources/Prototypes/_CP14/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/maxy_shagy.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_CP14/Objects/Bureaucracy/inkwell.rsi/feather.png
  Resources/Textures/_CP14/Objects/Bureaucracy/inkwell.rsi/icon.png
  Resources/Textures/_CP14/Objects/Bureaucracy/inkwell.rsi/ink_storage_big.png
  Resources/Textures/_CP14/Objects/Bureaucracy/inkwell.rsi/ink_storage_small.png
  Resources/Textures/_CP14/Objects/Bureaucracy/inkwell.rsi/meta.json
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/meta.json
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/paper.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/paper_filled.png
  Resources/Textures/_CP14/Objects/Bureaucracy/pens.rsi/feather-inhand-left.png
  Resources/Textures/_CP14/Objects/Bureaucracy/pens.rsi/feather-inhand-right.png
  Resources/Textures/_CP14/Objects/Bureaucracy/pens.rsi/feather.png
  Resources/Textures/_CP14/Objects/Bureaucracy/pens.rsi/meta.json
  Resources/Textures/_CP14/Objects/Tools/broom.rsi/icon.png
  Resources/Textures/_CP14/Objects/Tools/broom.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/broom.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Tools/broom.rsi/meta.json
Labels: Changes: Sprites

#472 Mist + Lampposts
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Overlays/StencilOverlay.cs
  Content.Server/_CP14/WeatherControl/CP14WeatherControllerSystem.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Resources/Maps/_CP14/dev_map.yml
  Resources/Maps/_CP14/exp_tavern.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/lamppost.yml
  Resources/Prototypes/_CP14/weather.yml
  Resources/Textures/_CP14/Effects/parallax.rsi/meta.json
  Resources/Textures/_CP14/Effects/parallax.rsi/noise.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/double.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/light_double.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/light_double_blue.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/light_single_left.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/light_single_left_blue.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/light_single_right.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/light_single_right_blue.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/single_left.png
  Resources/Textures/_CP14/Structures/Furniture/lamppost.rsi/single_right.png
Labels: Changes: Sprites, Changes: Map
