Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2024-06, with the labels that each got.

#197 ru-RU ChatSan
  Resources/Locale/ru-RU/_CP14/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Status: Needs Review

#202 Belt slots now depending on pants
  Resources/Prototypes/_CP14/InventoryTemplates/human_inventory_template.yml
Labels: No C#

#205 Elf species
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Locale/en-US/_CP14/markings/elf-ears.ftl
  Resources/Locale/en-US/_CP14/species/species-names.ftl
  Resources/Locale/en-US/_CP14/species/species.ftl
  Resources/Locale/ru-RU/_CP14/markings/elf-ears.ftl
  Resources/Locale/ru-RU/_CP14/species/species-names.ftl
  Resources/Locale/ru-RU/_CP14/species/species.ftl
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_CP14/Body/Prototypes/elf.yml
  Resources/Prototypes/_CP14/Datasets/Names/dwarf.yml
  Resources/Prototypes/_CP14/Datasets/Names/human.yml
  Resources/Prototypes/_CP14/Datasets/Names/species-names.yml
  Resources/Prototypes/_CP14/Datasets/Names/tiefling.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/elf_ears.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/tiefling_horns.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Species/dwarf.yml
  Resources/Prototypes/_CP14/Species/elf.yml
  Resources/Prototypes/_CP14/Species/human.yml
  Resources/Prototypes/_CP14/Species/tiefling.yml
  Resources/Textures/_CP14/Mobs/Customization/elf_ears.rsi/ears3_broken.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/full.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/head_f.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/head_m.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/l_arm.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/l_foot.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/l_hand.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/l_leg.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/r_arm.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/r_foot.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/r_hand.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/r_leg.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/torso_f.png
  Resources/Textures/_CP14/Mobs/Species/Elf/parts.rsi/torso_m.png
Labels: Changes: Sprites

#171 Updated day cycle
  Content.Server/_CP14/DayCycle/CP14AddTimeEntryCommand.cs
  Content.Server/_CP14/DayCycle/CP14InitDayCycleCommand.cs
  Content.Server/_CP14/DayCycle/CP14SetTimeEntryCommand.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleComponent.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleSystem.cs
  Content.Shared/_CP14/DayCycle/DayCycleComponent.cs
  Content.Shared/_CP14/DayCycle/DayCycleSystem.cs
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Maps/_CP14/cave-arena.yml
  Resources/Maps/_CP14/dev_map.yml
Labels: Status: Awaiting Changes

#214 Alchemy patch
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Reagents/biological.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/brewing_bloodgrass.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/brewing_complex.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/brewing_simple.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/chromium_inverse.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/fail.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/mixing_simple.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/biological.yml
Labels: No C#

#216 Procedural + z-levels refactor
  Content.Server/_CP14/BiomeSpawner/CP14BiomeSpawnerComponent.cs
  Content.Server/_CP14/BiomeSpawner/CP14BiomeSpawnerSystem.cs
  Content.Server/_CP14/DungeonPortal/CP14AutoDungeonPortalComponent.cs
  Content.Server/_CP14/DungeonPortal/CP14AutoDungeonPortalSystem.cs
  Content.Server/_CP14/PortalAutoLink/CP14AutoLinkComponent.cs
  Content.Server/_CP14/PortalAutoLink/CP14AutoLinkSystem.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationAdditionalMapComponent.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationAdditionalMapSystem.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationDungeonMapComponent.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationDungeonMapSystem.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Maps/_CP14/alchemy_test_layer2.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CP14/Entities/Structures/dungeon_entrance.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Textures/_CP14/Markers/biome.rsi/cave.png
  Resources/Textures/_CP14/Markers/biome.rsi/frame.png
  Resources/Textures/_CP14/Markers/biome.rsi/grass.png
  Resources/Textures/_CP14/Markers/biome.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#196 add&resprite furnitures
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/dressers.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/wallmount.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Materials/wood.rsi/log.png
  Resources/Textures/_CP14/Objects/Materials/wood.rsi/log_2.png
  Resources/Textures/_CP14/Objects/Materials/wood.rsi/log_3.png
  Resources/Textures/_CP14/Objects/Materials/wood.rsi/planks.png
  Resources/Textures/_CP14/Objects/Materials/wood.rsi/planks_2.png
  Resources/Textures/_CP14/Objects/Materials/wood.rsi/planks_3.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/full.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state0.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state1.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state2.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state3.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state4.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state5.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state6.png
  Resources/Textures/_CP14/Structures/Furniture/Tables/wood.rsi/state7.png
  Resources/Textures/_CP14/Structures/Furniture/barrel.rsi/barrel.png
  Resources/Textures/_CP14/Structures/Furniture/barrel.rsi/barrel_open.png
  Resources/Textures/_CP14/Structures/Furniture/barrel.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/chairs.rsi/wooden.png
  Resources/Textures/_CP14/Structures/Furniture/wooden_bed.rsi/icon.png
  Resources/Textures/_CP14/Structures/Furniture/wooden_bed.rsi/meta.json
  Resources/Textures/_CP14/Structures/Storage/Crates/brasschest.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Crates/brasschest.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_cupboard.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_cupboard.rsi/base_door.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_cupboard.rsi/base_open.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_cupboard.rsi/meta.json
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_dresser.rsi/icon-open.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_dresser.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Dressers/wood_dresser.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleA-0.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleA-1.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleA-2.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleA-3.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleA-4.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleA-5.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleA-6.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleB-0.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleB-1.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleB-2.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleB-3.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleB-4.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleB-5.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/bottleB-6.png
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallmount/wallmount_bar_shelf.rsi/shelf.png
  Resources/Textures/_CP14/Tiles/stonebricks.png
  Resources/Textures/_CP14/Tiles/stonebricks_small_carved_1.png
  Resources/Textures/_CP14/Tiles/stonebricks_small_carved_2.png
  Resources/Textures/_CP14/Tiles/stonebricks_square_carved.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#217 Quartz crystal as alchemy reagent
  Resources/Locale/en-US/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/crystal.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Reagents/biological.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/brewing_complex.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/brewing_simple.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/mixing_simple.yml
  Resources/Textures/_CP14/Structures/crystal.rsi/meta.json
  Resources/Textures/_CP14/Structures/crystal.rsi/shard2.png
  Resources/Textures/_CP14/Structures/crystal.rsi/shard3.png
  Resources/Textures/_CP14/Structures/crystal.rsi/shard4.png
Labels: Changes: Sprites, No C#

#223 Dirt wall
  Resources/Locale/en-US/_CP14/materials/materials.ftl
  Resources/Locale/ru-RU/_CP14/materials/materials.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Structures/GirderFrame/frame.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Procedural/biome_template.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Prototypes/_CP14/Reagents/Materials/simple.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Walls/WallDirt.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Walls/WallWood.yml
  Resources/Prototypes/_CP14/Recipes/Construction/walls.yml
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/meta.json
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall0.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall1.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall2.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall3.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall4.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall5.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall6.png
  Resources/Textures/_CP14/Structures/Walls/Natural/dirt_wall.rsi/wall7.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#

#224 Chasms
  Resources/Prototypes/Entities/Tiles/chasm.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/chasm.yml
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_0.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_1.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_2.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_3.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_4.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_5.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_6.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/chasm_7.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/full.png
  Resources/Textures/_CP14/Tiles/chasm.rsi/meta.json
Labels: Changes: Sprites, No C#

#225 renamed damage types
  Resources/Locale/en-US/damage/damage-types.ftl
  Resources/Locale/ru-RU/damage/damage-types.ftl
Labels: No C#

#226 Lumishroom
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Maps/_CP14/alchemy_test_layer2.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/herbal_gather.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/herbals.yml
  Resources/Prototypes/_CP14/Procedural/biome_template.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Prototypes/_CP14/Reagents/biological.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/brewing_simple.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/chromium_inverse.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/mixing_simple.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/base1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/base2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/base3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/base4.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/base5.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/world1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/world2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/world3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/world4.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/world5.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/lumishroom.rsi/world6.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#

#227 Solution normalizer
  Content.Server/_CP14/Alchemy/CP14SolutionNormalizerComponent.cs
  Content.Server/_CP14/Alchemy/CP14SolutionNormalizerSystem.cs
  Content.Shared/Chemistry/EntitySystems/SharedInjectorSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/tools.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/heater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/normalizer.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/dropper.rsi/dropper.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/dropper.rsi/liq-1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/dropper.rsi/liq-2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/dropper.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/liq-1.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/liq-2.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/liq-3.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/liq-4.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/liq-5.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/rotate_back.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/rotate_front.png
Labels: Changes: Sprites

#228 Tile burning
  Content.Client/Atmos/Components/FireVisualsComponent.cs
  Content.Server/_CP14/Temperature/CP14AutoIgniteComponent.cs
  Content.Server/_CP14/Temperature/CP14DespawnOnExtinguishComponent.cs
  Content.Server/_CP14/Temperature/CP14FireSpreadComponent.cs
  Content.Server/_CP14/Temperature/CP14FireSpreadSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Locale/en-US/_CP14/tiles/tiles.ftl
  Resources/Locale/ru-RU/_CP14/tiles/tiles.ftl
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/wallmount.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bonfire.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/heater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/wooden_fence.yml
  Resources/Prototypes/_CP14/Entities/fire.yml
  Resources/Prototypes/_CP14/Tiles/produced.yml
  Resources/Textures/_CP14/Effects/fire.rsi/full2.png
  Resources/Textures/_CP14/Effects/fire.rsi/meta.json
  Resources/Textures/_CP14/Tiles/attributions.yml
  Resources/Textures/_CP14/Tiles/woodplanks_big_broken.png
  Resources/Textures/_CP14/Tiles/woodplanks_big_burned.png
  Resources/Textures/_CP14/Tiles/woodplanks_broken.png
  Resources/Textures/_CP14/Tiles/woodplanks_burned.png
Labels: Changes: Sprites

#237 minor AlchemyTest map update
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
Labels: No C#

#240 fixed ru emote sound v2
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#243 Energy crystal
  Content.Server/_CP14/Alchemy/CP14SolutionNormalizerSystem.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergyCrystalSlotSystem.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.cs
  Content.Server/_CP14/MagicEnergy/Components/CP14MagicEnergyDrawComponent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyContainerComponent.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyCrystalComponent.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyCrystalSlotComponent.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyExaminableComponent.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyPointLightController.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyScannerComponent.cs
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergyCrystalSlotSystem.cs
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergySystem.cs
  Resources/Audio/_CP14/Ambience/ambiAlchemy.ogg
  Resources/Audio/_CP14/Ambience/attributions.yml
  Resources/Audio/_CP14/Ambience/normalizer_working.ogg
  Resources/Audio/_CP14/Items/attributions.yml
  Resources/Audio/_CP14/Items/crystal_eject.ogg
  Resources/Audio/_CP14/Items/crystal_insert.ogg
  Resources/Locale/en-US/_CP14/magicEnergy/magic-energy.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-energy.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/crystal.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/normalizer.yml
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/medium1.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/medium2.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/medium3.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/medium_connector.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/small1.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/small2.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/small3.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/small_connector.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/crystal.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/rotate_back_stop.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/normalizer.rsi/rotate_front_stop.png
Labels: Changes: Sprites

#248 resprite hammer
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleHammer/battleHammer.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#250 fix cardboard wall sprites
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood4.png
Labels: Changes: Sprites, No C#

#251 resprite glasses
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/flipped-equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Eyes/thaumaturgy_glasses.rsi/equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/thaumaturgy_glasses.rsi/flipped-equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/thaumaturgy_glasses.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Eyes/thaumaturgy_glasses.rsi/meta.json
Labels: Changes: Sprites, No C#

#254 marking update
  Resources/Locale/en-US/_CP14/markings/human-hair.ftl
  Resources/Locale/en-US/_CP14/markings/tiefling-horns.ftl
  Resources/Locale/ru-RU/_CP14/markings/human-hair.ftl
  Resources/Locale/ru-RU/_CP14/markings/tiefling-horns.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/tiefling_horns.yml
  Resources/Prototypes/_CP14/Species/tiefling.yml
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Eyes/glasses.rsi/equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/glasses.rsi/flipped-equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/glasses.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Eyes/glasses.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Eyes/gold_glasses.rsi/equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/gold_glasses.rsi/flipped-equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/gold_glasses.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Eyes/monocle.rsi/equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/monocle.rsi/icon.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/antenna.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/b.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/beehive.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/braid.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/doublebun.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/ponytail7.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/sidetail4.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/swept2.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/updo.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/vlongfringe.png
  Resources/Textures/_CP14/Mobs/Customization/tiefling_horns.rsi/horn7.png
  Resources/Textures/_CP14/Mobs/Customization/tiefling_horns.rsi/meta.json
Labels: Changes: Sprites, No C#

#253 Mannequin
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/structures.ftl
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/mannequin.yml
  Resources/Prototypes/_CP14/InventoryTemplates/mannequin_inventory_template.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/mannequin.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Textures/_CP14/Structures/Decoration/mannequin.rsi/mannequin.png
  Resources/Textures/_CP14/Structures/Decoration/mannequin.rsi/meta.json
Labels: Changes: Sprites, No C#

#265 resprite stone&red_brick-walls
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/stonebricks0.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/stonebricks1.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/stonebricks2.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/stonebricks3.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/stonebricks4.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/stonebricks5.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/stonebricks6.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA0.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA1.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA2.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA3.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA4.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA5.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/bricksA6.png
  Resources/Textures/_CP14/Structures/Walls/bricks_wall.rsi/full.png
Labels: Changes: Sprites, No C#

#267 new lobby art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/_CP14/LobbyScreens/attributions.yml
  Resources/Textures/_CP14/LobbyScreens/typicalAlchemistDay.webp
  Resources/Textures/_CP14/LobbyScreens/typicalAlchemistDay.webp.yml
Labels: No C#

#280 Craft for stone walls.
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Walls/WallStone.yml
  Resources/Prototypes/_CP14/Recipes/Construction/walls.yml
Labels: No C#

#275 Localization Helper
  Tools/_CP14/LocalizationHelper/README.md
  Tools/_CP14/LocalizationHelper/config.json
  Tools/_CP14/LocalizationHelper/fluent/__init__.py
  Tools/_CP14/LocalizationHelper/fluent/ftl_reader.py
  Tools/_CP14/LocalizationHelper/fluent/ftl_writer.py
  Tools/_CP14/LocalizationHelper/ftl_parser/__init__.py
  Tools/_CP14/LocalizationHelper/ftl_parser/ftl_parser.py
  Tools/_CP14/LocalizationHelper/install_packages.bat
  Tools/_CP14/LocalizationHelper/logs/errors_log.txt
  Tools/_CP14/LocalizationHelper/main.py
  Tools/_CP14/LocalizationHelper/requirements.txt
  Tools/_CP14/LocalizationHelper/run.bat
  Tools/_CP14/LocalizationHelper/yml_parser/__init__.py
  Tools/_CP14/LocalizationHelper/yml_parser/yml_parser.py
Labels: No C#

#283 experimental cliffs
  Resources/Prototypes/_CP14/Entities/Structures/Walls/cliffs.yml
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/cliff.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/corner.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/meta.json
Labels: Changes: Sprites, No C#

#284 No Jesus dwarfs
  Resources/Textures/Shaders/hcut.swsl
Labels: No C#

#282 fix localization helper & protos descriptions in ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/objects.ftl
  Tools/_CP14/LocalizationHelper/Locale.lnk
  Tools/_CP14/LocalizationHelper/base_parser.py
  Tools/_CP14/LocalizationHelper/config.json
  Tools/_CP14/LocalizationHelper/fluent/ftl_reader.py
  Tools/_CP14/LocalizationHelper/ftl_parser/__init__.py
  Tools/_CP14/LocalizationHelper/ftl_parser/ftl_parser.py
  Tools/_CP14/LocalizationHelper/main.py
  Tools/_CP14/LocalizationHelper/yml_parser/__init__.py
  Tools/_CP14/LocalizationHelper/yml_parser/yml_parser.py
Labels: No C#

#286 new weapon: Battle staff
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleStaff.yml
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#285 Entity ru localization sync
  .gitignore
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/clothing.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/markers.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/mobs.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/objects.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/structures.ftl
  Resources/Prototypes/_CP14/Entities/fire.yml
  Resources/Textures/_CP14/Objects/Weapons/Melee/BattleStaff/battleStaff.rsi/wielded-inhand-right.png
  Tools/_CP14/LocalizationHelper/Locale.lnk
  Tools/_CP14/LocalizationHelper/main.py
Labels: No C#
