Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2024-07, with the labels that each got.

#290 CC-BY-SA-3.0 for some assets
  Resources/Textures/_CP14/Tiles/Grass/attribution.yml
  Resources/Textures/_CP14/Tiles/GrassLight/attribution.yml
  Resources/Textures/_CP14/Tiles/GrassTall/attribution.yml
  Resources/Textures/_CP14/Tiles/Water/water.rsi/meta.json
  Resources/Textures/_CP14/Tiles/chasm.rsi/meta.json
Labels: No C#

#293 fix CP14IronGrilleGate to chainy metall sound collection
  Resources/Prototypes/_CP14/Entities/Structures/Walls/iron_grille.yml
Labels: No C#

#302 resprite decals
  Resources/Prototypes/_CP14/Decal/nature.yml
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes1.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes2.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes3.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes4.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes5.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes6.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes7.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes8.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_bushes9.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short1.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short10.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short11.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short12.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short13.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short14.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short2.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short3.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short4.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short5.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short6.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short7.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short8.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/grass_short9.png
  Resources/Textures/_CP14/Decals/Flora/Grass.rsi/meta.json
Labels: Changes: Sprites, No C#

#299 wood&paper walls
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood0.png
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood1.png
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood2.png
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood3.png
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood4.png
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood5.png
  Resources/Textures/_CP14/Structures/Walls/cardboard_wall.rsi/wood6.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood0.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood1.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood2.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood3.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood4.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood5.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall.rsi/wood6.png
Labels: Changes: Sprites, No C#

#303 Grass update v2
  Resources/Prototypes/_CP14/Entities/Structures/Flora/grasshighbush.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Textures/_CP14/Structures/Flora/GrassHighBush.rsi/grass_high_bush1.png
  Resources/Textures/_CP14/Structures/Flora/GrassHighBush.rsi/grass_high_bush2.png
  Resources/Textures/_CP14/Structures/Flora/GrassHighBush.rsi/grass_high_bush3.png
  Resources/Textures/_CP14/Structures/Flora/GrassHighBush.rsi/grass_high_bush4.png
  Resources/Textures/_CP14/Structures/Flora/GrassHighBush.rsi/meta.json
Labels: Changes: Sprites, No C#

#304 +2 lobby track
  Resources/Audio/_CP14/Lobby/arcane_winds.ogg
  Resources/Audio/_CP14/Lobby/attributions.yml
  Resources/Audio/_CP14/Lobby/the_way.ogg
  Resources/Prototypes/_CP14/SoundCollections/lobby.yml
Labels: No C#

#306 +3 berets
  Resources/Prototypes/_CP14/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/Mercenary/adventurer.yml
  Resources/Prototypes/_CP14/Loadouts/loadout_groups.yml
  Resources/Textures/_CP14/Clothing/Head/Beret/purple.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Beret/purple.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Beret/purple.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Beret/red.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Beret/red.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Beret/red.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Beret/white.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Beret/white.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Beret/white.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Cotton/red.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Cotton/red.rsi/icon.png
Labels: Changes: Sprites, No C#

#307 i love yourrrr tool, asqw
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: No C#

#311 Scythe
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/twoHandedSword.yml
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Melee/TwoHandedSword/scythe.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#314 Fix Goblin lastnames
  Resources/Locale/en-US/_CP14/species/species-names.ftl
  Resources/Locale/ru-RU/_CP14/species/species-names.ftl
  Resources/Prototypes/_CP14/Datasets/Names/species-names.yml
  Resources/Prototypes/_CP14/Species/goblin.yml
Labels: No C#

#312 Add beards
  Resources/Locale/en-US/_CP14/markings/human-facial-hair.ftl
  Resources/Locale/ru-RU/_CP14/markings/human-facial-hair.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/human_facial_hair.yml
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/briefs.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/circle.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/espanol.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/imperial.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/machete.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/mutton.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/pigtail.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/sage.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/watson.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/whiskers.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#320 upd cliffs
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/Entities/Markers/marker_base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/cliffs.yml
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/cliff.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/corner.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/end_left.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/end_right.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/meta.json
  Resources/Textures/_CP14/Structures/Walls/Natural/cliffs.rsi/smallcorner.png
Labels: Changes: Sprites, No C#

#322 spupers
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/powerline_gauntlet.rsi/icon.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/powerline_gauntlet.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/powerline_gauntlet.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/powerline_gauntlet.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/Spreader.rsi/crystal.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/Spreader.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/Spreader.rsi/spreader.png
Labels: Changes: Sprites, No C#

#343 Добавление нового питомца "Железный защитник"
  Resources/Textures/_CP14/Mobs/Pets/iron_dog.rsi/dog.png
  Resources/Textures/_CP14/Mobs/Pets/iron_dog.rsi/dog_dead.png
  Resources/Textures/_CP14/Mobs/Pets/iron_dog.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#341 Workbench
  Content.Server/_CP14/Workbench/CP14WorkbenchComponent.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/_CP14/Skills/Prototypes/CP14SkillPrototype.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Content.Shared/_CP14/Workbench/SharedCP14WorkbenchSystem.cs
  Resources/Locale/en-US/_CP14/workbench/workbench.ftl
  Resources/Locale/ru-RU/_CP14/workbench/workbench.ftl
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/tables.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/icon.png
  Resources/Textures/_CP14/Structures/Furniture/workbench.rsi/meta.json
Labels: Changes: Sprites

#346 Deleting all CP14 guns proto
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Maps/_CP14/battle_royale.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/Projectiles/riflebullet.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/rifleCasing.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/guns.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/rifle.yml
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Ammunition/Casings/buckshot.rsi/base-spent.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Ammunition/Casings/buckshot.rsi/base.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Ammunition/Casings/buckshot.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/base.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/bolt-open.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/crush.rsi/wielded-inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/base.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/bolt-open.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/durandal.rsi/wielded-inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/base.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/bolt-open.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Rifle/lebel.rsi/wielded-inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/navy_revolver.rsi/bolt-open.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/navy_revolver.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/navy_revolver.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/navy_revolver.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/navy_revolver.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/navy_revolver.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/navy_revolver.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Map

#288 Wave shader WIP
  Content.Client/_CP14/Wave/CP14WaveShaderComponent.cs
  Content.Client/_CP14/Wave/CP14WaveShaderSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/_CP14/Entities/Structures/Flora/grasshighbush.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/trees.yml
  Resources/Prototypes/_CP14/Shaders/shaders.yml
  Resources/Textures/_CP14/Shaders/wave.swsl
Labels: Status: Needs Review

#352 Currency collect goal
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Server/_CP14/Objectives/Components/CP14CurrencyCollectConditionComponent.cs
  Content.Server/_CP14/Objectives/Systems/CP14CurrencyCollectConditionSystem.cs
  Content.Shared/_CP14/Currency/CP14CurrencyComponent.cs
  Content.Shared/_CP14/Currency/CP14CurrencySystem.cs
  Resources/Locale/en-US/_CP14/currency/currency_comp.ftl
  Resources/Locale/en-US/_CP14/objectives/condition/expedition.ftl
  Resources/Locale/en-US/_CP14/objectives/condition/issuers.ftl
  Resources/Locale/en-US/_CP14/objectives/condition/personal.ftl
  Resources/Locale/ru-RU/_CP14/currency/currency_comp.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/issuers.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/personal.ftl
  Resources/Maps/_CP14/battle_royale.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/coins.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleHammer.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleStaff.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/dagger.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/handheldAxe.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/lightHammer.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/mace.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sickle.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/twoHandedSword.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/lightCrossbow.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/Objectives/personal_objectives.yml
Labels: Changes: Map

#354 Fix Mannequin
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/mannequin.yml
Labels: No C#

#355 Crew goals update
  Content.Server/_CP14/GameTicking/Rules/CP14ExpeditionObjectivesRule.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14ExpeditionObjectivesRuleComponent.cs
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Maps/_CP14/battle_royale.yml
  Resources/Maps/_CP14/meteor-arena.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Objectives/expedition_objectives.yml
  Resources/Prototypes/_CP14/Objectives/personal_objectives.yml
Labels: Changes: Map

#358 Magic spells backend
  Content.Server/_CP14/Magic/CP14MagicSystem.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.cs
  Content.Shared/_CP14/Magic/CP14IDelayedMagicEffect.cs
  Content.Shared/_CP14/Magic/CP14SharedMagicSystem.Spells.cs
  Content.Shared/_CP14/Magic/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/Magic/Components/CP14MagicEffectCastingVisualComponent.cs
  Content.Shared/_CP14/Magic/Components/CP14MagicEffectComponent.cs
  Content.Shared/_CP14/Magic/Components/CP14MagicEffectSomaticAspectComponent.cs
  Content.Shared/_CP14/Magic/Components/CP14MagicEffectVerbalAspectComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedApplyEntityEffectsSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedProjectileSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedSelfEntityEffectSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedSpawnEntitiesSpellComponent.cs
  Content.Shared/_CP14/Magic/Components/Spells/CP14DelayedSpawnOnWorldTargetSpellComponent.cs
  Content.Shared/_CP14/Magic/Events/CP14CastMagicEffectEvent.cs
  Content.Shared/_CP14/Magic/Events/CP14DelayedActionEvents.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyContainerComponent.cs
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergySystem.cs
  Content.Shared/_CP14/MagicWeakness/CP14MagicUnsafeDamageComponent.cs
  Content.Shared/_CP14/MagicWeakness/CP14MagicUnsafeSleepComponent.cs
  Content.Shared/_CP14/MagicWeakness/CP14MagicWeaknessSystem.cs
  Resources/Locale/en-US/_CP14/alerts/alerts.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/magic-energy.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/alerts/alerts.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-energy.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_CP14/Alerts/alerts.yml
  Resources/Prototypes/_CP14/Entities/Actions/test_spell.yml
  Resources/Prototypes/_CP14/Entities/Effects/cast_vfx.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Textures/_CP14/Effects/Magic/cast_rune.rsi/double_outer.png
  Resources/Textures/_CP14/Effects/Magic/cast_rune.rsi/medium_circle.png
  Resources/Textures/_CP14/Effects/Magic/cast_rune.rsi/medium_line.png
  Resources/Textures/_CP14/Effects/Magic/cast_rune.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/cast_rune.rsi/sun.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_0.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_1.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_10.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_2.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_3.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_4.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_5.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_6.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_7.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_8.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/mana_9.png
  Resources/Textures/_CP14/Interface/Alerts/magic_energy.rsi/meta.json
Labels: Changes: Sprites

#336 Stone-brick wall crushed
  Resources/Prototypes/_CP14/Entities/Structures/GirderFrame/frame.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/crushed_low.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/crushed_medium.png
  Resources/Textures/_CP14/Structures/Walls/bricks_stone_wall.rsi/meta.json
Labels: Changes: Sprites, No C#

#356 Add 3 roles (without gameplay, alas)
  Resources/Locale/en-US/_CP14/job/job.ftl
  Resources/Locale/ru-RU/_CP14/job/job.ftl
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Command/guard_commander.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Command/house_keeper.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Mercenary/innkeeper.yml
  Resources/Prototypes/_CP14/Roles/Jobs/departments.yml
  Resources/Prototypes/_CP14/Roles/play_time_tracker.yml
  Resources/Prototypes/_CP14/StatusEffects/job.yml
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/Alchemist.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/Captain.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/GuardCommander.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/HouseKeeper.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/Innkeeper.png
  Resources/Textures/_CP14/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, No C#

#361 Update dev_map.yml
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/Station/EvacShuttleTest.cs
  Resources/Maps/_CP14/dev_map.yml
Labels: No C#, Changes: Map

#367 Remove "bruh" desc
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleHammer.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Recipes/Construction/walls.yml
Labels: No C#

#363 Rebalance melee weapons
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleHammer.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/battleStaff.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/dagger.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/handheldAxe.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/lightHammer.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/mace.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/shield.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sickle.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/twoHandedSword.yml
Labels: No C#

#371 Renamed .sln file
  CrystallPunk14.sln
  CrystallPunk14.sln.DotSettings
Labels: No C#, Status: Needs Review
