Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2024-05, with the labels that each got.

#137 Bonfire whitelist
  Resources/Prototypes/_CP14/Entities/Objects/Misc/CP14Paper.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bonfire.yml
  Resources/Prototypes/_CP14/tags.yml
Labels: No C#

#139 Mini hair update
  Resources/Locale/en-US/_CP14/markings/human-hair.ftl
  Resources/Locale/ru-RU/_CP14/markings/human-hair.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/abe.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/bedhead.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/bedheadv2.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/bigpompadour.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/crazybald.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/ponytail7.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/vlongfringe.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/volaju.png
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/wisp.png
Labels: Changes: Sprites, No C#

#143 Whitelist for alchemy furnace
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/heater.yml
Labels: No C#

#144 Alchemy tools: pestle and mortar
  Content.Server/_CP14/Alchemy/CP14AlchemyExtractionSystem.cs
  Content.Server/_CP14/Alchemy/CP14MortarComponent.cs
  Content.Server/_CP14/Alchemy/CP14PestleComponent.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Resources/Audio/_CP14/Effects/attributions.yml
  Resources/Audio/_CP14/Effects/bubbles.ogg
  Resources/Audio/_CP14/Items/Pestle/attributions.yml
  Resources/Audio/_CP14/Items/Pestle/pestle1.ogg
  Resources/Audio/_CP14/Items/Pestle/pestle2.ogg
  Resources/Audio/_CP14/Items/Pestle/pestle3.ogg
  Resources/Audio/_CP14/Items/Pestle/pestle4.ogg
  Resources/Audio/_CP14/Items/Pestle/pestle5.ogg
  Resources/Prototypes/Chemistry/mixing_types.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/cauldron.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/tools.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/vat.yml
  Resources/Prototypes/_CP14/SoundCollections/alchemy.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/full.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/liq-1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/liq-2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/liq-3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/liq-4.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/mortar_base.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/mortar_pestle.rsi/pestle.png
Labels: Changes: Sprites

#146 Adding attributes
  Resources/Audio/_CP14/Effects/attributions.yml
  Resources/Audio/_CP14/Effects/crystal_shatter.ogg
Labels: No C#

#149 Remove station ambient
  Resources/Audio/_CP14/Ambience/ambicave1.ogg
  Resources/Audio/_CP14/Ambience/attributions.yml
  Resources/Prototypes/audio.yml
Labels: No C#

#151 Underworld + Overworld
  Content.Server/_CP14/DungeonPortal/CP14AutoDungeonPortalComponent.cs
  Content.Server/_CP14/DungeonPortal/CP14AutoDungeonPortalSystem.cs
  Content.Server/_CP14/StationBiome/CP14StationBiomeComponent.cs
  Content.Server/_CP14/StationBiome/CP14StationBiomeSystem.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationDungeonMapComponent.cs
  Content.Server/_CP14/StationDungeonMap/CP14StationDungeonMapSystem.cs
  Resources/Audio/_CP14/Ambience/ambicreepy1.ogg
  Resources/Audio/_CP14/Ambience/ambicreepy2.ogg
  Resources/Audio/_CP14/Ambience/ambicreepy3.ogg
  Resources/Audio/_CP14/Ambience/attributions.yml
  Resources/Audio/_CP14/Ambience/weatherWindy.ogg
  Resources/Audio/_CP14/Animals/attributions.yml
  Resources/Audio/_CP14/Animals/owl1.ogg
  Resources/Audio/_CP14/Animals/owl2.ogg
  Resources/Audio/_CP14/Animals/owl3.ogg
  Resources/Audio/_CP14/Animals/owl4.ogg
  Resources/Audio/_CP14/Animals/owl5.ogg
  Resources/Audio/_CP14/Animals/owl6.ogg
  Resources/Audio/_CP14/Animals/owl7.ogg
  Resources/Audio/_CP14/Animals/owl8.ogg
  Resources/Audio/_CP14/Animals/owl9.ogg
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/_CP14/Entities/Structures/dungeon_entrance.yml
  Resources/Prototypes/_CP14/Procedural/biome_template.yml
  Resources/Prototypes/_CP14/Procedural/dungeon_loot.yml
  Resources/Prototypes/audio.yml
  Resources/Textures/_CP14/Structures/Dungeon/holes.rsi/hole_big.png
  Resources/Textures/_CP14/Structures/Dungeon/holes.rsi/ladder_big_top_part.png
  Resources/Textures/_CP14/Structures/Dungeon/holes.rsi/ladder_bottom_part.png
  Resources/Textures/_CP14/Structures/Dungeon/holes.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#154 Bloodgrass gatherable entity + gatherable system cleanup + bugfix
  Content.Server/Gatherable/Components/GatherableComponent.cs
  Content.Server/Gatherable/GatherableSystem.Projectile.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Resources/Audio/_CP14/Items/attributions.yml
  Resources/Audio/_CP14/Items/grass_gather.ogg
  Resources/Audio/_CP14/Items/grass_gather2.ogg
  Resources/Audio/_CP14/Items/grass_gather3.ogg
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Prototypes/Entities/Objects/Misc/spaceshroom.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/sickle.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/herbals.yml
  Resources/Prototypes/_CP14/Entities/Structures/dungeon_entrance.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/biological.yml
  Resources/Prototypes/_CP14/SoundCollections/alchemy.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/AlchemyTabs/BasicAlchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/AlchemyTabs/BasicAlchemy.xml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/bloodgrass.rsi/grass1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/bloodgrass.rsi/grass2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/bloodgrass.rsi/grass3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/bloodgrass.rsi/grass4.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/bloodgrass.rsi/grass5.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/bloodgrass.rsi/meta.json
Labels: Changes: Sprites

#155 New tiefling hue
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SkinColor.cs
  Content.Shared/_CP14/Humanoid/CP14SkinColor.cs
  Resources/Prototypes/_CP14/Species/tiefling.yml
Labels: Changes: UI

#156 Overworld biome overhaul
  Content.Shared/Decals/DecalPrototype.cs
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/_CP14/Decal/nature.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/herbals.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
Labels: Changes: Map

#157 Minecraft update
  Resources/Audio/_CP14/Items/attributions.yml
  Resources/Audio/_CP14/Items/shovel_dig1.ogg
  Resources/Audio/_CP14/Items/shovel_dig2.ogg
  Resources/Audio/_CP14/Items/shovel_dig3.ogg
  Resources/Audio/_CP14/Items/shovel_dig4.ogg
  Resources/Audio/_CP14/Items/shovel_dig5.ogg
  Resources/Prototypes/_CP14/Entities/Effects/visual_effect.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/misc.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/shovel.yml
  Resources/Prototypes/_CP14/Entities/Objects/ores.yml
  Resources/Prototypes/_CP14/SoundCollections/hit_impacts.yml
  Resources/Prototypes/_CP14/SoundCollections/misc.yml
  Resources/Prototypes/_CP14/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_CP14/Tiles/base.yml
  Resources/Prototypes/_CP14/Tiles/natural.yml
  Resources/Prototypes/_CP14/tools.yml
  Resources/Textures/_CP14/Effects/dirt.rsi/dirt1.png
  Resources/Textures/_CP14/Effects/dirt.rsi/dirt2.png
  Resources/Textures/_CP14/Effects/dirt.rsi/meta.json
  Resources/Textures/_CP14/Objects/Materials/dirt_block.rsi/dirt.png
  Resources/Textures/_CP14/Objects/Materials/dirt_block.rsi/dirt_2.png
  Resources/Textures/_CP14/Objects/Materials/dirt_block.rsi/dirt_3.png
  Resources/Textures/_CP14/Objects/Materials/dirt_block.rsi/meta.json
  Resources/Textures/_CP14/Objects/Tools/shovel.rsi/icon.png
  Resources/Textures/_CP14/Objects/Tools/shovel.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/shovel.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Tools/shovel.rsi/meta.json
  Resources/Textures/_CP14/Tiles/Dirt/attributions.yml
  Resources/Textures/_CP14/Tiles/Dirt/cavedrought.png
  Resources/Textures/_CP14/Tiles/Dirt/double_edge.png
  Resources/Textures/_CP14/Tiles/Dirt/single_edge.png
  Resources/Textures/_CP14/Tiles/Dirt/triple_edge.png
  Resources/Textures/_CP14/Tiles/attributions.yml
Labels: Changes: Sprites, No C#

#158 Logs + fireplace fix + Trees
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/_CP14/Temperature/Fireplace/CP14FireplaceSystem.cs
  Resources/Locale/en-US/_CP14/materials/materials.ftl
  Resources/Locale/ru-RU/_CP14/materials/materials.ftl
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/misc.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/CP14Paper.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/trees.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/heater.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Prototypes/_CP14/Reagents/Materials/simple.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_CP14/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Prototypes/_CP14/Tiles/base.yml
  Resources/Textures/_CP14/Objects/Materials/logs.rsi/log.png
  Resources/Textures/_CP14/Objects/Materials/logs.rsi/log_2.png
  Resources/Textures/_CP14/Objects/Materials/logs.rsi/log_3.png
  Resources/Textures/_CP14/Objects/Materials/logs.rsi/meta.json
  Resources/Textures/_CP14/Structures/wallmount_32icon.rsi/meta.json
  Resources/Textures/_CP14/Structures/wallmount_32icon.rsi/torch.png
Labels: Changes: Sprites

#159 Ed 19 05 2024 upstream
  Content.Benchmarks/ComponentQueryBenchmark.cs
  Content.Benchmarks/EntityQueryBenchmark.cs
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.Benchmarks/PvsBenchmark.cs
  Content.Benchmarks/SpawnEquipDeleteBenchmark.cs
  Content.Client/FlavorText/FlavorText.xaml.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.IntegrationTests/PoolManager.Prototypes.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Content.MapRenderer/Program.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Paper/PaperRandomStoryComponent.cs
  Content.Server/Paper/PaperRandomStorySystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/Speech/Components/ReplacementAccentComponent.cs
  Content.Server/Speech/EntitySystems/ReplacementAccentSystem.cs
  Content.Shared/Hands/Components/HandHelpers.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/StoryGen/EntitySystems/StoryGeneratorSystem.cs
  Content.Shared/StoryGen/Prototypes/StoryTemplatePrototype.cs
  Content.Shared/UserInterface/ActivatableUISystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Content.YAMLLinter/Program.cs
  Resources/Changelog/Changelog.yml
  Resources/Credits/GitHub.txt
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/paper/story-generation.ftl
  Resources/Locale/en-US/storygen/story-template.ftl
  Resources/Locale/en-US/virtual/virtual-item.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Datasets/story_generation.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/StoryGen/story-templates.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/luxury_pen.png
  Resources/Textures/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/overpriced_pen-inhand-left.png
  Resources/Textures/Objects/Misc/pens.rsi/overpriced_pen-inhand-right.png
  Resources/Textures/Objects/Misc/pens.rsi/overpriced_pen.png
  Resources/Textures/Objects/Misc/pens.rsi/pen-inhand-left.png
  Resources/Textures/Objects/Misc/pens.rsi/pen-inhand-right.png
  Resources/Textures/Objects/Misc/pens.rsi/pen.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_blue.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_cap.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_centcom-inhand-left.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_centcom-inhand-right.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_centcom.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_hop.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_red.png
Labels: Changes: Sprites, Changes: UI

#162 Wooden Window Fix
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/full.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window0.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window1.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window2.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window3.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window4.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window5.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window6.png
  Resources/Textures/_CP14/Structures/Windows/wooden_window.rsi/wood_window7.png
Labels: Changes: Sprites, No C#

#163 resprite tiles
  Resources/Textures/_CP14/Tiles/stonebricks.png
  Resources/Textures/_CP14/Tiles/stonebricks_small_carved_1.png
  Resources/Textures/_CP14/Tiles/stonebricks_small_carved_2.png
  Resources/Textures/_CP14/Tiles/stonebricks_square_carved.png
Labels: No C#

#168 Water floor antity
  Resources/Prototypes/_CP14/Entities/Structures/Flora/floorWater.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Textures/_CP14/Tiles/Water/water.rsi/meta.json
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water0.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water1.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water2.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water3.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water4.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water5.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water6.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water7.png
Labels: Changes: Sprites, No C#

#169 Hulle wallet
  Resources/Prototypes/_CP14/Entities/Objects/Economy/coins.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/wallet.yml
  Resources/Textures/_CP14/Objects/Economy/wallet.rsi/meta.json
  Resources/Textures/_CP14/Objects/Economy/wallet.rsi/wallet-0.png
  Resources/Textures/_CP14/Objects/Economy/wallet.rsi/wallet-1.png
  Resources/Textures/_CP14/Objects/Economy/wallet.rsi/wallet-2.png
  Resources/Textures/_CP14/Objects/Economy/wallet.rsi/wallet-3.png
Labels: Changes: Sprites, No C#

#172 Agaric shroom!
  Resources/Locale/en-US/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/backlog-extracts.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/backlog-extracts.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/herbal_gather.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/herbals.yml
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Prototypes/_CP14/Reagents/backlog-extracts.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Reagents/biological.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/biological.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/base1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/base2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/base3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/base4.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/base5.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/world1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/world2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/world3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/world4.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/world5.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/agaric.rsi/world6.png
Labels: Changes: Sprites, No C#

#174 Chromium slime
  Content.Server/_CP14/Chemistry/ReagentEffect/CP14AffectSolutionTemperature.cs
  Resources/Locale/en-US/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_CP14/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_CP14/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/herbal_gather.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/herbals.yml
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Reagents/biological.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/chromium_inverse.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/chromium_slime.rsi/base1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/chromium_slime.rsi/base2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/chromium_slime.rsi/base3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/chromium_slime.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/chromium_slime.rsi/world1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/chromium_slime.rsi/world2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/chromium_slime.rsi/world3.png
Labels: Changes: Sprites

#181 alchemy mini fix
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/herbals.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/biological.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/chromium_inverse.yml
Labels: No C#

#182 Wild sage alchemy reagent
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/herbals.yml
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Prototypes/_CP14/Procedural/biomes_template_grasslands.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Reagents/biological.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/biological.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/wild_sage.rsi/base1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/wild_sage.rsi/base2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/wild_sage.rsi/base3.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/wild_sage.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/wild_sage.rsi/world1.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/wild_sage.rsi/world2.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/Herbal/wild_sage.rsi/world3.png
Labels: Changes: Sprites, No C#

#183 experimental mixing reactions
  Resources/Prototypes/_CP14/Recipes/Reactions/biological.yml
Labels: No C#

#184 More Alchemy stuff
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Shared/Chemistry/Reaction/ChemicalReactionSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Maps/_CP14/alchemy_test.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/herbals.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/tools.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/trees.yml
  Resources/Prototypes/_CP14/Entities/Structures/GirderFrame/frame.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/vat.yml
  Resources/Prototypes/_CP14/Maps/Pools/default.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/biological.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/flipped-equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Eyes/alchemy_glasses.rsi/meta.json
Labels: Changes: Sprites

#192 Fix can't draw from the water on the floor
  Resources/Prototypes/_CP14/Entities/Structures/Flora/floorWater.yml
Labels: No C#

#194 Update rsi-schema.json
  .github/rsi-schema.json
Labels: No C#
