Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-03, with the labels that each got.

#961 Essence nodes
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/essence.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/essence_collector.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/essence_nodes.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/essence.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/essence.rsi/node.png
Labels: Changes: Sprites, Changes: Map, S: Untriaged, Changes: No C#, size/M

#962 lute is already here
  Resources/Prototypes/_CP14/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Objects/Fun/Instruments/lute.rsi/equipped-NECK.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/lute.rsi/icon.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/lute.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/lute.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/lute.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#934 Shirts in pants #2
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Pants/Trousers/dark_blue.rsi/equipped-PANTS.png
  Resources/Textures/_CP14/Clothing/Pants/Trousers/white.rsi/equipped-PANTS.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/warrior_garb.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/warrior_garb.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/warrior_garb.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/black.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/blue.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/blue_collar.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/mercenary.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/open_blue.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/open_red.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/open_yellow.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/purple.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/red.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/white.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/white_collar.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/yellow.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/yellow_collar.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/yellow_wizard.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/yellow_wizard.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Guard/b_chainmail.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Merchant/merchant.rsi/equipped-SHIRT.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#949 Перевод на RU
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/T1_signal_light.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Structures/GirderFrame/frame.yml
Labels: S: Untriaged, Changes: No C#, size/M, S: Needs Review

#964 Added 'arrow' to the names of the arrowheads
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Tip/arrows.yml
Labels: Changes: No C#

#965 Alchemical bomb
  Content.Server/_CP14/Chemistry/SmokeBomb/CP14SmokeBombComponent.cs
  Content.Server/_CP14/Chemistry/SmokeBomb/CP14SmokeBombSystem.cs
  Content.Shared/_CP14/MagicEssence/CP14MagicEssenceSystem.cs
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vial_bomb.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/essence_collector.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
  Resources/Textures/_CP14/Objects/Specific/Alchemy/vial_small.rsi/bomb.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/vial_small.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#967 Alchemy integration test
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.Server/_CP14/RoundRemoveShuttle/CP14RoundRemoveShuttleSystem.cs
  Resources/Maps/_CP14/dev_map.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/wallmount.yml
  Resources/Prototypes/_CP14/Reagents/target_effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Thaumaturgy/essence_combining.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Thaumaturgy/target_effect_creation_on_precurser.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Thaumaturgy/target_effect_creation_on_water.yml
Labels: Changes: Map, S: Untriaged, size/XL, size/S

#966 Мелкий фикс перевода
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#973 Guildmaster hat
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Textures/_CP14/Clothing/Head/Roles/Guildmaster/guildmaster_hat.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/Guildmaster/guildmaster_hat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/Guildmaster/guildmaster_hat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#972 Sheep
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/misc.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Mobs/Animals/sheep.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Animals/sheep.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Animals/sheep.rsi/sheep.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#971 Обновление скелетов
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/arrow.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/sword.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/undead_startinggear.yml
Labels: S: Untriaged, Changes: No C#, size/M

#977 Knowledge refactor
  Content.Client/_CP14/Knowledge/ClientCP14KnowledgeSystem.cs
  Content.Server/_CP14/Knowledge/CP14KnowledgeAdminUtilitiesSystem.cs
  Content.Server/_CP14/Knowledge/CP14KnowledgeSystem.cs
  Content.Server/_CP14/Knowledge/Specials/CP14AddKnowledgeSpecial.cs
  Content.Shared/_CP14/Knowledge/CP14KnowledgePaperTextSystem.cs
  Content.Shared/_CP14/Knowledge/Components/CP14AllKnowingComponent.cs
  Content.Shared/_CP14/Knowledge/Components/CP14AutoAddKnowledgeComponent.cs
  Content.Shared/_CP14/Knowledge/Components/CP14KnowledgeLearningSourceComponent.cs
  Content.Shared/_CP14/Knowledge/Components/CP14KnowledgePaperTextComponent.cs
  Content.Shared/_CP14/Knowledge/Components/CP14KnowledgeStorageComponent.cs
  Content.Shared/_CP14/Knowledge/Events/CP14KnowledgeInfoEvent.cs
  Content.Shared/_CP14/Knowledge/Events/CP14KnowledgeLearnDoAfterEvent.cs
  Content.Shared/_CP14/Knowledge/Events/CP14KnowledgeUsedEvent.cs
  Content.Shared/_CP14/Knowledge/Events/CP14RequestKnowledgeInfoEvent.cs
  Content.Shared/_CP14/Knowledge/Prototypes/CP14KnowledgePrototype.cs
  Content.Shared/_CP14/Knowledge/SharedCP14KnowledgeSystem.cs
  Content.Shared/_CP14/Workbench/Requirements/KnowledgeRequired.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/knowledge.yml
Labels: S: Untriaged, size/M

#975 Fixes
  Resources/Locale/en-US/_CP14/tips/tip.ftl
  Resources/Locale/ru-RU/_CP14/tips/tip.ftl
Labels: Changes: No C#, size/XS

#989 Dice
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/wallet.yml
  Resources/Prototypes/_CP14/Entities/Objects/Fun/dice.yml
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_1.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_10.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_11.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_12.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_13.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_14.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_15.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_16.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_17.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_18.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_19.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_2.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_20.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_3.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_4.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_5.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_6.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_7.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_8.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d20_9.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d6_1.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d6_2.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d6_3.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d6_4.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d6_5.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/d6_6.png
  Resources/Textures/_CP14/Objects/Fun/dice.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#990 Jaster update!
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Pants/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shoes/shoes.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Textures/_CP14/Clothing/Head/Roles/General/jesters_cap.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/jesters_cap.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/jesters_cap.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Pants/Trousers/jesters_pantaloons.rsi/equipped-PANTS.png
  Resources/Textures/_CP14/Clothing/Pants/Trousers/jesters_pantaloons.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Pants/Trousers/jesters_pantaloons.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/jesters_attire.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/jesters_attire.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/jesters_attire.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shoes/jesters_ringers.rsi/equipped-FEET.png
  Resources/Textures/_CP14/Clothing/Shoes/jesters_ringers.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shoes/jesters_ringers.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#987 Changed magic-global display
  Content.Shared/_CP14/MagicManacostModify/CP14MagicManacostModifySystem.cs
Labels: S: Untriaged, size/XS

#986 Skeleton update
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/skeleton.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/undead_startinggear.yml
Labels: S: Untriaged, Changes: No C#, size/S

#992 Minor Trading expance
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/General/sell_special.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sylphoria/sell_special.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Economy/trade_portal.yml
Labels: S: Untriaged, Changes: No C#, size/M

#993 The rabbit is also a pie
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/meat.yml
Labels: S: Untriaged, Changes: No C#, size/S

#994 Commos upate 8.03.25
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#995 Heal Ballade Buff
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_heal_ballade.yml
Labels: S: Untriaged, Changes: No C#, size/S

#997 Auto CBT
  Content.Client/_CP14/Options/CP14OptionsMenuMainTab.xaml.cs
  Content.Client/_CP14/Overlays/BasePostProcessOverlay.cs
  Content.Client/_CP14/Wave/CP14WaveShaderSystem.cs
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.CBT.cs
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.cs
  Content.Shared/_CP14/CCvar/CCvars.CP14Demiplanes.cs
  Content.Shared/_CP14/CCvar/CCvars.CP14Misc.cs
  Content.Shared/_CP14/CCvar/CCvars.CP14Shaders.cs
  Resources/ConfigPresets/_CP14/Dev.toml
Labels: Changes: UI, S: Untriaged, size/M

#999 Green salad
  Resources/Locale/en-US/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_CP14/flavors/flavor-profiles.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/plate.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/salad.yml
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/CookingTable/salad.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/salad.rsi/green_salad.png
  Resources/Textures/_CP14/Objects/Consumable/Food/salad.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1000 Update cleaner.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/cleaner.yml
Labels: Changes: No C#, size/XS

#1002 Fix armour
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_breastplate.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1005 Fix halberd skeleton
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/skeleton.yml
Labels: S: Untriaged, Changes: No C#

#1007 Lava + Chest resprite
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Maps/_CP14/dev_map.yml
  Resources/Maps/_CP14/factoria.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/BradFamily/buy.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/SpiceStream/buy.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorLava.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/base_chest.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/chests.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Recipes/Construction/storage.yml
  Resources/Textures/_CP14/Structures/Storage/Crates/brasschest.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Crates/brasschest.rsi/closed.png
  Resources/Textures/_CP14/Structures/Storage/Crates/brasschest.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Crates/brasschest.rsi/open.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest.rsi/closed.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest.rsi/meta.json
  Resources/Textures/_CP14/Structures/Storage/Crates/chest.rsi/open.png
  Resources/Textures/_CP14/Structures/Storage/Crates/woodenchest.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Crates/woodenchest.rsi/closed.png
  Resources/Textures/_CP14/Structures/Storage/Crates/woodenchest.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Crates/woodenchest.rsi/meta.json
  Resources/Textures/_CP14/Structures/Storage/Crates/woodenchest.rsi/open.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/full.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/meta.json
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water0.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water1.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water2.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water3.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water4.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water5.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water6.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water7.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, Changes: No C#, size/M

#1010 Trading content
  Content.Server/_CP14/Cargo/BuyServices/CP14RerollSpecialPositionsService.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.UI.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.cs
  Content.Server/_CP14/Currency/CP14CurrencySystem.Converter.cs
  Content.Server/_CP14/Currency/CP14CurrencySystem.cs
  Content.Server/_CP14/Objectives/Systems/CP14CurrencyCollectConditionSystem.cs
  Content.Server/_CP14/Objectives/Systems/CP14RichestJobCondtionSystem.cs
  Content.Shared/_CP14/Cargo/Prototype/CP14StoreBuyPositionPrototype.cs
  Content.Shared/_CP14/Cargo/Prototype/CP14StoreSellPositionPrototype.cs
  Content.Shared/_CP14/Currency/CP14SharedCurrencySystem.cs
  Resources/Locale/en-US/_CP14/cargo/buyPositions.ftl
  Resources/Locale/ru-RU/_CP14/cargo/buyPositions.ftl
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/BradFamily/buy.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/BradFamily/sell_special.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/General/buy.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/General/sell_special.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/SpiceStream/buy_special.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/SpiceStream/sell_special.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sylphoria/buy.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sylphoria/sell_special.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Economy/trade_board.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Economy/trade_portal.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/alchemy.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/jobs.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/misc.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/alchemy.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/jobs.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/misc.yml
  Resources/Prototypes/_CP14/Guidebook/entry.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/Jobs.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/Adventurers.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AdventurersTabs/Demiplanes.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/Alchemist.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AlchemistTabs/Alchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AlchemistTabs/AlchemyTabs/Essence.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AlchemistTabs/AlchemyTabs/Precurser.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AlchemistTabs/AlchemyTabs/TargetEffects.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/Merchant.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/MerchantTabs/Trading.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/Jobs.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/Adventurers.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AdventurersTabs/Demiplanes.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/Alchemist.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/Alchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/AlchemyTabs/Essence.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/AlchemyTabs/Precurser.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/AlchemyTabs/TargetEffects.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/Merchant.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/MerchantTabs/Trading.xml
  Resources/Textures/_CP14/Interface/Misc/reroll.rsi/meta.json
  Resources/Textures/_CP14/Interface/Misc/reroll.rsi/reroll.png
Labels: Changes: Sprites, Changes: Map, size/M

#1011 demiplane hints
  Content.Shared/_CP14/Demiplane/CP14SharedDemiplanSystem.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplaneHintComponent.cs
  Resources/Prototypes/_CP14/Entities/Structures/Flora/demiplane_hint.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/special.yml
  Resources/Textures/_CP14/Structures/Flora/demiplane_cracks.rsi/crack.png
  Resources/Textures/_CP14/Structures/Flora/demiplane_cracks.rsi/crack2.png
  Resources/Textures/_CP14/Structures/Flora/demiplane_cracks.rsi/crack3.png
  Resources/Textures/_CP14/Structures/Flora/demiplane_cracks.rsi/crack4.png
  Resources/Textures/_CP14/Structures/Flora/demiplane_cracks.rsi/meta.json
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/full.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water0.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water1.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water2.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water3.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water4.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water5.png
  Resources/Textures/_CP14/Tiles/Water/lava.rsi/water6.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/full.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water0.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water1.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water2.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water3.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water4.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water5.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water6.png
  Resources/Textures/_CP14/Tiles/Water/water.rsi/water7.png
Labels: Changes: Sprites, S: Untriaged, size/M

#1012 Palisade integration + IconSmooth improvement
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorLava.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Entities/Structures/chasm.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Walls/WallWood.yml
  Resources/Prototypes/_CP14/Recipes/Construction/walls.yml
Labels: S: Untriaged, size/S

#1013 Fix tag food
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
Labels: Changes: No C#, size/XS

#1015 bugfixes and ENG OBT preparation
  Content.Server/_CP14/Cargo/CP14CargoSystem.cs
  Content.Server/_CP14/UniqueLoot/CP14UniqueLootSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/SpiceStream/sell.yml
Labels: Changes: Map, S: Untriaged, size/XL

#1021 Back to ru CBT
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.cs
  Content.Server/_CP14/UniqueLoot/CP14UniqueLootSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/ConfigPresets/_CP14/Dev.toml
Labels: S: Untriaged, size/S

#1022 Merchant's dress is here.
  Resources/Prototypes/_CP14/Entities/Clothing/Pants/Roles/merchant.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/merchant.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/merchant.yml
  Resources/Textures/_CP14/Clothing/Pants/merchants_pantaloons.rsi/equipped-PANTS.png
  Resources/Textures/_CP14/Clothing/Pants/merchants_pantaloons.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Pants/merchants_pantaloons.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Merchant/merchants_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Merchant/merchants_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Merchant/merchants_dress.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1028 Working with armor sprites.
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Chainmail/chainmail.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Chainmail/chainmail.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Chainmail/chainmail.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Chainmail/chainmail.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Chainmail/chainmail.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/cuirass.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/cuirass.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/cuirass.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/cuirass.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/cuirass.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/infantry_cuirass.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/infantry_cuirass.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/infantry_cuirass.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/infantry_cuirass.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Breastplate/Cuirass/infantry_cuirass.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Cuisses/Chainmail/chainmail.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Cuisses/Chainmail/chainmail.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Cuisses/Chainmail/chainmail.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Cuisses/Cuirass/cuirass.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Cuisses/Cuirass/cuirass.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Cuisses/Cuirass/cuirass.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Greave/Chainmail/chainmail.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Greave/Chainmail/chainmail.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Greave/Chainmail/chainmail.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Greave/Cuirass/cuirass.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Greave/Cuirass/cuirass.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/ModularArmor/Greave/Cuirass/cuirass.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#1026 Potions pouch
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/pouch.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/alchemist.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Textures/_CP14/Clothing/Belt/potions_pouch.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Clothing/Belt/potions_pouch.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Clothing/Belt/potions_pouch.rsi/fill-1.png
  Resources/Textures/_CP14/Clothing/Belt/potions_pouch.rsi/fill-2.png
  Resources/Textures/_CP14/Clothing/Belt/potions_pouch.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Belt/potions_pouch.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1029 English OBT + Bugfixes
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.CBT.cs
  Content.Server/_CP14/UniqueLoot/CP14UniqueLootSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/coffin.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/dagger.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/sickle.yml
  Resources/Prototypes/_CP14/Roles/Antags/vampire.yml
Labels: S: Untriaged, size/S

#1033 Zombi pacified
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1036 Trying to fix check fails
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Generation.cs
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/unique_loot.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/demiplane_keys.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t10_omega_test.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1018 Fix bug with huge protection in armour
  Content.Shared/Armor/SharedArmorSystem.cs
Labels: S: Untriaged, size/S

#1025 Bone mask and armor
  Resources/Locale/en-US/_CP14/accent/skeleton.ftl
  Resources/Locale/ru-RU/_CP14/accent/skeleton.ftl
  Resources/Prototypes/_CP14/Accent/word_replacements.yml
  Resources/Prototypes/_CP14/Body/Prototypes/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/undead_startinggear.yml
  Resources/Textures/_CP14/Clothing/Masks/bone_mask.rsi/equipped-MASK.png
  Resources/Textures/_CP14/Clothing/Masks/bone_mask.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Masks/bone_mask.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Masks/horned_bone_mask.rsi/equipped-MASK.png
  Resources/Textures/_CP14/Clothing/Masks/horned_bone_mask.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Masks/horned_bone_mask.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/bone_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/bone_armor.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/bone_armor.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1034 Перевод на RU
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: S: Untriaged, Changes: No C#, size/M

#1042 jager2
  Resources/Textures/_CP14/Clothing/Gloves/jagermeister_gloves.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/jagermeister_hat.rsi/equipped-HELMET.png
Labels: Changes: Sprites, Changes: No C#

#915 Weapon Sharpening System Update & Bread Slicing Fix
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Shared/_CP14/MeleeWeapon/EntitySystems/CP14SharpeningSystem.cs
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/dough.yml
Labels: S: Untriaged, size/S

#1046 Carcat night vision
  Content.Client/_CP14/NightVision/CP14ClientNightVisionSystem.cs
  Content.Server/_CP14/NightVision/CP14NightVisionSystem.cs
  Content.Shared/_CP14/NightVision/CP14NightVisionComponent.cs
  Content.Shared/_CP14/NightVision/CP14SharedNightVisionSystem.cs
  Resources/Prototypes/_CP14/Entities/Actions/ghost.yml
  Resources/Prototypes/_CP14/Entities/Actions/nightVision.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
Labels: S: Untriaged, size/M

#1044 Factoria upd
  Resources/Maps/_CP14/factoria.yml
  Resources/Maps/_CP14/factoria_d.yml
  Resources/Prototypes/_CP14/Maps/Factoria.yml
Labels: Changes: Map, S: Untriaged, size/XL, Changes: No C#

#1050 [Fix]Bone mask fix
  Resources/Prototypes/_CP14/Entities/Clothing/Masks/masks.yml
Labels: Changes: No C#, size/XS

#1052 [Fix]Barrel in comoss_d
  Resources/Maps/_CP14/comoss_d.yml
Labels: Changes: Map, size/XL, Changes: No C#

#1049 Slimes mob
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellApplyEntityEffectOnUser.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellThrowUserTo.cs
  Resources/Locale/en-US/_CP14/demiplane/locations.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/locations.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/scrolls.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/electric.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/fire.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/ice.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t2_magma_caves.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Fun/lol.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/tags.yml
  Resources/Textures/_CP14/Mobs/Monster/slime.rsi/base.png
  Resources/Textures/_CP14/Mobs/Monster/slime.rsi/icon.png
  Resources/Textures/_CP14/Mobs/Monster/slime.rsi/jump.png
  Resources/Textures/_CP14/Mobs/Monster/slime.rsi/meta.json
Labels: Changes: Sprites, size/M

#1053 Skeleton upgrade
  Resources/Locale/en-US/_CP14/ghostRoles/roles.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/roles.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/undead_startinggear.yml
  Resources/Textures/_CP14/Objects/Fun/Instruments/skeleton_guitar.rsi/equipped-NECK.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/skeleton_guitar.rsi/icon.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/skeleton_guitar.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/skeleton_guitar.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Fun/Instruments/skeleton_guitar.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1054 Ru Localization Sync
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/electric.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/fire.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/ice.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/skeleton.yml
  Tools/_CP14/LocalizationHelper/last_launch_result/result.json
Labels: Changes: No C#

#1055 [Fix][Ru] Fix BarrelGroundQuartz locale
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: Changes: No C#, size/XS

#1057 Фикс гайдбука
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/Alchemy.xml
Labels: Changes: No C#, size/XS

#1065 Back to Ru CBT + Bugfixes
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Locale/en-US/_CP14/ghostRoles/roles.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/roles.ftl
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/skeleton.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t1_grassland_island.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t2_grass_geode.yml
Labels: Changes: Map, Changes: No C#

#1063 Request editing
  Resources/Locale/en-US/_CP14/job/job.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/job/job.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
Labels: Changes: No C#, size/S

#1064 Maid Update
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/maid_apron.rsi/equipped-CLOAK-carcat.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/maid_apron.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/maid_apron.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/maid_apron.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/maid_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/maid_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/maid_dress.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#1066 Deleted trade amulet
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sylphoria/sell.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sylphoria/sell_special.yml
Labels: Changes: No C#, size/S

#1069 [Fix]Updating the Alchemist's guidebook
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/Alchemist.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AlchemistTabs/Alchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AlchemistTabs/AlchemyTabs/Essence.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/Alchemist.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/Alchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/AlchemyTabs/Essence.xml
Labels: Changes: No C#, size/M

#1070 Guildmaster's rapier
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Garde/guildmaster.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/grips.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/rapier.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/ModularCraft/Garde/guildmaster.yml
  Resources/Textures/_CP14/Objects/ModularTools/Blade/Rapier/metall_rapier.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Objects/ModularTools/Blade/Rapier/metall_rapier.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Objects/ModularTools/Garde/guildmaster_garde.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Objects/ModularTools/Garde/guildmaster_garde.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Objects/ModularTools/Garde/guildmaster_garde.rsi/icon.png
  Resources/Textures/_CP14/Objects/ModularTools/Garde/guildmaster_garde.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/ModularTools/Garde/guildmaster_garde.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/ModularTools/Garde/guildmaster_garde.rsi/meta.json
  Resources/Textures/_CP14/Objects/ModularTools/Grip/guildmaster_grip.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Objects/ModularTools/Grip/guildmaster_grip.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Objects/ModularTools/Grip/guildmaster_grip.rsi/icon.png
  Resources/Textures/_CP14/Objects/ModularTools/Grip/guildmaster_grip.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/ModularTools/Grip/guildmaster_grip.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/ModularTools/Grip/guildmaster_grip.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1071 [Fix] CP14Syringe transfer amount fix
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/tools.yml
Labels: Changes: No C#, size/XS

#1045 Blacksmith's gloves
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/dresser.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Gloves/gloves.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/blacksmith.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Textures/_CP14/Clothing/Gloves/blacksmith_gloves.rsi/equipped-HAND.png
  Resources/Textures/_CP14/Clothing/Gloves/blacksmith_gloves.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Gloves/blacksmith_gloves.rsi/meta.json
Labels: Changes: Sprites, Status: Awaiting Changes, S: Untriaged, Changes: No C#, size/S

#1075 Wrench sprite and fix mask
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Melee/Tools/wrench.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Objects/Tools/wrench.rsi/icon.png
  Resources/Textures/_CP14/Objects/Tools/wrench.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/wrench.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Tools/wrench.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#1077 Coloured chainmail
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Breastplate/chainmail.yml
Labels: Changes: No C#, size/S

#1027 Mana no longer regenerates after death
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.Draw.cs
Labels: S: Untriaged, size/S, S: Needs Review

#1079 [Fix]Paper color fix
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/paper.yml
Labels: Changes: No C#, size/XS

#1080 Minor Skill Tree rebalance
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Death/T1_resurrection.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T0_demiplane_infiltration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T0_monolith_warp.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T2_shadow_step.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Earth/MOB_subterranean_leap.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Earth/T1_earth_wall.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T0_flame_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T0_hell_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T0_tiefling_inner_fire.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T1_fire_rune.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T1_fireball.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_cure_heat.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_cure_poison.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_cure_wounds.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_heal_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_peace_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_plant_growth.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_speed_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/magical_acceleration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/T0_sphere_of_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/T1_flash_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/T1_signal_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_consume.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_gift.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_splitting.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/T0_Kick.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/T0_Bite.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/T1_Hypnosis.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/T2_Blood_step.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/beer_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/freeze.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_shards.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/water_creation.yml
  Resources/Prototypes/_CP14/Entities/Effects/alchemy_effects.yml
  Resources/Prototypes/_CP14/Entities/Effects/visual_effect.yml
  Resources/Prototypes/_CP14/Entities/Effects/weapon_arc.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/silva.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Loadouts/skill_tree.yml
  Resources/Prototypes/_CP14/Skill/healing.yml
Labels: Changes: No C#, size/S

#1081 Aer and energia recolor
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/essence.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/elemental.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/shards.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/essence_nodes.yml
  Resources/Prototypes/_CP14/Reagents/magic_essence.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1085 Skill requirements
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/_CP14/Skill/Ui/CP14SkillTreeGraphControl.xaml.cs
  Content.Client/_CP14/UserInterface/Systems/Skill/CP14SkillUIController.cs
  Content.Shared/_CP14/Skill/CP14SharedSkillSystem.cs
  Content.Shared/_CP14/Skill/CP14SkillSystem.Admin.cs
  Content.Shared/_CP14/Skill/Effects/AddAction.cs
  Content.Shared/_CP14/Skill/Effects/CP14SkillEffect.cs
  Content.Shared/_CP14/Skill/Effects/ReplaceAction.cs
  Content.Shared/_CP14/Skill/Prototypes/CP14SkillPrototype.cs
  Content.Shared/_CP14/Skill/Restrictions/CP14SkillRestriction.cs
  Content.Shared/_CP14/Skill/Restrictions/NeedPrerequisite.cs
  Content.Shared/_CP14/Skill/Restrictions/SpeciesWhitelist.cs
  Content.Shared/_CP14/Skill/Specials/CP14SkillEffect.cs
  Resources/Locale/en-US/_CP14/skill/requirements.ftl
  Resources/Locale/ru-RU/_CP14/skill/requirements.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/fire_rune.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/fireball.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/flame_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/hell_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/tiefling_inner_fire.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/sheep_polymorph.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_consume.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_gift.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_splitting.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/kick.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/sprint.yml
  Resources/Prototypes/_CP14/Loadouts/skill_tree.yml
  Resources/Prototypes/_CP14/Skill/atlethic.yml
  Resources/Prototypes/_CP14/Skill/hydrosophistry.yml
  Resources/Prototypes/_CP14/Skill/metamagic.yml
  Resources/Prototypes/_CP14/Skill/pyrokinetic.yml
Labels: Changes: UI, size/M

#1072 No life mobs
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
Labels: Changes: No C#, size/M, S: Needs Review

#1082 [Fix]Mana heal/damage potion fix
  Content.Server/_CP14/Chemistry/ReagentEffect/CP14ManaChange.cs
  Resources/Prototypes/_CP14/Reagents/target_effects.yml
Labels: size/S, S: Needs Review

#1088 Random bugfixes and balance
  Content.Server/_CP14/GameTicking/Rules/CP14CommonObjectivesRule.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.Scanner.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.cs
  Content.Shared/_CP14/Cargo/Prototype/SellServices/CP14SellProrotypeService.cs
  Content.Shared/_CP14/Cargo/Prototype/SellServices/CP14SellStackService.cs
  Content.Shared/_CP14/Cargo/Prototype/SellServices/CP14SellWhitelistService.cs
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergySystem.cs
  Content.Shared/_CP14/Temperature/CP14FireSpreadComponent.cs
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sylphoria/sell.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/electric.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/fire.yml
  Resources/Prototypes/_CP14/Entities/base.yml
  Resources/Prototypes/_CP14/Entities/fire.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/Polymorph/polymorph.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
Labels: size/M

#1089 Weather gameplay effects
  Content.Server/_CP14/FarSound/CP14FarSoundSystem.cs
  Content.Server/_CP14/WeatherEffect/CP14WeatherEffectJob.cs
  Content.Server/_CP14/WeatherEffect/CP14WeatherEffectSystem.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Content.Shared/_CP14/FarSound/CP14FarSoundComponent.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyContainerComponent.cs
  Content.Shared/_CP14/WeatherEffect/ApplyEntityEffect.cs
  Content.Shared/_CP14/WeatherEffect/CP14WeatherEffect.cs
  Content.Shared/_CP14/WeatherEffect/SpawnEntityOnTop.cs
  Resources/Audio/_CP14/Ambience/Lightning/attributions.yml
  Resources/Audio/_CP14/Ambience/Lightning/lightning_close1.ogg
  Resources/Audio/_CP14/Ambience/Lightning/lightning_far1.ogg
  Resources/Audio/_CP14/Ambience/Lightning/lightning_far2.ogg
  Resources/Audio/_CP14/Ambience/Lightning/lightning_far3.ogg
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Maps/_CP14/Dungeon/demiplan_enter.yml
  Resources/Maps/_CP14/Dungeon/demiplane_ruins.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Weather/weather.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/special.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/enter_room.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/exterier_room.yml
  Resources/Prototypes/_CP14/SoundCollections/misc.yml
  Resources/Prototypes/_CP14/weather.yml
  Resources/Textures/_CP14/Effects/sky_lightning.rsi/bombom.png
  Resources/Textures/_CP14/Effects/sky_lightning.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, size/L, Changes: Audio

#1096 give exp burrons for admins
  Content.Shared/_CP14/Skill/CP14SkillSystem.Admin.cs
  Content.Shared/_CP14/Skill/Prototypes/CP14SkillTreePrototype.cs
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/demiplane.yml
  Resources/Prototypes/_CP14/Loadouts/skill_tree.yml
  Resources/Prototypes/_CP14/Skill/skill_tree.yml
  Resources/Textures/_CP14/Actions/Spells/physical.rsi/kick.png
  Resources/Textures/_CP14/Actions/Spells/physical.rsi/sprint.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/atlethic.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/heal.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/light.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/meta.json
  Resources/Textures/_CP14/Actions/skill_tree.rsi/meta.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/pyro.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/water.png
Labels: Changes: Sprites, size/M, S: Needs Review

#1047 Magic damage
  Content.Shared/_CP14/MagicWeakness/CP14MagicUnsafeDamageComponent.cs
  Resources/Locale/en-US/_CP14/damage/damage-groups.ftl
  Resources/Locale/en-US/_CP14/damage/damage-types.ftl
  Resources/Locale/en-US/_CP14/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/thaumaturgy/target_effects.ftl
  Resources/Locale/ru-RU/_CP14/damage/damage-groups.ftl
  Resources/Locale/ru-RU/_CP14/damage/damage-types.ftl
  Resources/Locale/ru-RU/_CP14/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/thaumaturgy/target_effects.ftl
  Resources/Prototypes/_CP14/Damage/containers.yml
  Resources/Prototypes/_CP14/Damage/groups.yml
  Resources/Prototypes/_CP14/Damage/types.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/ice_ghost.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/invisible_whistler.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/mole.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/mosquito.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials_filled_potions.yml
  Resources/Prototypes/_CP14/Reagents/precurser.yml
  Resources/Prototypes/_CP14/Reagents/target_effects.yml
Labels: size/M, S: Needs Review

#1094 scars
  Resources/Locale/en-US/_CP14/markings/carcat_scars.ftl
  Resources/Locale/en-US/_CP14/markings/goblin-scars.ftl
  Resources/Locale/en-US/_CP14/markings/human-scars.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/carcat_scars.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/goblin_scars.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/human_scars.yml
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_cheek_left.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_cheek_right.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_chest_left.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_chest_right.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_cut_left.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_cut_right.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_eye_left.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_eye_right.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_eyebrow_left.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_eyebrow_right.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_half_face_left.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_half_face_right.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_near_rib_left.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_near_rib_right.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_scars.rsi/scar_nose.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_cheek_left.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_cheek_right.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_chest_left.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_chest_right.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_cut_left.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_cut_right.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_eye_left.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_eye_right.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_eyebrow_left.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_eyebrow_right.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_half_face_left.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_half_face_right.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_near_rib_left.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_near_rib_right.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_scars.rsi/scar_nose.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_cheek_left.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_cheek_right.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_chest_left.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_chest_right.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_cut_left.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_cut_right.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_eye_left.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_eye_right.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_eyebrow_left.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_eyebrow_right.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_half_face_left.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_half_face_right.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_near_rib_left.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_near_rib_right.png
  Resources/Textures/_CP14/Mobs/Customization/human_scars.rsi/scar_nose.png
Labels: Changes: Sprites, Changes: No C#, size/M

#1102 [Fix]CP14FloorWaterOptimized fix
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWater.yml
Labels: Changes: No C#, size/XS

#1090 Frogerge
  Resources/Audio/_CP14/Effects/Footsteps/attributions.yml
  Resources/Audio/_CP14/Effects/Footsteps/frogs_slippers1.ogg
  Resources/Audio/_CP14/Effects/Footsteps/frogs_slippers2.ogg
  Resources/Audio/_CP14/Effects/Footsteps/frogs_slippers3.ogg
  Resources/Prototypes/_CP14/Entities/Clothing/Shoes/shoes.yml
  Resources/Prototypes/_CP14/SoundCollections/footsteps.yml
  Resources/Prototypes/_CP14/UniqueLoot/demiplane_loot.yml
  Resources/Textures/_CP14/Clothing/Shoes/frogs_slippers.rsi/equipped-FEET.png
  Resources/Textures/_CP14/Clothing/Shoes/frogs_slippers.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shoes/frogs_slippers.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, Changes: Audio

#1091 Viator's april fools
  Resources/Locale/en-US/_CP14/skill/skill_tree.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/roles.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/rules.ftl
  Resources/Locale/ru-RU/_CP14/mind/role-types.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/empire-order.ftl
  Resources/Locale/ru-RU/_CP14/skill/skill_tree.ftl
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/coins.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/bars.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/undead_startinggear.yml
  Resources/Prototypes/_CP14/Loadouts/skill_tree.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/Objectives/empire_orders.yml
  Resources/Prototypes/_CP14/Skill/skill_tree.yml
  Resources/Prototypes/_CP14/Skill/vampire.yml
  Resources/Textures/_CP14/Structures/Decoration/wizard_statue.rsi/statue_wizard.png
Labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: No C#, size/M

#1092 [April Fools] Mob Pumpkin King!!!
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/pumpkin_monster.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Fun/lol.yml
Labels: Changes: No C#, size/M

#1107 Storm nerf
  Content.Server/_CP14/GameTicking/Rules/CP14WeatherRule.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14WeatherRuleComponent.cs
  Content.Server/_CP14/WeatherControl/CP14WeatherControllerComponent.cs
  Content.Server/_CP14/WeatherControl/CP14WeatherControllerSystem.cs
  Content.Server/_CP14/WeatherEffect/CP14WeatherEffectJob.cs
  Content.Server/_CP14/WeatherEffect/CP14WeatherEffectSystem.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Content.Shared/_CP14/WeatherEffect/CP14WeatherEffect.cs
  Resources/Locale/en-US/_CP14/events/events.ftl
  Resources/Locale/ru-RU/_CP14/events/events.ftl
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/GameRules/events.yml
  Resources/Prototypes/_CP14/weather.yml
Labels: Changes: Map, size/M, S: Needs Review

#1110 АНГЛ ЛОКАЛЬ
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Alchemist/Breastplate/chainmail.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Alchemist/Breastplate/cuirass.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Alchemist/Breastplate/infantry_cuirass.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Alchemist/Cuisses/chainmail.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Alchemist/Cuisses/plate.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Alchemist/Greave/chainmail.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/axe.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/dagger.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/hammer.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/mace.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/pickaxe.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/rapier.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/shovel.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/sickle.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/spear.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Alchemist/Blade/sword.yml
Labels: Changes: No C#

#1108 Поправка локализации на завтра
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/thaumaturgy/ingots.ftl
  Resources/Prototypes/_CP14/Guidebook/entry.yml
  Resources/ServerInfo/_CP14/Guidebook_RU/TOPSECRET.xml
Labels: Changes: No C#, size/M
