Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-01, with the labels that each got.

#815 Random content
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.Shuttle.cs
  Content.Server/_CP14/GameTicking/Rules/CP14PersonalObjectivesRule.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Earth/MOB_subterranean_leap.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/demiplane_rifts.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/mole.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/silva.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
  Resources/Prototypes/_CP14/Entities/Objects/guidebooks.yml
  Resources/Prototypes/_CP14/Entities/Structures/kudzu.yml
  Resources/Prototypes/_CP14/Entities/Structures/round_end.yml
  Resources/Prototypes/_CP14/Entities/Tiles/astral_corrosion.yml
  Resources/Prototypes/_CP14/GameRules/events.yml
  Resources/Prototypes/_CP14/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Tiles/natural.yml
  Resources/Prototypes/audio.yml
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Alchemist/alchemist_cloak.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Bank/commandant_jacket.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Captain/captain_jacket.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/blacksmith_apron.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/blue.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/cheetah_skin.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape2.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/green.rsi/meta.json
  Resources/Textures/_CP14/LobbyScreens/attributions.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/dough.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/pie.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/empty.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/frame.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/full.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/warning.png
  Resources/Textures/_CP14/Tiles/Dirt/attributions.yml
  Resources/Textures/_CP14/Tiles/attributions.yml
Labels: Changes: Sprites, Changes: Map, S: Untriaged, size/M

#816 Different crystals type update
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Flora/wild.yml
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/garland.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/elemental.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/shards.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/wild.yml
  Resources/Prototypes/_CP14/Entities/Structures/crystal.yml
  Resources/Prototypes/_CP14/Entities/Structures/kudzu.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_big.rsi/big0.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_big.rsi/big1.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_big.rsi/big2.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_big.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_medium.rsi/medium0.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_medium.rsi/medium1.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_medium.rsi/medium2.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_medium.rsi/medium3.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_medium.rsi/medium4.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_medium.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_shard.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_shard.rsi/shard0.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_shard.rsi/shard1.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_shard.rsi/shard2.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_shard.rsi/shard3.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_small.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_small.rsi/small0.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_small.rsi/small1.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_small.rsi/small2.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_small.rsi/small3.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_small.rsi/small4.png
  Resources/Textures/_CP14/Structures/Flora/Crystal/crystal_small.rsi/small5.png
  Resources/Textures/_CP14/Structures/crystal.rsi/big.png
  Resources/Textures/_CP14/Structures/crystal.rsi/big_R.png
  Resources/Textures/_CP14/Structures/crystal.rsi/medium.png
  Resources/Textures/_CP14/Structures/crystal.rsi/medium_R.png
  Resources/Textures/_CP14/Structures/crystal.rsi/meta.json
  Resources/Textures/_CP14/Structures/crystal.rsi/shard.png
  Resources/Textures/_CP14/Structures/crystal.rsi/shard2.png
  Resources/Textures/_CP14/Structures/crystal.rsi/shard3.png
  Resources/Textures/_CP14/Structures/crystal.rsi/shard4.png
  Resources/Textures/_CP14/Structures/crystal.rsi/small.png
  Resources/Textures/_CP14/Structures/crystal.rsi/small_R.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#

#817 ice caves demiplane
  Resources/Locale/en-US/_CP14/demiplane/locations.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/locations.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/test_turret.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/elemental.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t1_ice_caves.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t1_snow_island.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/MapLight/mapLight.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/herbals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Weather/weather.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/tags.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_ice_caves.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_snow.yml
  Resources/Prototypes/_CP14/Procedural/biome_template_swamp.yml
  Resources/Prototypes/_CP14/Tiles/natural.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/Alchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/Alchemy.xml
  Resources/Textures/_CP14/Tiles/attributions.yml
  Resources/Textures/_CP14/Tiles/ice.png
Labels: S: Untriaged, Changes: No C#, size/M

#818 Fixing bugs and translations
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/speech/speech-chatsan.ftl
  Resources/Locale/ru-RU/_CP14/tips/tip.ftl
  Resources/Locale/ru-RU/_CP14/travelingStoreship/position_sell_special.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/test_armor.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Drinks/mugs.yml
Labels: S: Untriaged, Changes: No C#

#820 Stackable ore
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Materials/ores.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/ore_veins.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
  Resources/Prototypes/_CP14/Stacks/ores.yml
  Resources/Textures/_CP14/Objects/Materials/copper_ore.rsi/ore2.png
  Resources/Textures/_CP14/Objects/Materials/copper_ore.rsi/ore3.png
  Resources/Textures/_CP14/Objects/Materials/gold_ore.rsi/ore2.png
  Resources/Textures/_CP14/Objects/Materials/gold_ore.rsi/ore3.png
  Resources/Textures/_CP14/Objects/Materials/iron_ore.rsi/ore2.png
  Resources/Textures/_CP14/Objects/Materials/iron_ore.rsi/ore3.png
  Resources/Textures/_CP14/Objects/Materials/mithril_ore.rsi/ore2.png
  Resources/Textures/_CP14/Objects/Materials/mithril_ore.rsi/ore3.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#824 Fixes
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/_CP14/BiomeSpawner/EntitySystems/CP14BiomeSpawnerSystem.cs
  Content.Server/_CP14/RoundSeed/CP14RoundSeedComponent.cs
  Content.Server/_CP14/RoundSeed/CP14RoundSeedSystem.cs
  Resources/Locale/en-US/_CP14/worldEdge/world-edge.ftl
  Resources/Locale/ru-RU/_CP14/worldEdge/world-edge.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Textures/_CP14/Objects/Materials/flora.rsi/grass_material2.png
  Resources/Textures/_CP14/Objects/Materials/flora.rsi/grass_material3.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, size/M
