Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-04, with the labels that each got.

#1113 April fools fix
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Guidebook/entry.yml
  Resources/Prototypes/_CP14/Reagents/ingots.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/TOPSECRET.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/TOPSECRET.xml
Labels: Changes: No C#, size/S

#1112 Fix bandage
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/BradFamily/buy.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: No C#, size/S

#1106 Fix mana damage
  Resources/Prototypes/_CP14/Recipes/Reactions/Thaumaturgy/target_effect_creation_on_water.yml
Labels: Changes: No C#, size/S

#1122 Furcoat carcat
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/equipped-CLOAK-carcat.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#1123 The guildmaster's rapier was not given out in the round.
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Mercenary/guildmaster.yml
Labels: Changes: No C#, size/S

#1125 fix constructions
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/closets.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/curtains.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Doors/grilles.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Doors/iron_doors.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Doors/wooden_doors.yml
Labels: Changes: No C#, size/S

#1131 Dynamic demiplane weather + farming hotfix
  Content.Server/_CP14/GameTicking/Rules/CP14WeatherRule.cs
  Content.Server/_CP14/WeatherControl/CP14WeatherControllerComponent.cs
  Content.Server/_CP14/WeatherControl/CP14WeatherControllerSystem.cs
  Content.Shared/_CP14/Farming/CP14SharedFarmingSystem.Interactions.cs
  Content.Shared/_CP14/WeatherControl/CP14WeatherData.cs
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Maps/_CP14/factoria.yml
  Resources/Maps/_CP14/factoria_d.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorLava.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/cabbage.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/cucumber.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/onion.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/pepper.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/potato.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/pumpkin.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/sage.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/tomatoes.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/wheat.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/base.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t2_magma_caves.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/MapLight/mapLight.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Weather/weather.yml
  Resources/Prototypes/_CP14/Reagents/precurser.yml
  Resources/Prototypes/_CP14/weather.yml
  Resources/Textures/_CP14/Mobs/Species/Skeleton/parts.rsi/full.png
  Resources/Textures/_CP14/Mobs/Species/Skeleton/parts.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, size/M

#1129 Adapted watchers
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Prototypes/_CP14/Damage/modifier_sets.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/watcher.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
Labels: Changes: No C#, size/M, S: Needs Review

#1136 Ru Localization Sync
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Farming/seeds.yml
  Resources/Prototypes/_CP14/Loadouts/skill_tree.yml
  Tools/_CP14/LocalizationHelper/last_launch_result/result.json
Labels: Changes: No C#

#1137 update
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
Labels: Changes: Map, size/L, Changes: No C#

#1141 Carcat tails
  Resources/Locale/en-US/_CP14/markings/carcat-tails.ftl
  Resources/Locale/ru-RU/_CP14/markings/carcat-tails.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/carcat_tails.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
  Resources/Prototypes/_CP14/Species/carcat.yml
  Resources/Textures/_CP14/Mobs/Customization/carcat_tail.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/carcat_tail.rsi/tail.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_tail.rsi/tail_fluffy.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_tail.rsi/tail_fluffy_waggin.png
  Resources/Textures/_CP14/Mobs/Customization/carcat_tail.rsi/tail_waggin.png
Labels: Changes: Sprites, Changes: No C#

#1144 Floors that players can craft
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.cs
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Workbench/misc.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Workbench/tile.yml
  Resources/Prototypes/_CP14/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_CP14/Tiles/produced.yml
  Resources/Prototypes/_CP14/Tiles/woodplanks.yml
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/foundation.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/marble.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/meta.json
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/oak_woodplanks.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/oak_woodplanks_big.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/oak_woodplanks_cruciform.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/oak_woodplanks_stairways.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/stonebrick.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/stonebrick_small_carved.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/stonebrick_small_carved2.png
  Resources/Textures/_CP14/Objects/Tile/tile.rsi/stonebrick_square_carved.png
Labels: Changes: Sprites, size/M

#1152 Master fix
  Resources/Prototypes/_CP14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Walls/WallMarble.yml
Labels: Changes: No C#

#1150 deep Comoss ocean
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWaterFake.yml
  Resources/Prototypes/_CP14/Procedural/fill.yml
  Resources/migration.yml
Labels: Changes: Map, size/L, Changes: No C#

#1165 Bunch of bugfixes
  Content.IntegrationTests/Tests/EntityTest.cs
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Constrained/test_xeno.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/watcher.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/xeno_test.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWater.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Species/silva.yml
  Resources/Textures/_CP14/Objects/Tools/crystal_lamp.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Objects/Tools/crystal_lamp.rsi/equipped-BELT2.png
Labels: Changes: Sprites, size/M

#1171 Farming rebalance
  Content.Server/_CP14/Farming/CP14FarmingSystem.Resourse.cs
  Content.Shared/_CP14/Farming/Components/CP14PlantFadingComponent.cs
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/cabbage.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/cucumber.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/onion.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/pepper.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/potato.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/pumpkin.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/sage.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/tomatoes.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/wheat.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/base.yml
Labels: size/M

#1173 frigid coast
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/Frigid_Coast_d.yml
  Resources/Prototypes/_CP14/Maps/Frigid_Coast.yml
  Resources/Prototypes/_CP14/Maps/Pools/default.yml
  Resources/Prototypes/_CP14/Procedural/fill.yml
  Resources/Prototypes/_CP14/Procedural/snow.yml
Labels: Changes: Map, size/XL, Changes: No C#

#1175 Weather refill
  Content.Server/_CP14/WeatherEffect/CP14WeatherEffectJob.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Content.Shared/_CP14/WeatherEffect/CP14WeatherRefillableComponent.cs
  Content.Shared/_CP14/WeatherEffect/Effects/ApplyEntityEffect.cs
  Content.Shared/_CP14/WeatherEffect/Effects/CP14WeatherEffect.cs
  Content.Shared/_CP14/WeatherEffect/Effects/RefillSolutions.cs
  Content.Shared/_CP14/WeatherEffect/Effects/SpawnEntityOnTop.cs
  Resources/Prototypes/_CP14/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/vat.yml
  Resources/Prototypes/_CP14/weather.yml
Labels: size/S

#1177 frigi coast fix
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/Frigid_Coast_d.yml
Labels: Changes: Map, size/XL, Changes: No C#

#1178 new round leave system
  Content.Server/_CP14/RoundLeave/CP14RoundLeaveComponent.cs
  Content.Server/_CP14/RoundLeave/CP14RoundLeaveSystem.cs
  Resources/Locale/en-US/_CP14/roundRemove/cryo.ftl
  Resources/Locale/ru-RU/_CP14/roundRemove/cryo.ftl
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/snowdrift.yml
  Resources/Prototypes/_CP14/Entities/Structures/test.yml
  Resources/Textures/_CP14/Effects/weather.rsi/flat.png
  Resources/Textures/_CP14/Effects/weather.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#1179 English OBT setup
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/ConfigPresets/_CP14/Dev.toml
Labels: size/S

#1181 Wastelands
  Content.Server/_CP14/WeatherEffect/CP14WeatherEffectJob.cs
  Resources/Locale/en-US/_CP14/demiplane/locations.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/locations.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t1_wastelands.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t2_magma_caves.yml
  Resources/Prototypes/_CP14/Procedural/fill.yml
  Resources/Prototypes/_CP14/Procedural/wastelands.yml
Labels: size/M

#1182 beards 2.0
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/5oclockmoustache.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/7oclock.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/7oclockmoustache.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/selleck.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/walrus.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#1103 Magic modifier armour
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Breastplate/chainmail.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Breastplate/cuirass.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/ModularArmor/Breastplate/infantry_cuirass.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1126 Amulets are jewellery
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/amulet.yml
  Resources/Textures/_CP14/Clothing/Rings/Amulet/amulet.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Rings/Amulet/amulet.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Rings/Amulet/amulet_mana.rsi/amethyst_stone.png
  Resources/Textures/_CP14/Clothing/Rings/Amulet/amulet_mana.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Rings/Amulet/amulet_mana.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#1176 Carcat sprites fix
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/equipped-BACKPACK-carcat.png
  Resources/Textures/_CP14/Clothing/Back/Backpacks/leather_backpack.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/equipped-BACKPACK-carcat.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/flipped-equipped-BACKPACK-carcat.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/jesters_cap.rsi/equipped-HELMET-carcat.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/jesters_cap.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Species/Carcat/displacement.rsi/gloves.png
Labels: Changes: Sprites, Changes: No C#, size/S

#1004 Discord Auth expanse
  Content.Client/_CP14/Discord/CP14DiscordAuthManager.cs
  Content.Client/_CP14/Discord/DiscordAuthGui.xaml.cs
  Content.Server/_CP14/Discord/DiscordAuthManager.cs
  Content.Shared/_CP14/Discord/MsgDiscordAuthRequired.cs
Labels: Changes: UI, S: Untriaged, size/M, S: Needs Review

#1142 Automatic Open tests
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/_CP14/Localization/CP14LocalizationVisualsSystem.cs
  Content.Client/_CP14/Shitcode/CP14EdSystem.cs
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.CBT.cs
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.cs
  Content.Shared/CCVar/CCVars.Localization.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Locale/en-US/_CP14/gameTicking/cbt.ftl
  Resources/Locale/ru-RU/_CP14/gameTicking/cbt.ftl
Labels: Changes: UI, size/M

#1191 A variety of fixes
  Resources/Locale/en-US/_CP14/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/consumable/food/ingredients.ftl
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/SpiceStream/sell_special.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/pie.yml
  Resources/Prototypes/_CP14/Entities/Objects/Keys/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Keys/keyrings.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bench.yml
  Resources/Prototypes/_CP14/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/pie.rsi/burnt_pie.png
  Resources/Textures/_CP14/Objects/Consumable/Food/pie.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#1189 Simple sponsorship system
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/_CP14/Sponsor/CP14ClientSponsorManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/_CP14/Discord/DiscordAuthManager.cs
  Content.Server/_CP14/JoinQueue/JoinQueueManager.cs
  Content.Server/_CP14/Sponsor/CP14SponsorManager.cs
  Content.Shared/Preferences/Loadouts/Effects/JobRequirementLoadoutEffect.cs
  Content.Shared/Roles/JobRequirement/AgeRequirement.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/SpeciesRequirement.cs
  Content.Shared/Roles/JobRequirement/TraitsRequirement.cs
  Content.Shared/Roles/JobRequirements.cs
  Content.Shared/_CP14/CCvar/CCvars.CP14Sponsors.cs
  Content.Shared/_CP14/Roles/CP14SponsorFeatureRequired.cs
  Content.Shared/_CP14/Sponsor/CP14SharedSponsorManager.cs
  Content.Shared/_CP14/Sponsor/CP14SponsorRolePrototype.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Locale/en-US/_CP14/job/requirements.ftl
  Resources/Locale/ru-RU/_CP14/job/requirements.ftl
  Resources/Prototypes/_CP14/Sponsor/features.yml
  Resources/Prototypes/_CP14/Sponsor/roles.yml
Labels: size/M

#1164 sharpness reduce on throw hit
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Shared/_CP14/MeleeWeapon/Components/CP14SharpenedComponent.cs
  Content.Shared/_CP14/MeleeWeapon/EntitySystems/CP14SharpeningSystem.cs
Labels: size/S

#1192 all maps fixes
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Maps/_CP14/dev_map.yml
Labels: Changes: Map, size/XL, Changes: No C#

#1197 Random bullfix go!
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Shared/_CP14/Farming/CP14SharedFarmingSystem.Interactions.cs
  Content.Shared/_CP14/TileEditTool/CP14EditTileToolSystem.cs
  Resources/Locale/en-US/_CP14/tiles/tiles.ftl
  Resources/Locale/ru-RU/_CP14/tiles/tiles.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/misc.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/rocks.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/chasm.yml
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorLava.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/grasshighbush.yml
  Resources/Prototypes/_CP14/Tiles/natural.yml
  Resources/Prototypes/_CP14/Tiles/produced.yml
  Resources/Textures/_CP14/Tiles/Cobblestone/attributions.yml
  Resources/Textures/_CP14/Tiles/Cobblestone/cobble.png
  Resources/Textures/_CP14/Tiles/Cobblestone/double_edge_E.png
  Resources/Textures/_CP14/Tiles/Cobblestone/double_edge_N.png
  Resources/Textures/_CP14/Tiles/Cobblestone/double_edge_S.png
  Resources/Textures/_CP14/Tiles/Cobblestone/double_edge_W.png
  Resources/Textures/_CP14/Tiles/Cobblestone/single_edge_NE.png
  Resources/Textures/_CP14/Tiles/Cobblestone/single_edge_NW.png
  Resources/Textures/_CP14/Tiles/Cobblestone/single_edge_SE.png
  Resources/Textures/_CP14/Tiles/Cobblestone/single_edge_SW.png
  Resources/Textures/_CP14/Tiles/Stonebricks/stonebricks.png
  Resources/Textures/_CP14/Tiles/Stonebricks/stonebricks_square_carved.png
Labels: size/M

#1198 Raids
  Resources/Locale/en-US/_CP14/ghostRoles/roles.ftl
  Resources/Locale/en-US/_CP14/ghostRoles/rules.ftl
  Resources/Locale/en-US/_CP14/mind/role-types.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/roles.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/rules.ftl
  Resources/Locale/ru-RU/_CP14/mind/role-types.ftl
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/Frigid_Coast_d.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Maps/_CP14/dev_map.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/demiplane_rifts.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/zombie.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/TownRaids/undead.yml
  Resources/Prototypes/_CP14/GameRules/events.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/NPCs/zombie.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Roles/Antags/demiplane_antag.yml
  Resources/Prototypes/_CP14/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_CP14/Roles/role_types.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Structures/Storage/Crates/small_wooden_crate.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Crates/small_wooden_crate.rsi/open.png
Labels: Changes: Sprites, Changes: Map, size/XL, Changes: No C#

#1200 Ice bow artifact
  Content.Client/_CP14/Shitcode/CP14EdSystem.cs
  Content.Server/_CP14/Lighthouse/CP14LighthouseComponent.cs
  Content.Server/_CP14/Lighthouse/CP14LighthouseSystem.cs
  Content.Server/_CP14/PVS/CP14PvsOverrideComponent.cs
  Content.Server/_CP14/PVS/CP14PvsOverrideSystem.cs
  Content.Server/_CP14/UniqueLoot/CP14UniqueLootSystem.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_arrow.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/wendigo.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/bow.yml
  Resources/Prototypes/_CP14/Entities/Structures/lighthouse.yml
  Resources/Prototypes/_CP14/UniqueLoot/demiplane_loot.yml
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/equipped-NECK.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/unwielded-arrow.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/unwielded.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/wielded-arrow.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/wielded-inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Ranged/ice_bow.rsi/wielded.png
Labels: Changes: Sprites, size/M

#1185 Bell
  Resources/Audio/_CP14/Effects/attributions.yml
  Resources/Audio/_CP14/Effects/bell.ogg
  Resources/Audio/_CP14/Effects/bell_short.ogg
  Resources/Prototypes/_CP14/Entities/Objects/Misc/bell.yml
  Resources/Prototypes/_CP14/SoundCollections/misc.yml
  Resources/Textures/_CP14/Objects/Misc/bell.rsi/icon.png
  Resources/Textures/_CP14/Objects/Misc/bell.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Misc/bell.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Misc/bell.rsi/meta.json
Labels: Changes: Sprites, Status: Awaiting Changes, Changes: No C#, size/S, S: Needs Review, Changes: Audio

#1206 Modular helmet
  Resources/Locale/en-US/_CP14/modularCraft/slots.ftl
  Resources/Locale/ru-RU/_CP14/modularCraft/slots.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/ModularArmor/Aventail/chainmail.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/ModularArmor/Aventail/plate.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/ModularArmor/Helmet/capellina.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/ModularArmor/Helmet/palm_helmet.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/ModularArmor/Visor/chainmail.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/ModularArmor/Visor/plate.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Produced/armor.yml
  Resources/Prototypes/_CP14/Entities/Clothing/ModularPresets/armour.yml
  Resources/Prototypes/_CP14/ModularCraft/Helmet/Aventail/chainmail.yml
  Resources/Prototypes/_CP14/ModularCraft/Helmet/Aventail/plate.yml
  Resources/Prototypes/_CP14/ModularCraft/Helmet/Visor/chainmail.yml
  Resources/Prototypes/_CP14/ModularCraft/Helmet/Visor/plate.yml
  Resources/Prototypes/_CP14/ModularCraft/slots.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_aventail.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_helmet.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_visor.yml
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Aventail/chainmail.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Aventail/chainmail.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Aventail/chainmail.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Aventail/plate.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Aventail/plate.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Aventail/plate.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Helmet/capellina.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Helmet/capellina.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Helmet/capellina.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Helmet/palm_helmet.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Helmet/palm_helmet.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Helmet/palm_helmet.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Visor/chainmail.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Visor/chainmail.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Visor/chainmail.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Visor/plate.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Visor/plate.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/ModularArmor/Visor/plate.rsi/meta.json
Labels: Changes: Sprites, size/L, Changes: No C#

#1208 codeowners
  .github/CODEOWNERS
Labels: Changes: No C#, size/S, S: Needs Review

#1218 Bugfixes + QoL
  Content.Client/Audio/ContentAudioSystem.CP14AmbientLoop.cs
  Content.Client/_CP14/ModularCraft/CP14ClientModularCraftSystem.cs
  Content.Client/_CP14/TravelingStoreShip/CP14StoreWindow.xaml
  Content.Client/_CP14/Workbench/CP14WorkbenchBoundUserInterface.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml.cs
  Content.Shared/_CP14/LockKey/SharedCP14LockKeySystem.cs
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergySystem.cs
  Content.Shared/_CP14/Workbench/CP14WorkbenchUI.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipeCategoryPrototype.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Resources/Locale/en-US/_CP14/workbench/categories.ftl
  Resources/Locale/ru-RU/_CP14/workbench/categories.ftl
  Resources/Prototypes/_CP14/Entities/Structures/Floor/floorWater.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/round_end.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_aventail.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_blade.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_breastplate.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_cuisses.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_garde.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_greave.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_helmet.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_tip.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_visor.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Workbench/misc.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Workbench/tile.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/categories.yml
Labels: Changes: UI, size/M

#1220 fix: mistakes in legal.md
  Legal.md
Labels: Changes: No C#, size/XS

#1221 Recolor "Pack №1"
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/blue_syurko.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/blue_syurko.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/blue_syurko.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat_brown.rsi/equipped-CLOAK-carcat.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat_brown.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat_brown.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat_brown.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/green_syurko.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/green_syurko.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/green_syurko.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/white_syurko.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/white_syurko.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/white_syurko.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/yellow_syurko.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/yellow_syurko.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/yellow_syurko.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/green_hunter_hat.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/green_hunter_hat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/green_hunter_hat.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/red_hunter_hat.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/red_hunter_hat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/red_hunter_hat.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Masks/green_neckerchief.rsi/equipped-MASK.png
  Resources/Textures/_CP14/Clothing/Masks/green_neckerchief.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Masks/green_neckerchief.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Masks/red_neckerchief.rsi/equipped-MASK.png
  Resources/Textures/_CP14/Clothing/Masks/red_neckerchief.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Masks/red_neckerchief.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#1147 [Fix]Roof
  Content.Shared/_CP14/Roof/CP14NoRoofInTile.cs
  Resources/Locale/en-US/_CP14/construction/no-roof-in-tile.ftl
  Resources/Locale/ru-RU/_CP14/construction/no-roof-in-tile.ftl
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Roofs/roofs.yml
  Resources/Prototypes/_CP14/Recipes/Construction/roofs.yml
Labels: Status: Awaiting Changes, size/S, S: Needs Review

#1213 Wendigo renamed to Lurker
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Resources/Audio/_CP14/Effects/Lurker/ambient.ogg
  Resources/Audio/_CP14/Effects/Lurker/attributions.yml
  Resources/Audio/_CP14/Effects/Lurker/ritual1.ogg
  Resources/Audio/_CP14/Effects/Lurker/ritual2.ogg
  Resources/Audio/_CP14/Effects/Lurker/ritual3.ogg
  Resources/Locale/en-US/_CP14/ghostRoles/roles.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/spell-speech.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/roles.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/spell-speech.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Lurker/Fear.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Lurker/Kick.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Lurker/Step.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/lurker.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/SoundCollections/misc.yml
  Resources/Prototypes/_CP14/audio_loops.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Actions/Spells/lurker.rsi/fear.png
  Resources/Textures/_CP14/Actions/Spells/lurker.rsi/kick.png
  Resources/Textures/_CP14/Actions/Spells/lurker.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/lurker.rsi/step.png
  Resources/Textures/_CP14/Mobs/Monster/lurker.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/lurker.rsi/live.png
  Resources/Textures/_CP14/Mobs/Monster/lurker.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review, Changes: Audio

#1225 Storage durability rebalance + Fuck nails
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Resources/Locale/en-US/_CP14/materials/materials.ftl
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/materials/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/blacksmith.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/base_chest.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/chests.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/coffin.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_CP14/Materials/simple.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/closets.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/curtains.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Misc/target.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Storage/barrels.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Storage/chests.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Storage/coffins.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Storage/crates.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Doors/iron_doors.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Workbench/misc.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Materials/nails.rsi/meta.json
  Resources/Textures/_CP14/Objects/Materials/nails.rsi/nail.png
  Resources/Textures/_CP14/Objects/Materials/nails.rsi/nail_2.png
  Resources/Textures/_CP14/Objects/Materials/nails.rsi/nail_3.png
  Resources/migration.yml
Labels: Changes: Sprites, size/M, S: Needs Review

#1229 Loc fix
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Tools/_CP14/LocalizationHelper/LocalizationHelper/parsers/fluent/ftl_reader.py
Labels: Changes: No C#, size/XS, S: Needs Review

#1230 VisionCorrectorGlasses
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1245 Fix master
  Resources/Prototypes/_CP14/Species/tiefling.yml
Labels: Changes: No C#

#1140 Dimensional
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Checks.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.DelayedActions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.InstantActions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.ToggleableActions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectAliveTargetRequiredComponent.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14CastMagicEffectEvent.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14DelayedActionEvents.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellCasterSwap.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellEffect.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/magic-types.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/thaumaturgy/essence.ftl
  Resources/Locale/en-US/_CP14/skill/skill_tree.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-types.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/thaumaturgy/essence.ftl
  Resources/Locale/ru-RU/_CP14/skill/skill_tree.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Death/T1_resurrection.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T0_demiplane_infiltration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T0_monolith_warp.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T1_shadow_swap.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T2_shadow_step.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/sort_later.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/essence.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Prototypes/_CP14/Loadouts/skill_tree.yml
  Resources/Prototypes/_CP14/Reagents/magic_essence.yml
  Resources/Prototypes/_CP14/Skill/dimension.yml
  Resources/Prototypes/_CP14/Skill/skill_tree.yml
  Resources/Textures/_CP14/Actions/Spells/dimension.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/dimension.rsi/shadow_swap.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/dimension.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/meta.json
Labels: Changes: Sprites, Status: Awaiting Changes, size/M, S: Needs Review

#1250 Gob hairs
  Resources/Locale/en-US/_CP14/markings/goblin-hair.ftl
  Resources/Locale/ru-RU/_CP14/markings/goblin-hair.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/goblin_hairs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/Graphs/improvised/gauze.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/Graphs/improvised/herbal_bandage.yml
  Resources/Prototypes/_CP14/Species/goblin.yml
  Resources/Textures/_CP14/Mobs/Customization/goblin_hair.rsi/antenna.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_hair.rsi/bedheadv2.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_hair.rsi/doublebun.png
  Resources/Textures/_CP14/Mobs/Customization/goblin_hair.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Species/Goblin/displacement.rsi/hair.png
  Resources/Textures/_CP14/Mobs/Species/Goblin/displacement.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Species/Goblin/displacement48.rsi/hair.png
  Resources/Textures/_CP14/Mobs/Species/Goblin/displacement48.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S
