Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-08, with the labels that each got.

#1603 Air Saturation spell
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/air_saturation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/plant_growth.yml
  Resources/Prototypes/_CP14/Skill/Basic/healing.yml
  Resources/Textures/_CP14/Actions/Spells/healing.rsi/air_saturation.png
  Resources/Textures/_CP14/Actions/Spells/healing.rsi/meta.json
Labels: Sprites, YML, No C#, S: Needs Review

#1571 Removed the recipe for the copper armour
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Textures/_CP14/Clothing/OuterClothing/brass_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/brass_armor.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/brass_armor.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/OuterClothing/brass_armor.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/OuterClothing/brass_armor.rsi/meta.json
  Resources/migration.yml
Labels: Sprites, YML, No C#, Mapping, S: Needs Review

#1607 Non-gibbing demiplanes
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Stabilization.cs
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplaneForceExtractComponent.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplaneStabilizerComponent.cs
  Resources/Prototypes/_CP14/Entities/Mobs/Player/Patrons/gods.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
Labels: YML, C#, S: Needs Review

#1617 Disable some vanilla integration tests
  Content.IntegrationTests/Tests/ContrabandTest.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.IntegrationTests/Tests/Lathe/LatheTest.cs
  Content.IntegrationTests/Tests/SalvageTest.cs
  Content.IntegrationTests/Tests/ShuttleTest.cs
  Content.IntegrationTests/Tests/StoreTests.cs
  Content.IntegrationTests/Tests/Wires/WireLayoutTest.cs
  Content.IntegrationTests/Tests/XenoArtifactTest.cs
Labels: C#, S: Needs Review

#1616 Demiplanes redesign again
  Content.Server/_CP14/Procedural/CP14LocationGenerationSystem.cs
  Content.Server/_CP14/Procedural/CP14StationProceduralLocationComponent.cs
  Content.Server/_CP14/Procedural/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/Procedural/Demiplane/Components/CP14DemiplaneBlockInteractionsComponent.cs
  Content.Server/_CP14/Procedural/Demiplane/Components/CP14DemiplaneEnterPointComponent.cs
  Content.Server/_CP14/Procedural/Demiplane/Components/CP14DemiplaneMapComponent.cs
  Content.Server/_CP14/Procedural/Demiplane/Components/CP14DemiplaneRiftComponent.cs
  Content.Server/_CP14/Procedural/GenerationLayers/CP14Rooms.cs
  Content.Server/_CP14/Procedural/GlobalWorld/CP14GlobalWorldSystem.cs
  Content.Server/_CP14/Procedural/GlobalWorld/Components/CP14GlobalWorldConnectorComponent.cs
  Content.Server/_CP14/Procedural/GlobalWorld/Components/CP14StationGlobalWorldComponent.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellThrowFromUser.cs
  Content.Shared/_CP14/Procedural/Prototypes/CP14ProceduralLocationPrototype.cs
  Resources/Maps/_CP14/Dungeon/demiplane_arc.yml
  Resources/Maps/_CP14/Dungeon/location_connections.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/misc.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/rifts.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/Maps/nautilus_ship.yml
  Resources/Prototypes/_CP14/Maps/venicialis.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/StationMaps/comoss_island.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/StationMaps/venicialis_fort.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_ice.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_magma.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_mushroom.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_swamp.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/island_grassland.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/island_snow.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/leaf_maze.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/wastelands.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Fun/lol.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/GhostRoleDanger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/MapLight/mapLight.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Ore/ores.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Passage/passage.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/rooms.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/categories.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/connections.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/special.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Rooms/demiplane_arc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Rooms/demiplane_enter.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Rooms/location_connections.yml
  Resources/migration.yml
Labels: YML, C#, Mapping, S: Needs Review

#1618 Backpacks tweaks
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/pouch.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
Labels: YML, No C#, S: Needs Review

#1621 Sphere of light returns
  Content.Shared/StatusEffectNew/StatusEffectsSystem.cs
  Resources/Prototypes/_CP14/Alerts/status_effect.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/sphere_of_light.yml
  Resources/Prototypes/_CP14/Entities/StatusEffects/misc.yml
Labels: YML, C#, S: Needs Review

#1627 fix generation dublication
  Content.Server/_CP14/Procedural/GenerationLayers/CP14Biome.cs
  Content.Server/_CP14/Procedural/GenerationLayers/CP14Ore.cs
  Content.Server/_CP14/Procedural/GenerationLayers/CP14Rooms.cs
Labels: C#

#1629 TYPO Fixes for key ids
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Keys/Catalog/blacksmith.yml
  Resources/Prototypes/_CP14/Entities/Objects/Keys/Catalog/merchant.yml
  Resources/Prototypes/_CP14/Entities/Objects/Keys/keyrings.yml
Labels: YML, No C#

#1632 Spell rebalance
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/firewave.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_arrow.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_dagger.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_shards.yml
Labels: YML, No C#, S: Needs Review

#1625 Carcats can eat raw meat
  Resources/Prototypes/_CP14/Body/Prototypes/carcat.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
Labels: YML, No C#, S: Needs Review

#1630 Soup bugfix and price change
  Content.Shared/_CP14/Cooking/CP14SharedCookingSystem.cs
  Content.Shared/_CP14/Workbench/Requirements/FoodResource.cs
Labels: C#, S: Needs Review

#1624 Add universal key
  Content.Shared/_CP14/LockKey/Components/CP14KeyUniversalComponent.cs
  Content.Shared/_CP14/LockKey/SharedCP14LockKeySystem.cs
  Resources/Locale/en-US/_CP14/lockKey/keyring.ftl
  Resources/Locale/ru-RU/_CP14/lockKey/keyring.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Keys/key.yml
Labels: YML, C#, S: Needs Review

#1636 Bugfix portion
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Athletic/kick.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Athletic/sprint.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/moon_strike.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Electric/lightning_strike.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Electric/lightning_strike_small.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Lurker/Kick.yml
  Resources/Prototypes/_CP14/Entities/fire.yml
Labels: YML, No C#

#1637 Alert sprite size fix
  Content.Client/UserInterface/Systems/Alerts/Controls/AlertControl.cs
Labels: Sprites, YML, C#, UI, S: Needs Review

#1455 Lurker cape
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/magic_cloak.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/sort_later.yml
  Resources/Prototypes/_CP14/UniqueLoot/demiplane_loot.yml
  Resources/Textures/_CP14/Clothing/Cloak/lurker_cape.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/lurker_cape.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/lurker_cape.rsi/meta.json
Labels: Sprites, YML, No C#, S: Needs Review

#1643 Material spell aspect support
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Checks.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectMaterialAspectComponent.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Earth/T1_earth_wall.yml
Labels: YML, C#

#1596 Перевод на RU
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Carpet/carpet.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/chairs.yml
Labels: YML, No C#

#1638 Leather rework
  Resources/Locale/en-US/_CP14/materials/materials.ftl
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/materials/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_explorer.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/container_base.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/pouch.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/mole.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/watcher.yml
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/hide.yml
  Resources/Prototypes/_CP14/Entities/Objects/Ingredients/leather.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/_CP14/Materials/simple.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_explorer.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/belts.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/butchers.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/dwarf_mining.yml
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/hide1.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/hide2.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/hide3.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/meta.json
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/rugged_hide1.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/rugged_hide2.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/rugged_hide3.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/thin_hide1.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/thin_hide2.png
  Resources/Textures/_CP14/Objects/Ingredients/hide.rsi/thin_hide3.png
Labels: Sprites, YML, No C#

#1650 no more magic type mana armor
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_armor.yml
Labels: YML, No C#, S: Needs Review

#1652 Carcat guidebook tweak
  Resources/ServerInfo/_CP14/Guidebook_EN/SpeciesTabs/Carcat.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/SpeciesTabs/Carcat.xml
Labels: No C#, S: Needs Review

#1649 Convert flem sounds from stereo to mono
  Resources/Audio/_CP14/Animals/flem1.ogg
  Resources/Audio/_CP14/Animals/flem2.ogg
  Resources/Audio/_CP14/Animals/flem3.ogg
Labels: No C#, Audio

#1647 Backpacks description and categories
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipeCategoryPrototype.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Resources/Locale/en-US/_CP14/workbench/categories.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/workbench/categories.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Back/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_explorer.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/backpacks_satchels.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/belts.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/LeatherWorking/tanner.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/categories.yml
Labels: YML, C#, No C#, UI, S: Needs Review

#1644 Cookbook
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/guidebooks.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/inkeeper.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/jobs.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/inkeeper.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/jobs.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/InnkeeperTabs/Cooking.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/InnkeeperTabs/First_dish.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/InnkeeperTabs/Cooking.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/InnkeeperTabs/First_dish.xml
Labels: YML, No C#, S: Needs Review

#1661 Spell pre-examine
  Content.Client/Actions/UI/ActionAlertTooltip.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Checks.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Examine.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectTargetMobStatusRequiredComponent.cs
  Content.Shared/_CP14/Skill/Effects/AddAction.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
Labels: C#

#1671 More spell balance
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Electric/speed_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/firewave.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/heat.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/hell_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/freeze.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_shards.yml
Labels: YML, No C#, S: Needs Review

#1674 Price of artifacts
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Drinks/goblet.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
Labels: YML, No C#

#1447 Skeleton inteligence
  Resources/Prototypes/_CP14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T1.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T2.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/TownRaids/undead.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/round_end.yml
  Resources/Prototypes/_CP14/Entities/Tiles/astral_corrosion.yml
  Resources/Prototypes/_CP14/Religion/religions.yml
Labels: YML, No C#, S: Needs Review

#1688 Updating damageModifierSet structures
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/cobwebs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/flags_wallmount.yml
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/statues.yml
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/tombstones.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/barrel_crane.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bench.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bonfire.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/closets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/curtains.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/furnace.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/lamppost.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/mannequin.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/pallets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/safe.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/torch.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/wallmount_order_border.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/crates.yml
Labels: YML, No C#, S: Needs Review

#1685 No cloth dupe
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
Labels: YML, No C#, S: Needs Review

#1696 Vampire hotfix
  Content.Client/_CP14/Vampire/CP14ShowVampireIconsSystem.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/GameTicking/Rules/CP14CrashToWildlandsRule.cs
  Content.Server/_CP14/Procedural/CP14SpawnProceduralLocationJob.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Checks.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectPacifiedBlockComponent.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectSSDBlockComponent.cs
  Content.Shared/_CP14/Skill/CP14SharedSkillSystem.cs
  Content.Shared/_CP14/Vampire/CP14SharedVampireSystem.cs
  Content.Shared/_CP14/Vampire/Components/CP14ShowVampireFactionComponent.cs
  Content.Shared/_CP14/Vampire/Components/CP14VampireComponent.cs
  Resources/Locale/en-US/_CP14/construction/category.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/en-US/_CP14/vampire/vampire.ftl
  Resources/Locale/ru-RU/_CP14/construction/category.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/vampire/vampire.ftl
  Resources/Prototypes/_CP14/Alerts/status_effect.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/plant_growth.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/bite.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/hypnosys.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/power_punch.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/search_vampire.yml
  Resources/Prototypes/_CP14/Entities/StatusEffects/misc.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Vampire/vampire.yml
  Resources/Prototypes/_CP14/GameRules/subgamemodes.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/Maps/venicialis.yml
  Resources/Prototypes/_CP14/Reagents/blood.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Vampire/workbench.yml
  Resources/Prototypes/_CP14/Recipes/Construction/vampire.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
  Resources/Prototypes/_CP14/Skill/Vampire/vampire.yml
Labels: YML, C#, S: Needs Review

#1698 No memes
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
Labels: YML, No C#, S: Needs Review

#1705 Fix daylight
  Content.Shared/Light/Components/LightCycleComponent.cs
  Content.Shared/Light/Components/SunShadowCycleComponent.cs
  Content.Shared/Light/EntitySystems/SharedLightCycleSystem.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleSystem.cs
  Content.Shared/_CP14/Random/Rules/CP14IsNight.cs
  Resources/Maps/_CP14/venicialis.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/MapLight/mapLight.yml
Labels: YML, C#, Mapping, S: Needs Review

#1659 Spineguard
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/monster_toxins.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/monster_toxins.ftl
  Resources/Prototypes/_CP14/Alerts/status_effect.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Misc/MOB_vuln_spikes.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/demiplane_rifts.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/spineguard.yml
  Resources/Prototypes/_CP14/Entities/StatusEffects/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Reagents/monster_toxins.yml
  Resources/Textures/_CP14/Actions/Spells/misc.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/misc.rsi/vulnerability.png
  Resources/Textures/_CP14/Mobs/Monster/spineguard.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/spineguard.rsi/live.png
  Resources/Textures/_CP14/Mobs/Monster/spineguard.rsi/meta.json
Labels: Sprites, YML, No C#, S: Needs Review
