Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-05, with the labels that each got.

#1145 Ultraskeletom Revmech Update
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Death/cure_dead.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Death/cure_dead_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/kick.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/sprint.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/bone_cloak.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T1.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T2.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/TownRaids/undead.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/daggers.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/sword.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/skeleton_startinggear.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/undead_startinggear.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Textures/_CP14/Actions/Spells/necromancy.rsi/cure_dead.png
  Resources/Textures/_CP14/Actions/Spells/necromancy.rsi/dead_heal_ballade.png
  Resources/Textures/_CP14/Actions/Spells/necromancy.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/physical.rsi/kick_skull.png
  Resources/Textures/_CP14/Actions/Spells/physical.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/physical.rsi/sprint_skull.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_cloak.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_cloak.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_cloak.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/bone_mage_cloak.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_mage_cloak.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_mage_cloak.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/bone_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/bone_armor.rsi/icon.png
Labels: Changes: Sprites, Status: Awaiting Changes, size/L, Changes: No C#, S: Needs Review

#1253 Medieval Screwdriver
  Resources/Prototypes/_CP14/Entities/Objects/Tools/screwdriver.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Workbench/misc.yml
  Resources/Textures/_CP14/Objects/Tools/screwdriver.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/screwdriver.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Tools/screwdriver.rsi/meta.json
  Resources/Textures/_CP14/Objects/Tools/screwdriver.rsi/screwdriver.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1256 Demiplane maps aftertest tweaks
  Content.Client/_CP14/DemiplaneTraveling/CP14DemiplaneMapWindow.xaml
  Content.Client/_CP14/DemiplaneTraveling/CP14DemiplaneMapWindow.xaml.cs
  Content.Server/_CP14/DemiplaneTraveling/CP14StationDemiplaneMapSystem.cs
  Content.Shared/_CP14/DemiplaneTraveling/CP14DemiplaneNavigationMapComponent.cs
  Resources/Maps/_CP14/Dungeon/artifact_room.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/demiplane_keys.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/round_end.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_ice.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/island_snow.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/leaf_maze.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/wastelands.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/GhostRoleDanger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/herbals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/ores.yml
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/coord.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/core.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/core1.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/core2.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/core3.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/core4.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI

#1255 sttopid skeleton fixes
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T1.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T2.yml
Labels: Changes: No C#, S: Needs Review

#1244 Ребаланс выпадения руды
  Resources/Prototypes/_CP14/Entities/Structures/Walls/ore_veins.yml
Labels: Changes: No C#, size/XS

#1231 Перевод на RU
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_dagger.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/pie.yml
Labels: Changes: No C#, size/M

#1242 Guard bell
  Content.Client/_CP14/UserInterface/GuardBellBoundUserInterface.cs
  Content.Client/_CP14/UserInterface/GuardBellMenu.xaml
  Content.Client/_CP14/UserInterface/GuardBellMenu.xaml.cs
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Resources/Audio/_CP14/Misc/attributions.yml
  Resources/Audio/_CP14/Misc/major-alert.ogg
  Resources/Audio/_CP14/Misc/minor-alert.ogg
  Resources/Audio/_CP14/Misc/safe-alert.ogg
  Resources/Locale/en-US/_CP14/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/_CP14/construction/guard-bell.ftl
  Resources/Locale/ru-RU/_CP14/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/_CP14/construction/guard-bell.ftl
  Resources/Prototypes/_CP14/AlertLevels/alert_levels.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Guard/GuardBell.yml
  Resources/Prototypes/_CP14/Entities/Stations/base.yml
  Resources/Textures/_CP14/Structures/Specific/Guard/guard_bell.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Guard/guard_bell.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, size/M, S: Needs Review, Changes: Audio

#1261 Meat cooked sprite
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/cutlet.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/cutlet_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/dino_meat1_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/dino_meat2_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/human_meat1_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/human_meat2_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat1_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat2_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat3_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat4_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat5_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat6_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/rabbit_meat1_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/rabbit_meat2_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice2_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice3_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/sheepmeat_slice_cooked.png
Labels: Changes: Sprites, Changes: No C#, size/S

#1202 Spells extension
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/heat.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/demiplane.yml
  Resources/Prototypes/_CP14/Skill/pyrokinetic.yml
  Resources/Textures/_CP14/Actions/Spells/fire.rsi/heat.png
  Resources/Textures/_CP14/Actions/Spells/fire.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1257 Slime Crown
  Resources/Prototypes/_CP14/Entities/Clothing/Head/head.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/base.yml
  Resources/Prototypes/_CP14/ai_factions.yml
  Resources/Textures/_CP14/Clothing/Head/slime_crown.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/slime_crown.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/slime_crown.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1258 Fixing issues
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Workbench/misc.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1265 Myconide
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/myconide.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Wild/fly_agaric.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Wild/lumishrooms.yml
  Resources/Textures/_CP14/Mobs/Monster/flyagaric.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/flyagaric.rsi/flyagaric.png
  Resources/Textures/_CP14/Mobs/Monster/flyagaric.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/dead_cap.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/lumishroom.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/lumishroom_cap.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review

#1267 A set of clothes from Omsoyk
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/alchemist.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/alchemist.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Alchemist/alchemist_cloak.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Alchemist/alchemist_cloak.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Alchemist/alchemist_cloak2.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Alchemist/alchemist_cloak2.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Alchemist/alchemist_cloak2.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green_2.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green_2.rsi/icon-open.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green_2.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green_2.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green_2.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/purple.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/purple.rsi/icon-open.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/purple.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/purple.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/purple.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/blue_yellow_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/blue_yellow_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/blue_yellow_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_blue_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_blue_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_blue_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_blue_dress2.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_blue_dress2.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_blue_dress2.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_brown2_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_brown2_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_brown2_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_brown3_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_brown3_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_brown3_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_green_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_green_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_green_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_green_yellow_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_green_yellow_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_green_yellow_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_red_blue_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_red_blue_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/white_red_blue_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/yellow_blue_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/yellow_blue_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/yellow_blue_dress.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/blue_green.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/blue_green.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/blue_green.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/gray.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/gray.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/gray.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/green_yellow.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/green_yellow.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/green_yellow.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/white_brown.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/white_brown.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Shirts/white_brown.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1268 Shrimp progression
  Content.Server/_CP14/DemiplaneTraveling/CP14StationDemiplaneMapSystem.cs
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/rapier.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/skimitar.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/adventure.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/island_grassland_ring.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Ore/ores.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/categories.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Special/misc.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Guard/guard.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Guard/guard_commander.yml
  Resources/Prototypes/_CP14/Skill/martial_arts.yml
Labels: size/M

#1216 Mana trance
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_trance.yml
  Resources/Prototypes/_CP14/Skill/metamagic.yml
  Resources/Textures/_CP14/Actions/Spells/meta.rsi/mana_trance.png
  Resources/Textures/_CP14/Actions/Spells/meta.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1269 Silva Photosynthes returns + Carcat guidebook page
  Content.Server/_CP14/Farming/CP14FarmingSystem.Resourse.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.Draw.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleComponent.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleSystem.cs
  Resources/Prototypes/_CP14/Entities/Mobs/Species/silva.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/species.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/species.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/SpeciesTabs/Carcat.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/SpeciesTabs/Silva.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/SpeciesTabs/Carcat.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/SpeciesTabs/Silva.xml
Labels: size/M

#1270 Blood moon
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_CP14/Discord/DiscordAuthManager.cs
  Content.Server/_CP14/GameTicking/Rules/CP14BloodMoonCurseRule.cs
  Content.Server/_CP14/GameTicking/Rules/CP14BloodMoonRule.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14BloodMoonCurseRuleComponent.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14BloodMoonRuleComponent.cs
  Content.Shared/Light/EntitySystems/SharedLightCycleSystem.cs
  Content.Shared/_CP14/BloodMoon/CP14BloodMoonCurseComponent.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleComponent.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleSystem.cs
  Resources/Locale/en-US/_CP14/antag/antags.ftl
  Resources/Locale/en-US/_CP14/gameTicking/game-preserts.ftl
  Resources/Locale/en-US/_CP14/gameTicking/gameRules/blood-moon.ftl
  Resources/Locale/ru-RU/_CP14/antag/antags.ftl
  Resources/Locale/ru-RU/_CP14/gameTicking/game-preserts.ftl
  Resources/Locale/ru-RU/_CP14/gameTicking/gameRules/blood-moon.ftl
  Resources/Prototypes/_CP14/Entities/Effects/visual_effect.yml
  Resources/Prototypes/_CP14/GameRules/judgement_night.yml
  Resources/Prototypes/_CP14/Roles/Antags/demiplane_antag.yml
  Resources/Prototypes/_CP14/Roles/Antags/misc.yml
  Resources/Prototypes/_CP14/Roles/Antags/vampire.yml
  Resources/Prototypes/_CP14/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_CP14/game_presets.yml
  Resources/Prototypes/round_announcements.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/SpeciesTabs/Carcat.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/SpeciesTabs/Carcat.xml
  Resources/Textures/_CP14/Effects/Magic/blood_moon_curse.rsi/icon.png
  Resources/Textures/_CP14/Effects/Magic/blood_moon_curse.rsi/meta.json
Labels: Changes: Sprites, size/M

#1273 Search of life spell
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellPointer.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellPointerToAlive.cs
  Resources/Locale/en-US/_CP14/gameTicking/gameRules/blood-moon.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/search_of_life.yml
  Resources/Prototypes/_CP14/Skill/illusion.yml
  Resources/Textures/_CP14/Actions/Spells/light.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/light.rsi/search_of_life.png
  Resources/Textures/_CP14/Effects/Magic/pointer.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/pointer.rsi/pointer.png
Labels: Changes: Sprites

#1271 emiplane ghostrole fix
  Content.Server/_CP14/DemiplaneTraveling/CP14StationDemiplaneMapSystem.cs
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T2.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/GhostRoleDanger/misc.yml
Labels: size/S, S: Needs Review

#1272 Blood moon part 2
  Content.Client/_CP14/Localization/CP14LocalizationVisualsComponent.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_CP14/GameTicking/Rules/CP14BloodMoonCurseRule.cs
  Content.Server/_CP14/GameTicking/Rules/CP14BloodMoonRule.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14BloodMoonCurseRuleComponent.cs
  Content.Server/_CP14/GameTicking/Rules/Components/CP14BloodMoonRuleComponent.cs
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.cs
  Content.Shared/_CP14/BloodMoon/CP14BloodMoonCurseComponent.cs
  Content.Shared/_CP14/DayCycle/CP14DayCycleSystem.cs
  Resources/Audio/_CP14/Ambience/attributions.yml
  Resources/Audio/_CP14/Ambience/blood_moon_raise.ogg
  Resources/Audio/_CP14/Announce/attributions.yml
  Resources/Audio/_CP14/Announce/darkness_boom.ogg
  Resources/Audio/_CP14/Announce/darkness_boom_2.ogg
  Resources/Audio/_CP14/Announce/event_boom.ogg
  Resources/Locale/en-US/_CP14/gameTicking/gameRules/blood-moon.ftl
  Resources/Locale/ru-RU/_CP14/gameTicking/gameRules/blood-moon.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/bloodlust.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/base.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/Entities/Effects/visual_effect.yml
  Resources/Prototypes/_CP14/GameRules/events.yml
  Resources/Prototypes/_CP14/GameRules/judgement_night.yml
  Resources/Prototypes/_CP14/game_presets.yml
Labels: size/M, Changes: Audio

#1277 Species free innate skill
  Content.Client/_CP14/UserInterface/Systems/Skill/CP14SkillUIController.cs
  Content.Client/_CP14/UserInterface/Systems/Skill/Window/CP14SkillWindow.xaml
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Content.Shared/_CP14/Skill/CP14LearnSkillsSpecial.cs
  Content.Shared/_CP14/Skill/CP14SharedSkillSystem.cs
  Content.Shared/_CP14/Skill/Components/CP14SkillStorageComponent.cs
  Resources/Locale/en-US/_CP14/skill/ui.ftl
  Resources/Locale/ru-RU/_CP14/skill/ui.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/silva.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guard.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/Skill/blacksmithing.yml
  Resources/Prototypes/_CP14/Skill/hydrosophistry.yml
  Resources/Prototypes/_CP14/Skill/martial_arts.yml
  Resources/Prototypes/_CP14/Skill/thaumaturgy.yml
Labels: Changes: UI, size/M

#1279 Workshop resprite pack
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape2.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape2.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/furcape2.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/bone_cloak.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_cloak.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_cloak.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/bone_mage_cloak.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_mage_cloak.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/bone_mage_cloak.rsi/meta.json
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/meta.json
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/stamina0.png
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/stamina1.png
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/stamina2.png
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/stamina3.png
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/stamina4.png
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/stamina5.png
  Resources/Textures/_CP14/Interface/Alerts/vanilla/stamina.rsi/stamina6.png
  Resources/Textures/_CP14/Interface/Paper/paper_passport.png
  Resources/Textures/_CP14/Mobs/Monster/flyagaric.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/flyagaric.rsi/flyagaric.png
  Resources/Textures/_CP14/Mobs/Monster/flyagaric.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/dead_cap.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/lumishroom.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/lumishroom_cap.png
  Resources/Textures/_CP14/Mobs/Monster/lumish.rsi/meta.json
  Resources/Textures/_CP14/Objects/Flora/Wild/lumishroom.rsi/base1.png
  Resources/Textures/_CP14/Objects/Flora/Wild/lumishroom.rsi/base2.png
  Resources/Textures/_CP14/Objects/Flora/Wild/lumishroom.rsi/base3.png
  Resources/Textures/_CP14/Objects/Flora/Wild/lumishroom.rsi/base4.png
  Resources/Textures/_CP14/Objects/Flora/Wild/lumishroom.rsi/base5.png
  Resources/Textures/_CP14/Objects/Flora/Wild/lumishroom.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1281 Increase Workbench Radius
  Content.Server/_CP14/Workbench/CP14WorkbenchComponent.cs
Labels: size/XS

#1283 Wheat gather increase
  Resources/Prototypes/_CP14/Recipes/Workbench/CookingTable/misc.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1284 Garbage delete
  Content.Client/_CP14/WorldSprite/CP14WorldSpriteComponent.cs
  Content.Client/_CP14/WorldSprite/CP14WorldSpriteSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Objectives/Components/StealAreaComponent.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Generation.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/Demiplane/Components/CP14DemiplaneDataComponent.cs
  Content.Server/_CP14/Objectives/Components/CP14RichestJobConditionComponent.cs
  Content.Server/_CP14/Objectives/Components/CP14StatisticRangeConditionComponent.cs
  Content.Server/_CP14/Objectives/Systems/CP14RichestJobCondtionSystem.cs
  Content.Server/_CP14/Objectives/Systems/CP14StatisticRangeConditionStstem.cs
  Content.Server/_CP14/RoleSalary/CP14SalarySpawnerComponent.cs
  Content.Server/_CP14/RoleSalary/CP14SalarySystem.cs
  Content.Server/_CP14/RoleSalary/CP14StationSalaryComponent.cs
  Content.Server/_CP14/RoundRemoveShuttle/CP14RoundRemoveShuttleComponent.cs
  Content.Server/_CP14/RoundRemoveShuttle/CP14RoundRemoveShuttleSystem.cs
  Content.Server/_CP14/RoundStatistic/CP14RoundStatTrackerSystem.cs
  Content.Server/_CP14/RoundStatistic/DemiplaneDeath/CP14DeathDemiplaneStatisticComponent.cs
  Content.Server/_CP14/RoundStatistic/DemiplaneDeath/CP14RoundStatTrackerSystem.DemiplaneDeath.cs
  Content.Server/_CP14/StealArea/CP14StealAreaAutoJobConnectComponent.cs
  Content.Server/_CP14/StealArea/CP14StealAreaAutoJobConnectSystem.cs
  Content.Shared/_CP14/Decals/CP14DecalCleanerEvents.cs
  Content.Shared/_CP14/MagicAttuning/CP14MagicAttuningItemComponent.cs
  Content.Shared/_CP14/MagicAttuning/CP14MagicAttuningMindComponent.cs
  Content.Shared/_CP14/MagicAttuning/CP14SharedMagicAttuningSystem.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageSystem.Access.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageSystem.cs
  Content.Shared/_CP14/MagicSpellStorage/Components/CP14SpellStorageRequireAttuneComponent.cs
  Content.Shared/_CP14/RoundStatistic/CP14RoundStatTrackerPrototype.cs
  Content.Shared/_CP14/WorldSprite/WorldSpriteVisualLayer.cs
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Markers/salary.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Prototypes/_CP14/Entities/Stations/base.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/Objectives/empire_orders.yml
  Resources/Prototypes/_CP14/Objectives/personal_objectives.yml
  Resources/Prototypes/_CP14/Traits/physical.yml
  Resources/Prototypes/_CP14/debug.yml
  Resources/Prototypes/_CP14/stat_trackers.yml
Labels: size/L

#1288 Proofreading changes [EN]
  Content.Server/_CP14/RoundLeave/CP14RoundLeaveSystem.cs
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/cure_poison.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/search_of_life.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/water_creation.yml
  Resources/Prototypes/_CP14/Entities/Structures/Decorations/flags_wallmount.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/round_end.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AdventurersTabs/Demiplanes.xml
Labels: size/S, S: Needs Review

#1290 Changed smoking pipe to not warn when igniting
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Smokeables/Pipes/pipe.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1291 Critical bugfixes
  Content.Server/_CP14/DemiplaneTraveling/CP14StationDemiplaneMapSystem.cs
  Content.Shared/_CP14/Demiplane/Prototypes/CP14SpecialDemiplanePrototype.cs
  Content.Shared/_CP14/Workbench/Requirements/MaterialResource.cs
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_ice.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_magma.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/rooms.yml
Labels: size/S

#1285 Перевод на RU
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/myconide.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Guard/GuardBell.yml
Labels: Changes: No C#, size/M, S: Needs Review

#1262 Lochelper update
  Tools/_CP14/LocalizationHelper/LocalizationHelper/entity.py
  Tools/_CP14/LocalizationHelper/LocalizationHelper/localization_helper.py
  Tools/_CP14/LocalizationHelper/LocalizationHelper/parsers/fluent/ftl_reader.py
  Tools/_CP14/LocalizationHelper/LocalizationHelper/prototype.py
  Tools/_CP14/LocalizationHelper/last_launch_result/result.json
Labels: size/L, Changes: No C#

#1287 Seed sack and craft
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Farming/sack.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Farming/seeds.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/CookingTable/seeds.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Storage/sack.rsi/meta.json
  Resources/Textures/_CP14/Objects/Storage/sack.rsi/seed.png
  Tools/_CP14/LocalizationHelper/last_launch_result/result.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review, Art Approval

#1296 Remove Guildmaster & Merchant roles
  Resources/Prototypes/_CP14/Entities/Structures/Doors/Locked/guildmaster.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/round_end.yml
  Resources/Prototypes/_CP14/Maps/Frigid_Coast.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Artisan/alchemist.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Artisan/blacksmith.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Mercenary/guildmaster.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Traders/merchant.yml
Labels: Changes: No C#, size/S

#1286 Daily English CBT
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.CBT.cs
Labels: size/S

#1299 Rotated Keyfile
  Resources/Prototypes/_CP14/Entities/Objects/Keys/tools.yml
Labels: Changes: No C#, size/XS

#1302 Правка перевода RU
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: Changes: No C#, size/S, S: Needs Review

#1309 fix raid skele desc
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: Changes: No C#, size/XS

#1278 Books sprite
  Resources/Locale/en-US/_CP14/books/guild_moral.ftl
  Resources/Locale/ru-RU/_CP14/books/guild_moral.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/books.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/guidebooks.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/random.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bookshelf.yml
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/bookmark_open.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/bookmark_short.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/cover_base.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/cover_open_base.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/decor_corner.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/decor_frame.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/decor_line.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_anvil.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_image.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_magic.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_moon.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_plate.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_rift.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_text.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_uptext.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/meta.json
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/paper.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/paper_icon_big.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/paper_icon_form.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/paper_icon_middle.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/paper_icon_mini.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/paper_open.png
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review

#1280 Tavernkeeper's Sandwich
  Resources/Locale/en-US/_CP14/nutrition/food-sequence.ftl
  Resources/Locale/ru-RU/_CP14/nutrition/food-sequence.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/cheese.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/dough.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_CP14/tags.yml
Labels: Changes: No C#, size/M, S: Needs Review

#1307 Added Guidebook entry for Locks, Keys and Lockpicking
  Resources/Prototypes/_CP14/Guidebook/Eng/mechanics.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/misc.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/mechanics.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/misc.yml
  Resources/Prototypes/_CP14/Guidebook/entry.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/Lockpicking.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/LocksKeys.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/Mechanics.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/Lockpicking.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/LocksKeys.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/Mechanics.xml
Labels: Changes: No C#, size/M

#1324 Ice shard nerf
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_shards.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1325 Fix a spelling mistake
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
Labels: Changes: No C#, size/XS, S: Needs Review

#1327 Polymorph return
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/sheep_polymorph.yml
  Resources/Prototypes/_CP14/Skill/healing.yml
Labels: Changes: No C#, size/S

#1323 Small healing magic rebalance.
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/cure_heat.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/cure_poison.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/cure_wounds.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1329 Eye patch/глазная повязка
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Eyes/eye_patch.rsi/equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/eye_patch.rsi/flipped-equipped-EYES.png
  Resources/Textures/_CP14/Clothing/Eyes/eye_patch.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Eyes/eye_patch.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#1331 Add heal/damage to bloodhealing/absorption
  Resources/Prototypes/_CP14/Reagents/target_effects.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1341 Spider content update
  Content.Client/_CP14/DemiplaneTraveling/CP14DemiplaneMapWindow.xaml
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellSpawnEntitiesOnTargetInRadius.cs
  Content.Shared/_CP14/Random/Rules/IsDaylight.cs
  Resources/Audio/_CP14/Ambience/Loops/ambiforest_day.ogg
  Resources/Audio/_CP14/Ambience/Loops/ambiforest_night.ogg
  Resources/Audio/_CP14/Ambience/Loops/attributions.yml
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Earth/MOB_spider_trap.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/spider.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/trees.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/web.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Prototypes/_CP14/audio_loops.yml
  Resources/Prototypes/_CP14/audio_music.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Materials/web.rsi/icon.png
  Resources/Textures/_CP14/Objects/Materials/web.rsi/icon2.png
  Resources/Textures/_CP14/Objects/Materials/web.rsi/icon3.png
  Resources/Textures/_CP14/Objects/Materials/web.rsi/icon4.png
  Resources/Textures/_CP14/Objects/Materials/web.rsi/meta.json
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_0.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_1.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_2.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_3.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_4.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_5.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_6.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/carpet_7.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/full.png
  Resources/Textures/_CP14/Structures/Dungeon/floor_web.rsi/meta.json
  Resources/Textures/_CP14/Structures/Dungeon/web_cocoon.rsi/full.png
  Resources/Textures/_CP14/Structures/Dungeon/web_cocoon.rsi/full2.png
  Resources/Textures/_CP14/Structures/Dungeon/web_cocoon.rsi/full3.png
  Resources/Textures/_CP14/Structures/Dungeon/web_cocoon.rsi/full4.png
  Resources/Textures/_CP14/Structures/Dungeon/web_cocoon.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, Changes: No C#, size/M, Changes: Audio
