Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-06, with the labels that each got.

#1349 More merchant content
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.cs
  Resources/Locale/en-US/_CP14/trading/factions.ftl
  Resources/Locale/ru-RU/_CP14/trading/factions.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/sheep_polymorph.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/search_of_life.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/beer_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/scrolls.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/folder.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/paper.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/pen.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/trade_contracts.yml
  Resources/Prototypes/_CP14/Entities/Objects/Flora/farm.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/crystal.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/tools.yml
  Resources/Prototypes/_CP14/Trading/contracts.yml
  Resources/Prototypes/_CP14/Trading/factions.yml
  Resources/Prototypes/_CP14/Trading/thaumaturgy.yml
  Resources/Textures/_CP14/Objects/Specific/Economy/trade_contracts.rsi/magic.png
  Resources/Textures/_CP14/Objects/Specific/Economy/trade_contracts.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/medium.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/medium_connector.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/crystal.rsi/meta.json
Labels: Changes: Sprites, size/M

#1351 Merchant: fix infinity moneys
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.cs
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vial_bomb.yml
  Resources/Prototypes/_CP14/Trading/brad_potions.yml
Labels: size/S

#1353 No more gardes on pickaxes
  Resources/Prototypes/_CP14/ModularCraft/Blade/pickaxe.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1362 Ed 02 06 2025 changelog test 6
  Resources/Changelog/CP14_Changelog.yml
Labels: Changes: No C#, size/S

#1363 Ed 02 06 2025 changelog test 7
  Resources/Changelog/CP14_Changelog.yml
Labels: Changes: No C#, size/S

#1364 Ed 02 06 2025 changelog test 8
  .github/workflows/CP14Publish.yml
  Resources/Changelog/CP14_Changelog.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: No C#

#1300 The Slime Update (Part 1)
  Resources/Locale/en-US/_CP14/ghostRoles/roles.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/roles.ftl
  Resources/Prototypes/_CP14/Damage/containers.yml
  Resources/Prototypes/_CP14/Damage/modifier_sets.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Slime/jump.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/head.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/electric.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/fire.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/ice.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
  Resources/Textures/_CP14/Actions/Spells/slime.rsi/jump.png
  Resources/Textures/_CP14/Actions/Spells/slime.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review

#1368 [Fix] Guild moral
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/books.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1371 Changed cashconverter to be anchorable on tables
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Economy/cash_converter.yml
Labels: Changes: No C#, S: Needs Review

#1372 Ballade magic rework
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellArea.cs
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/hell_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/heal_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/peace_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/speed_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_ballade.yml
Labels: size/M

#1373 fix(objects): dropper size to tiny
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/tools.yml
Labels: Changes: No C#, size/XS

#1376 Starting reputation of merchants
  Content.Server/_CP14/Trading/CP14TradingPlatformSystem.cs
  Content.Shared/_CP14/Trading/CP14AddGlobalReputationSpecial.cs
  Content.Shared/_CP14/Trading/Systems/CP14SharedTradingPlatformSystem.cs
  Resources/Prototypes/_CP14/Roles/Jobs/Traders/merchant.yml
Labels: size/S

#1348 Removing The Scream Action From The Action Bar
  Content.Server/Speech/EntitySystems/VocalSystem.cs
Labels: size/XS, S: Needs Review

#1392 some price change
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shoes/shoes.yml
  Resources/Prototypes/_CP14/Entities/Objects/Keys/tools.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/crayons.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/bow.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1397 Venicialis new map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_CP14/venicialis.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/_CP14/Entities/Structures/test.yml
  Resources/Prototypes/_CP14/Maps/venicialis.yml
Labels: Changes: Map, size/XL, Changes: No C#

#1394 New skeleton fixes
  Resources/Prototypes/_CP14/Entities/Mobs/Player/TownRaids/undead.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/daggers.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/skimitar.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/skeleton_startinggear.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1398 Slippers and hat
  Resources/Audio/_CP14/Effects/Footsteps/attributions.yml
  Resources/Audio/_CP14/Effects/Footsteps/slippers1.ogg
  Resources/Audio/_CP14/Effects/Footsteps/slippers2.ogg
  Resources/Audio/_CP14/Effects/Footsteps/slippers3.ogg
  Resources/Prototypes/_CP14/Entities/Clothing/Head/head.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shoes/shoes.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/myconide.yml
  Resources/Prototypes/_CP14/SoundCollections/footsteps.yml
  Resources/Textures/_CP14/Clothing/Head/amanita_helmet.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/amanita_helmet.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/amanita_helmet.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shoes/pink_slippers.rsi/equipped-FEET.png
  Resources/Textures/_CP14/Clothing/Shoes/pink_slippers.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shoes/pink_slippers.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review, Changes: Audio

#1318 Innkeeper guidebook entry
  Resources/Prototypes/_CP14/Guidebook/Eng/jobs.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/jobs.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/Innkeepers.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/Innkeepers.xml
Labels: Changes: No C#, size/M, S: Needs Review

#1403 Copper time!
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/pickaxe.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/rapier.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/skimitar.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/sword.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/adventure.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1409 Fixed some misplaced recipes for Aventails and Greaves.
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_aventail.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_greave.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1396 Druid stuff
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/adventure.yml
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/druid_staff.rsi/equipped-NECK.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/druid_staff.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/druid_staff.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/druid_staff.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/druid_staff.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/druid_staff.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/druid_staff.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1412 Rocks with moss
  Resources/Prototypes/_CP14/Entities/Structures/Flora/rocks.yml
  Resources/Prototypes/_CP14/Procedural/grasslands.yml
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/moss_rock1.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/moss_rock2.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/moss_rock3.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/moss_rock4.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/moss_rock5.png
  Resources/Textures/_CP14/Structures/Flora/Rocks/rocks_big.rsi/rock5.png
Labels: Changes: Sprites, Changes: No C#, size/S, S: Needs Review

#1414 copper loadout fix
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/pickaxe.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/rapier.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/skimitar.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/sword.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1354 Firebolt
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/firebolt.yml
  Resources/Prototypes/_CP14/Skill/pyrokinetic.yml
  Resources/Textures/_CP14/Actions/Spells/fire.rsi/firebolt.png
  Resources/Textures/_CP14/Actions/Spells/fire.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/firebolt.rsi/firebolt.png
  Resources/Textures/_CP14/Effects/Magic/firebolt.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review

#1420 Gods part 2
  Content.Client/_CP14/Religion/CP14ReligionEntityWindow.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_CP14/Religion/CP14ReligionSystem.UI.cs
  Content.Server/_CP14/Religion/CP14ReligionSystem.cs
  Content.Shared/_CP14/Religion/Components/CP14ReligionFollowerComponent.cs
  Content.Shared/_CP14/Religion/Components/CP14ReligionSpeakerComponent.cs
  Content.Shared/_CP14/Religion/Systems/CP14SharedReligionGodSystem.UI.cs
  Resources/Locale/en-US/_CP14/headset/radio.ftl
  Resources/Locale/en-US/_CP14/religion/altar.ftl
  Resources/Locale/ru-RU/_CP14/headset/radio.ftl
  Resources/Locale/ru-RU/_CP14/religion/altar.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/speak.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/Demigods/gods.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Religion/primordial.yml
  Resources/Prototypes/_CP14/radio_channels.yml
Labels: Changes: UI, size/M

#1421 Gods part 3
  Content.Client/_CP14/Religion/CP14ClientReligionGodSystem.cs
  Content.Server/_CP14/Religion/CP14ReligionSystem.UI.cs
  Content.Server/_CP14/Religion/CP14ReligionSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.InstantActions.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14ActionsEvents.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellSendMessageToGod.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellTransferManaToGod.cs
  Content.Shared/_CP14/Religion/Components/CP14ReligionFollowerComponent.cs
  Content.Shared/_CP14/Religion/Systems/CP14SharedReligionGodSystem.Altars.cs
  Content.Shared/_CP14/Religion/Systems/CP14SharedReligionGodSystem.Followers.cs
  Content.Shared/_CP14/Religion/Systems/CP14SharedReligionGodSystem.UI.cs
  Content.Shared/_CP14/Religion/Systems/CP14SharedReligionGodSystem.cs
  Resources/Locale/en-US/_CP14/religion/altar.ftl
  Resources/Locale/ru-RU/_CP14/religion/altar.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/darkmist.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/generic.yml
  Resources/Prototypes/_CP14/Skill/Demigods/lumera.yml
  Resources/Textures/_CP14/Actions/DemigodSpells/generic.rsi/appeal.png
  Resources/Textures/_CP14/Actions/DemigodSpells/generic.rsi/meta.json
  Resources/Textures/_CP14/Actions/DemigodSpells/lumera.rsi/meta.json
  Resources/Textures/_CP14/Actions/DemigodSpells/lumera.rsi/mist.png
Labels: Changes: Sprites

#1422 God part 4
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Checks.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellAddMemoryPoint.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellProjectile.cs
  Content.Shared/_CP14/Skill/CP14SharedSkillSystem.cs
  Resources/Audio/_CP14/Effects/attributions.yml
  Resources/Audio/_CP14/Effects/ritual_begin.ogg
  Resources/Audio/_CP14/Effects/ritual_end.ogg
  Resources/Locale/en-US/_CP14/skill/ui.ftl
  Resources/Locale/ru-RU/_CP14/skill/ui.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/mind_upgrade.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Religion/base.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Religion/primordial.yml
  Resources/Prototypes/_CP14/Skill/Demigods/lumera.yml
  Resources/Textures/_CP14/Actions/DemigodSpells/lumera.rsi/meta.json
  Resources/Textures/_CP14/Actions/DemigodSpells/lumera.rsi/mind_upgrade.png
Labels: Changes: Sprites, Changes: Audio

#1330 git: remove issue templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/ISSUE_TEMPLATE/toolshed-feature-request.md
Labels: Changes: No C#, S: Needs Review

#1425 Gods part 6
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_CP14/ResearchTable/CP14SharedResearchSystem.cs
  Content.Shared/_CP14/Skill/CP14SharedSkillSystem.cs
  Content.Shared/_CP14/Skill/CP14SkillSystem.Scanning.cs
  Resources/Audio/_CP14/Effects/attributions.yml
  Resources/Audio/_CP14/Effects/moon_strike1.ogg
  Resources/Audio/_CP14/Effects/moon_strike2.ogg
  Resources/Audio/_CP14/Effects/moon_strike3.ogg
  Resources/Audio/_CP14/Effects/moon_strike4.ogg
  Resources/Locale/en-US/_CP14/skill/ui.ftl
  Resources/Locale/ru-RU/_CP14/skill/ui.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/moon_strike.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/generic.yml
  Resources/Prototypes/_CP14/Entities/Effects/sky_lightning.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Religion/base.yml
  Resources/Prototypes/_CP14/Skill/Demigods/lumera.yml
  Resources/Prototypes/_CP14/SoundCollections/misc.yml
  Resources/Textures/_CP14/Actions/DemigodSpells/lumera.rsi/meta.json
  Resources/Textures/_CP14/Actions/DemigodSpells/lumera.rsi/moon_beam.png
  Resources/Textures/_CP14/Effects/lumera_strike.rsi/meta.json
  Resources/Textures/_CP14/Effects/lumera_strike.rsi/pewpew.png
Labels: Changes: Sprites, size/M, Changes: Audio

#1423 feat: skill ui scale
  Content.Client/_CP14/UserInterface/Systems/NodeTree/CP14NodeTreeGraphControl.xaml.cs
Labels: Changes: UI

#1440 Mini fix pack
  Content.Server/_CP14/Trading/CP14PriceScannerSystem.cs
  Content.Shared/_CP14/WeatherEffect/Effects/RefillSolutions.cs
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/heater.yml
Labels: size/S

#1419 EXECUTION!
  Content.Shared/Execution/ExecutionComponent.cs
  Resources/Locale/en-US/_CP14/execution/execution.ftl
  Resources/Prototypes/_CP14/ModularCraft/Blade/hammer.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/hoe.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/mace.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/pickaxe.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/shovel.yml
  Resources/Prototypes/_CP14/ModularCraft/baseModularModifier.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1449 Telegraph on lunar strike.
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/moon_strike.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1450 Lanterns Can Break
  Resources/Prototypes/_CP14/Entities/Objects/Tools/flashlight.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/wallmount_lamp.yml
Labels: Changes: No C#, size/S

#1431 Minor changes to the crossbow
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/crossbow.yml
Labels: Changes: No C#, size/XS

#1446 Fix lumera actions
  Content.Client/Ghost/GhostSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/_CP14/Religion/CP14ReligionSystem.cs
  Content.Server/_CP14/ZLevels/EntitySystems/CP14StationZLevelsSystem.Actions.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/_CP14/MagicSpellStorage/CP14SpellStorageSystem.cs
  Content.Shared/_CP14/Skill/Effects/AddAction.cs
  Content.Shared/_CP14/ZLevel/CP14ZlevelMoverComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/mind_degrade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Demigods/Lumera/mind_upgrade.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/Patrons/gods.yml
Labels: size/M

#1460 Trading request system
  Content.Client/_CP14/Trading/CP14SellingRequestControl.xaml
  Content.Client/_CP14/Trading/CP14SellingRequestControl.xaml.cs
  Content.Client/_CP14/Trading/CP14TradingPlatformWindow.xaml.cs
  Content.Client/_CP14/Trading/Selling/CP14SellingPlatformBoundUserInterface.cs
  Content.Client/_CP14/Trading/Selling/CP14SellingPlatformWindow.xaml
  Content.Client/_CP14/Trading/Selling/CP14SellingPlatformWindow.xaml.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/_CP14/ModularCraft/CP14ModularCraftSystem.cs
  Content.Server/_CP14/Trading/CP14StationEconomySystem.cs
  Content.Server/_CP14/Trading/CP14TradingPlatformSystem.cs
  Content.Shared/Cargo/Components/StackPriceComponent.cs
  Content.Shared/Cargo/Components/StaticPriceComponent.cs
  Content.Shared/_CP14/Trading/CP14TradingUI.cs
  Content.Shared/_CP14/Trading/Components/CP14SellingPlatformComponent.cs
  Content.Shared/_CP14/Trading/Components/CP14StationEconomyComponent.cs
  Content.Shared/_CP14/Trading/Prototypes/CP14TradingRequestPrototype.cs
  Content.Shared/_CP14/Trading/Systems/CP14SharedStationEconomySystem.Pricing.cs
  Content.Shared/_CP14/Trading/Systems/CP14SharedStationEconomySystem.cs
  Content.Shared/_CP14/Trading/Systems/CP14SharedTradingPlatformSystem.UI.cs
  Content.Shared/_CP14/Trading/Systems/CP14SharedTradingPlatformSystem.cs
  Content.Shared/_CP14/Workbench/Requirements/MaterialResource.cs
  Content.Shared/_CP14/Workbench/Requirements/ProtoIdResource.cs
  Content.Shared/_CP14/Workbench/Requirements/SkillRequired.cs
  Content.Shared/_CP14/Workbench/Requirements/StackGroupResource.cs
  Content.Shared/_CP14/Workbench/Requirements/StackResource.cs
  Content.Shared/_CP14/Workbench/Requirements/TagResource.cs
  Content.Shared/_CP14/Workbench/WorkbenchCraftRequirement.cs
  Resources/Locale/en-US/_CP14/lockKey/locks-types.ftl
  Resources/Locale/en-US/_CP14/trading/ui.ftl
  Resources/Locale/ru-RU/_CP14/lockKey/locks-types.ftl
  Resources/Locale/ru-RU/_CP14/trading/ui.ftl
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Maps/_CP14/venicialis.yml
  Resources/Prototypes/_CP14/Entities/Objects/Keys/Catalog/merchant.yml
  Resources/Prototypes/_CP14/Entities/Objects/Keys/keyrings.yml
  Resources/Prototypes/_CP14/Entities/Structures/Doors/Locked/merchant.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Economy/trade_platform.yml
  Resources/Prototypes/_CP14/LockCategories/lockTypes.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/brad_potions.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/contracts.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/cozy_house.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/dwarf_mining.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/factions.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/thaumaturgy.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/victoria_gardens.yml
  Resources/Prototypes/_CP14/Trading/SellRequests/brad_potions.yml
  Resources/Prototypes/_CP14/Trading/SellRequests/dwarf_mining.yml
  Resources/Prototypes/_CP14/Trading/SellRequests/thaumaturgy.yml
  Resources/Textures/_CP14/Interface/Misc/coins.rsi/c.png
  Resources/Textures/_CP14/Interface/Misc/coins.rsi/g.png
  Resources/Textures/_CP14/Interface/Misc/coins.rsi/p.png
  Resources/Textures/_CP14/Interface/Misc/coins.rsi/s.png
Labels: Changes: Sprites, Changes: Map, Changes: UI, size/M, Art Approval

#1442 Big bear
  Resources/Audio/_CP14/Animals/attributions.yml
  Resources/Audio/_CP14/Animals/bear1.ogg
  Resources/Audio/_CP14/Animals/bear2.ogg
  Resources/Audio/_CP14/Voice/Animal/attributions.yml
  Resources/Audio/_CP14/Voice/Animal/bear_scream.ogg
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/MOB_sprint.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/SoundCollections/animals.yml
  Resources/Prototypes/_CP14/Voice/speech_emote_sounds.yml
  Resources/Textures/_CP14/Mobs/Animals/bear.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Animals/bear.rsi/live.png
  Resources/Textures/_CP14/Mobs/Animals/bear.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review, Changes: Audio, Art Approval

#1456 Plushies!
  Resources/Audio/_CP14/Voice/Dwarf/attributions.yml
  Resources/Audio/_CP14/Voice/Dwarf/dwarf_plushie.ogg
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/agaric.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/carcat.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/dwarf.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/elf.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/frog.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/goblin.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/human.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/lumera.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/meta.json
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/silva.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/skeleton.png
  Resources/Textures/_CP14/Objects/Fun/plushies.rsi/tiefling.png
Labels: Changes: Sprites, Changes: No C#, size/M, S: Needs Review, Changes: Audio, Art Approval, S: Needs Art Review

#1463 Hot potato
  Resources/Locale/en-US/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_CP14/flavors/flavor-profiles.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/simple_dish.yml
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/hot_potato.rsi/base1.png
  Resources/Textures/_CP14/Objects/Consumable/Food/hot_potato.rsi/base2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/hot_potato.rsi/base3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/hot_potato.rsi/base4.png
  Resources/Textures/_CP14/Objects/Consumable/Food/hot_potato.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S, Art Approval

#1467 Magical vision skill
  Content.Client/_CP14/MagicVision/CP14ClientMagicVisionSystem.cs
  Content.Client/_CP14/MagicVision/CP14MagicVisionNoirOverlay.cs
  Content.Client/_CP14/MagicVision/CP14MagicVisionOverlay.cs
  Content.Server/_CP14/AuraImprint/CP14AuraImprintSystem.cs
  Content.Server/_CP14/MagicVision/CP14MagicVisionSystem.cs
  Content.Server/_CP14/Religion/CP14ReligionSystem.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Content.Shared/_CP14/AuraDNA/CP14AuraImprintComponent.cs
  Content.Shared/_CP14/AuraDNA/CP14SharedAuraImprintSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicVision/CP14MagicVisionComponent.cs
  Content.Shared/_CP14/MagicVision/CP14MagicVisionMarkerComponent.cs
  Content.Shared/_CP14/MagicVision/CP14SharedMagicVisionSystem.cs
  Resources/Locale/en-US/_CP14/magicVision/vision.ftl
  Resources/Locale/ru-RU/_CP14/magicVision/vision.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/firewave.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_vision.yml
  Resources/Prototypes/_CP14/Entities/Markers/misc.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/silva.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Shaders/shaders.yml
  Resources/Prototypes/_CP14/Skill/Basic/metamagic.yml
  Resources/Textures/_CP14/Actions/Spells/meta.rsi/magic_vision.png
  Resources/Textures/_CP14/Actions/Spells/meta.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/misc.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/misc.rsi/skull.png
  Resources/Textures/_CP14/Actions/Spells/misc.rsi/skull_red.png
  Resources/Textures/_CP14/Effects/Magic/pointer_sphere.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/pointer_sphere.rsi/sphere.png
  Resources/Textures/_CP14/Shaders/blue_noir.swsl
Labels: Changes: Sprites, Changes: Shaders, size/M

#1475 Flem Re-sprite thingy
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/fish_mask.rsi/equipped-HELMET-carcat.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/fish_mask.rsi/equipped-HELMET-goblin.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/fish_mask.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/fish_mask.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/fish_suit.rsi/equipped-OUTERCLOTHING-carcat.png
  Resources/Textures/_CP14/Clothing/OuterClothing/fish_suit.rsi/equipped-OUTERCLOTHING-goblin.png
  Resources/Textures/_CP14/Clothing/OuterClothing/fish_suit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/fish_suit.rsi/icon.png
  Resources/Textures/_CP14/Mobs/Monster/flem.rsi/flem_dead.png
  Resources/Textures/_CP14/Mobs/Monster/flem.rsi/flem_live.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_head.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_head_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_leg.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_leg_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_torso.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_torso_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_torso_cut.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/flem_torso_cut_cooked.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review

#1478 Remove mithril lock & keys from Cozy House
  Resources/Prototypes/_CP14/Trading/BuyPositions/cozy_house.yml
Labels: Changes: No C#, size/S

#1485 Electromancy magic branch
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Server/_CP14/MagicSpell/CP14SpellEffectOnCollideComponent.cs
  Content.Shared/_CP14/Chemistry/ReagentEffect/CP14StaminaChange.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellProjectile.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellThrowFromUser.cs
  Resources/Locale/en-US/_CP14/skill/skill_meta.ftl
  Resources/Locale/en-US/_CP14/skill/skill_tree.ftl
  Resources/Locale/ru-RU/_CP14/skill/skill_meta.ftl
  Resources/Locale/ru-RU/_CP14/skill/skill_tree.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Electric/lightning_strike.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/fireball.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/cure_heat.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/Slimes/electric.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
  Resources/Prototypes/_CP14/ModularCraft/Inlay/quartz.yml
  Resources/Prototypes/_CP14/Skill/Basic/electromancy.yml
  Resources/Prototypes/_CP14/Skill/Basic/trees.yml
  Resources/Textures/_CP14/Actions/Spells/electromancy.rsi/lightning_strike.png
  Resources/Textures/_CP14/Actions/Spells/electromancy.rsi/meta.json
  Resources/Textures/_CP14/Actions/skill_tree.rsi/electro.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/electro2.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/electro3.png
  Resources/Textures/_CP14/Actions/skill_tree.rsi/meta.json
  Resources/Textures/_CP14/Effects/Beams/lightning.rsi/lightning.png
  Resources/Textures/_CP14/Effects/Beams/lightning.rsi/meta.json
Labels: Changes: Sprites, size/M

#1481 Monster blood
  Resources/Locale/en-US/_CP14/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/thaumaturgy/precurser.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/thaumaturgy/precurser.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/invisible_whistler.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/mole.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/spider.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_CP14/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/_CP14/Reagents/blood.yml
Labels: Changes: No C#, size/M, S: Needs Review

#1490 CBT 29.06 exception
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.CBT.cs
Labels: size/XS

#1489 Alchemy furnace integration
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellThrowFromUser.cs
  Resources/Prototypes/_CP14/Entities/Structures/Fence/big_fence.yml
  Resources/Prototypes/_CP14/Entities/Structures/Fence/window.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/furnace.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/furnace.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Fences/big_fence_wooden.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Fences/fence_wooden.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/AlchemistTabs/Alchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/JobsTabs/Innkeepers.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/AlchemistTabs/Alchemy.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/JobsTabs/Innkeepers.xml
  Resources/Textures/_CP14/Structures/Furniture/furnace.rsi/base.png
  Resources/Textures/_CP14/Structures/Furniture/furnace.rsi/burning.png
  Resources/Textures/_CP14/Structures/Furniture/furnace.rsi/fuel1.png
  Resources/Textures/_CP14/Structures/Furniture/furnace.rsi/fuel2.png
  Resources/Textures/_CP14/Structures/Furniture/furnace.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_furnace.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_furnace.rsi/burning.png
  Resources/migration.yml
Labels: Changes: Sprites, size/M
