Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-07, with the labels that each got.

#1461 The carpets update!
  Resources/Locale/en-US/_CP14/stack/carpets.ftl
  Resources/Locale/ru-RU/_CP14/stack/carpets.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Carpet/carpet.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Prototypes/_CP14/Stacks/carpets.yml
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_0.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_1.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_2.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_3.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_4.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_5.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_6.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/carpet_7.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/full.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/black_carpet.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/black.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/blue.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/cyan.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/green.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/orange.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/purple.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/red.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/icons.rsi/yellow.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_0.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_1.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_2.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_3.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_4.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_5.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_6.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/carpet_7.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/full.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/purple_carpet.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_0.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_1.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_2.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_3.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_4.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_5.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_6.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/carpet_7.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/full.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/yellow_carpet.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, S: Awaiting Changes, Changes: Map, Changes: UI, Changes: Shaders, Changes: No C#, size/M, Changes: Audio, Art Approval

#1497 Solutions tweaks
  Resources/Prototypes/_CP14/Reagents/target_effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Thaumaturgy/Precursor/chromium_slime.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1500 grer terra
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/essence.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/essence_nodes.yml
  Resources/Prototypes/_CP14/MagicTypes/magic.yml
  Resources/Prototypes/_CP14/Reagents/magic_essence.yml
Labels: Changes: No C#, size/S, S: Needs Review

#1498 Magotech
  Content.Server/_CP14/Construction/Condition/CP14ManaFilled.cs
  Resources/Locale/en-US/_CP14/construction/conditions.ftl
  Resources/Locale/en-US/_CP14/materials/materials.ftl
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/construction/conditions.ftl
  Resources/Locale/ru-RU/_CP14/materials/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Death/cure_dead_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Death/resurrection_dead.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Electric/resurrection.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Electric/speed_ballade.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T2.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/TownRaids/undead.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/bars.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/_CP14/Materials/simple.yml
  Resources/Prototypes/_CP14/Skill/Basic/electromancy.yml
  Resources/Prototypes/_CP14/Skill/Basic/healing.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/thaumaturgy.yml
  Resources/Textures/_CP14/Actions/Spells/electromancy.rsi/defib.png
  Resources/Textures/_CP14/Actions/Spells/electromancy.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/electromancy.rsi/speed_music.png
  Resources/Textures/_CP14/Actions/Spells/healing.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/healing.rsi/speed_music.png
  Resources/Textures/_CP14/Actions/Spells/necromancy.rsi/cure_dead.png
  Resources/Textures/_CP14/Actions/Spells/necromancy.rsi/dead_heal_ballade.png
  Resources/Textures/_CP14/Actions/Spells/necromancy.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/necromancy.rsi/resurrection.png
  Resources/Textures/_CP14/Objects/Materials/brass_bar.rsi/bar.png
  Resources/Textures/_CP14/Objects/Materials/brass_bar.rsi/bar_2.png
  Resources/Textures/_CP14/Objects/Materials/brass_bar.rsi/bar_3.png
  Resources/Textures/_CP14/Objects/Materials/brass_bar.rsi/meta.json
  Resources/Textures/_CP14/Structures/Constructs/magiconstruct.rsi/constuct.png
  Resources/Textures/_CP14/Structures/Constructs/magiconstruct.rsi/meta.json
Labels: Changes: Sprites, size/M

#1501 Arrival notifications no longer mention the station
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Resources/Locale/en-US/_CP14/game-tiker.ftl
  Resources/Locale/ru-RU/_CP14/game-tiker.ftl
Labels: size/S, S: Needs Review

#1502 Workbench and crystals
  Content.Client/_CP14/ResearchTable/CP14ResearchRecipeControl.xaml
  Content.Client/_CP14/ResearchTable/CP14ResearchRecipeControl.xaml.cs
  Content.Client/_CP14/ResearchTable/CP14ResearchTableBoundUserInterface.cs
  Content.Client/_CP14/ResearchTable/CP14ResearchTableWindow.xaml
  Content.Client/_CP14/ResearchTable/CP14ResearchTableWindow.xaml.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchRequirementControl.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml.cs
  Content.Server/_CP14/ResearchTable/CP14ResearchSystem.cs
  Content.Server/_CP14/Trading/CP14TradingPlatformSystem.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.UI.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.cs
  Content.Shared/_CP14/ResearchTable/CP14ResearchTableComponent.cs
  Content.Shared/_CP14/ResearchTable/CP14SharedResearchSystem.cs
  Content.Shared/_CP14/Skill/CP14ResearchTableUI.cs
  Content.Shared/_CP14/Skill/Components/CP14SkillStorageComponent.cs
  Content.Shared/_CP14/Skill/Effects/UnlockRecipes.cs
  Content.Shared/_CP14/Trading/Systems/CP14SharedTradingPlatformSystem.cs
  Content.Shared/_CP14/Workbench/CP14WorkbenchUI.cs
  Content.Shared/_CP14/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Content.Shared/_CP14/Workbench/Requirements/MaterialResource.cs
  Content.Shared/_CP14/Workbench/Requirements/ProtoIdResource.cs
  Content.Shared/_CP14/Workbench/Requirements/SkillRequired.cs
  Content.Shared/_CP14/Workbench/Requirements/SolutionResource.cs
  Content.Shared/_CP14/Workbench/Requirements/StackGroupResource.cs
  Content.Shared/_CP14/Workbench/Requirements/StackResource.cs
  Content.Shared/_CP14/Workbench/Requirements/TagResource.cs
  Content.Shared/_CP14/Workbench/WorkbenchCraftRequirement.cs
  Resources/Locale/en-US/_CP14/workbench/workbench.ftl
  Resources/Locale/ru-RU/_CP14/workbench/workbench.ftl
  Resources/Prototypes/_CP14/Entities/Effects/visual_effect.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/quartz.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/elemental.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/research_table.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_aventail.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_blade.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_breastplate.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_cuisses.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_garde.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_greave.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_helmet.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_tip.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_visor.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
Labels: Changes: UI, size/L

#1503 Public market + Solutions requests
  Content.Client/_CP14/Trading/CP14SellingRequestControl.xaml.cs
  Content.Client/_CP14/Trading/CP14TradingPlatformWindow.xaml.cs
  Content.Client/_CP14/Trading/Selling/CP14SellingPlatformWindow.xaml.cs
  Content.Client/_CP14/Workbench/CP14WorkbenchWindow.xaml.cs
  Content.Server/_CP14/Trading/CP14TradingPlatformSystem.cs
  Content.Shared/_CP14/Trading/Components/CP14SellingPlatformComponent.cs
  Content.Shared/_CP14/Trading/Components/CP14TradingPlatformComponent.cs
  Content.Shared/_CP14/Workbench/Requirements/SolutionResource.cs
  Resources/Locale/en-US/_CP14/workbench/workbench.ftl
  Resources/Locale/ru-RU/_CP14/workbench/workbench.ftl
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/venicialis.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Economy/trade_platform.yml
  Resources/Prototypes/_CP14/Trading/SellRequests/brad_potions.yml
  Resources/Textures/_CP14/Structures/Specific/Economy/buy_platform.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Economy/buy_platform.rsi/buy.png
  Resources/Textures/_CP14/Structures/Specific/Economy/buy_platform.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Economy/buy_platform.rsi/old.png
  Resources/Textures/_CP14/Structures/Specific/Economy/buy_platform.rsi/sell.png
Labels: Changes: Sprites, Changes: Map, Changes: UI, size/M

#1504 return guards to Comoss
  Content.Server/_CP14/Salary/CP14SalaryCounterComponent.cs
  Content.Server/_CP14/Salary/CP14SalaryPairollComponent.cs
  Content.Server/_CP14/Salary/CP14SalarySystem.cs
  Resources/Locale/en-US/_CP14/salary/salary_paper.ftl
  Resources/Locale/ru-RU/_CP14/salary/salary_paper.ftl
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Catalog/Fills/dresser.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Economy/trade_platform.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Guard/guard.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Guard/guard_commander.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Guard/investigator.yml
  Resources/Prototypes/_CP14/Roles/Jobs/departments.yml
  Resources/Textures/_CP14/Structures/Specific/Economy/buy_platform.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Economy/buy_platform.rsi/salary.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, size/L, Changes: No C#

#1519 Corrects a duplicate ID
  Resources/Prototypes/_CP14/Trading/BuyPositions/guards.yml
Labels: Changes: No C#, S: Needs Review

#1522 Refactor workbench resource handling with provider component
  Content.Server/_CP14/Workbench/CP14WorkbenchPlaceableProviderComponent.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.Provider.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.UI.cs
  Content.Server/_CP14/Workbench/CP14WorkbenchSystem.cs
  Resources/Maps/_CP14/Frigid_Coast.yml
  Resources/Maps/_CP14/Frigid_Coast_d.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Maps/_CP14/venicialis.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/workbenchs.yml
Labels: Changes: Map, size/XL, S: Needs Review

#1526 Workshop content
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/base_chest.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/chests.yml
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Storage/chests.yml
  Resources/Prototypes/_CP14/Recipes/Construction/storage.yml
  Resources/Textures/_CP14/Mobs/Species/Goblin/parts.rsi/r_hand.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_gold.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_gold.rsi/closed.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_gold.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_gold.rsi/meta.json
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_gold.rsi/open.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_old.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_old.rsi/closed.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_old.rsi/icon.png
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_old.rsi/meta.json
  Resources/Textures/_CP14/Structures/Storage/Crates/chest_old.rsi/open.png
  Resources/Textures/_CP14/Tiles/Marble/attribution.yml
  Resources/Textures/_CP14/Tiles/Marble/double_edge_S.png
  Resources/Textures/_CP14/Tiles/Marble/marble.png
Labels: Changes: Sprites, Changes: No C#, size/M

#1527 Changed ice dagger's hitsound
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/ice_dagger.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#1547 fix client spam from magic
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
Labels: C#, S: Needs Review

#1546 Sharpening Stone fix
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Blacksmith/sharpening_stone.yml
Labels: YML, No C#, S: Needs Review

#1550 Mercenary set in general loadout
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
Labels: YML, No C#, S: Needs Review

#1549 Have games in your closet innkeeper.
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
Labels: YML, No C#, S: Needs Review

#1521 Coal
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/en-US/_CP14/materials/materials.ftl
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/materials/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Materials/ores.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/wood.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/ore_veins.yml
  Resources/Prototypes/_CP14/Materials/simple.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Ore/ores.yml
  Resources/Prototypes/_CP14/Stacks/ores.yml
  Resources/Textures/_CP14/Objects/Materials/coal_ore.rsi/meta.json
  Resources/Textures/_CP14/Objects/Materials/coal_ore.rsi/ore1.png
  Resources/Textures/_CP14/Objects/Materials/coal_ore.rsi/ore2.png
  Resources/Textures/_CP14/Objects/Materials/coal_ore.rsi/ore3.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/meta.json
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall0.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall1.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall2.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall3.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall4.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall5.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall6.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_coal.rsi/wall7.png
Labels: Sprites, No C#, S: Awaiting Changes

#1568 Elf rework
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_trance.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Skill/Basic/metamagic.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/SpeciesTabs/Elf.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/SpeciesTabs/Elf.xml
Labels: YML, No C#, S: Needs Review

#1539 New trees: spruce!
  Resources/Locale/en-US/_CP14/stack/materials.ftl
  Resources/Locale/ru-RU/_CP14/stack/materials.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Materials/wood.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/trees.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/wooden.yml
  Resources/Prototypes/_CP14/Procedural/grasslands.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Walls/wall_wooden_spruce.yml
  Resources/Prototypes/_CP14/Recipes/Construction/walls.yml
  Resources/Prototypes/_CP14/Stacks/materials.yml
  Resources/Prototypes/_CP14/Stacks/stack_groups.yml
  Resources/Textures/_CP14/Objects/Materials/wood_spruce.rsi/log.png
  Resources/Textures/_CP14/Objects/Materials/wood_spruce.rsi/log_2.png
  Resources/Textures/_CP14/Objects/Materials/wood_spruce.rsi/log_3.png
  Resources/Textures/_CP14/Objects/Materials/wood_spruce.rsi/meta.json
  Resources/Textures/_CP14/Objects/Materials/wood_spruce.rsi/planks.png
  Resources/Textures/_CP14/Objects/Materials/wood_spruce.rsi/planks_2.png
  Resources/Textures/_CP14/Objects/Materials/wood_spruce.rsi/planks_3.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_big.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_big.rsi/tree01.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_big.rsi/tree02.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_medium.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_medium.rsi/tree01.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_medium.rsi/tree02.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_medium.rsi/tree03.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_medium.rsi/tree04.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_small.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_small.rsi/tree01.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_small.rsi/tree02.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_small.rsi/tree03.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_small.rsi/tree04.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_small.rsi/tree05.png
  Resources/Textures/_CP14/Structures/Flora/tree_spruce_small.rsi/tree06.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/frame.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/meta.json
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood0.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood1.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood2.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood3.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood4.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood5.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood6.png
  Resources/Textures/_CP14/Structures/Walls/wooden_wall_spruce.rsi/wood7.png
Labels: Sprites, YML, No C#, S: Awaiting Changes

#1581 Add supports for different skillpoints types
  Content.Client/_CP14/Skill/Ui/CP14SkillTreeButtonControl.xaml
  Content.Client/_CP14/Skill/Ui/CP14SkillTreeButtonControl.xaml.cs
  Content.Client/_CP14/UserInterface/Systems/Skill/CP14SkillUIController.cs
  Content.Client/_CP14/UserInterface/Systems/Skill/Window/CP14SkillWindow.xaml
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellAddMemoryPoint.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellRemoveMemoryPoint.cs
  Content.Shared/_CP14/Skill/CP14SharedSkillSystem.cs
  Content.Shared/_CP14/Skill/CP14SkillSystem.Scanning.cs
  Content.Shared/_CP14/Skill/Components/CP14SkillStorageComponent.cs
  Content.Shared/_CP14/Skill/Prototypes/CP14SkillPointPrototype.cs
  Content.Shared/_CP14/Skill/Prototypes/CP14SkillTreePrototype.cs
  Content.Shared/_CP14/Skill/Restrictions/Researched.cs
  Resources/Locale/en-US/_CP14/skill/skill_points.ftl
  Resources/Locale/en-US/_CP14/skill/ui.ftl
  Resources/Locale/ru-RU/_CP14/skill/skill_points.ftl
  Resources/Locale/ru-RU/_CP14/skill/ui.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T1.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/Skeletons/T2.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/TownRaids/undead.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
  Resources/Prototypes/_CP14/Skill/Basic/trees.yml
  Resources/Prototypes/_CP14/Skill/Demigods/trees.yml
  Resources/Prototypes/_CP14/Skill/points.yml
  Resources/Textures/_CP14/Interface/Misc/skill_point.rsi/blood.png
  Resources/Textures/_CP14/Interface/Misc/skill_point.rsi/exp.png
  Resources/Textures/_CP14/Interface/Misc/skill_point.rsi/meta.json
Labels: Sprites, YML, C#, UI, S: Needs Review

#1584 Fixed dissapearing food visuals bug
  Content.Client/_CP14/Cooking/CP14ClientCookingSystem.cs
  Content.Shared/_CP14/Cooking/CP14SharedCookingSystem.cs
Labels: C#, S: Needs Review

#1585 Candles & Candelabras
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Catalog/Fills/crates.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/_CP14/Trading/BuyPositions/cozy_house.yml
  Resources/Textures/_CP14/Objects/Misc/candelabra.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/candelabra.rsi/triple.png
  Resources/Textures/_CP14/Objects/Misc/candelabra.rsi/triple_fire.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small1.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small2.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small3.png
  Resources/Textures/_CP14/Objects/Misc/candles.rsi/small_fire.png
  Resources/migration.yml
Labels: Sprites, YML, No C#, Mapping, S: Needs Review

#1599 Bugfixes
  Content.Server/_CP14/LockKey/CP14KeyholeGenerationSystem.cs
  Resources/Prototypes/_CP14/Alerts/status_effect.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/sphere_of_light.yml
  Resources/Prototypes/_CP14/Entities/StatusEffects/misc.yml
  Resources/Prototypes/_CP14/Entities/Structures/Roof/base.yml
Labels: YML, C#, S: Needs Review

#1592 Chatsan Пустыня эдишн
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/ru-RU/_CP14/speech/speech-chatsan.ftl
Labels: C#, S: Needs Review
