Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-10, with the labels that each got.

#1764 Tweaks for the alchemy
  Resources/Prototypes/_CP14/Reagents/Target Effects/side_effects.yml
Labels: YML, No C#, S: Needs Review

#1816 cats now climb on tables
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/cats.yml
Labels: YML, No C#, S: Needs Review

#1817 small alchemy QOL
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
Labels: YML, No C#

#1820 poll results
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.CBT.cs
Labels: C#, S: Needs Review

#1815 Added Flamable and Heat damage to Incendiary reagent
  Resources/Prototypes/_CP14/Reagents/Target Effects/damage_effects.yml
Labels: YML, No C#, S: Needs Review

#1825 various changes part 3 or smth
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Lurker/Fear.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/hypnosys.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/bone_hound.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/adventure.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/ai_factions.yml
Labels: YML, No C#, S: Needs Review
