Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-02, with the labels that each got.

#834 Resprites + Satchels
  Resources/Prototypes/_CP14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/essence.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/demiplane_keys.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/flint.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/equipped-BACKPACK-goblin.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/equipped-BACKPACK.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/flipped-equipped-BACKPACK-goblin.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/flipped-equipped-BACKPACK.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/Back/Satchel/leather_satchel.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Guard/guard_commander_cloak.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Guard/guard_commander_cloak.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/Guard/guard_commander_cloak.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/cauldron.rsi/icon.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/cauldron.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/cauldron.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/cauldron.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Alchemy/cauldron.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Specific/Alchemy/cauldron.rsi/wielded-inhand-right.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/blank.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/dagger.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/nails.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/pickaxe.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/shovel.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/sickle.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/sword.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/throwable_spear.png
  Resources/Textures/_CP14/Objects/Specific/Blacksmith/melting_molds.rsi/two_handed_sword.png
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/essence.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Thaumaturgy/essence.rsi/small.png
  Resources/Textures/_CP14/Objects/Tools/flint.rsi/icon.png
  Resources/Textures/_CP14/Objects/Tools/flint.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Tools/flint.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Tools/flint.rsi/meta.json
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/core.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/full.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/liq1.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/liq2.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/liq3.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/liq4.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/liq5.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/liq6.png
  Resources/Textures/_CP14/Structures/Specific/Alchemy/alchemy_vat.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/Spreader.rsi/crystal.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/Spreader.rsi/spreader.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_analyzer.rsi/analyzer.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_analyzer.rsi/crystal.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_analyzer.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#835 admin demiplanes catcher
  Content.Server/_CP14/Demiplane/CP14DemiplanSystem.Generation.cs
  Content.Server/_CP14/DemiplaneAdmin/CP14DemiplaneAdminSystem.cs
  Content.Server/_CP14/DemiplaneAdmin/CP14DemiplaneRiftCatcherComponent.cs
Labels: S: Untriaged, size/S

#837 Minor procedural fixes pack
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/_CP14/Demiplane/CP14DemiplanSystem.Connections.cs
  Content.Server/_CP14/Demiplane/CP14DemiplanSystem.Generation.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/DemiplaneTraveling/CP14DemiplaneTravelingSystem.cs
Labels: S: Untriaged, size/M

#838 Normal quartz returns
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/elemental.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/shards.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/crystals.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/furnace.yml
  Resources/migration.yml
Labels: S: Untriaged, Changes: No C#, size/M

#819 Discord authentification
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_CP14/Discord/CP14DiscordAuthManager.cs
  Content.Client/_CP14/Discord/CP14DiscordAuthState.cs
  Content.Client/_CP14/Discord/DiscordAuthGui.xaml
  Content.Client/_CP14/Discord/DiscordAuthGui.xaml.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_CP14/Discord/DiscordAuthManager.cs
  Content.Shared/_CP14/CCvar/CCvars.CP14DiscordAuth.cs
  Content.Shared/_CP14/CCvar/CCvars.CP14JoinQueue.cs
  Content.Shared/_CP14/CCvar/CCvars.CP14Sponsors.cs
  Content.Shared/_CP14/Discord/MsgDiscordAuthCheck.cs
  Content.Shared/_CP14/Discord/MsgDiscordAuthRequired.cs
  Resources/Locale/en-US/_CP14/connection_messages.ftl
  Resources/Locale/en-US/_CP14/discord/queue.ftl
  Resources/Locale/ru-RU/_CP14/connection_messages.ftl
  Resources/Locale/ru-RU/_CP14/discord/queue.ftl
Labels: Changes: UI, size/M

#839 Fur coat for adventurers.
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/fur_coat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#831 Frogs
  Resources/Audio/_CP14/Animals/attributions.yml
  Resources/Audio/_CP14/Animals/frog1.ogg
  Resources/Audio/_CP14/Animals/frog2.ogg
  Resources/Audio/_CP14/Animals/frog3.ogg
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t2_grass_geode.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/tags.yml
  Resources/Prototypes/_CP14/SoundCollections/animals.yml
  Resources/Prototypes/_CP14/ai_factions.yml
  Resources/Textures/_CP14/Mobs/Animals/frog.rsi/frog.png
  Resources/Textures/_CP14/Mobs/Animals/frog.rsi/frog_blinks.png
  Resources/Textures/_CP14/Mobs/Animals/frog.rsi/frog_dead.png
  Resources/Textures/_CP14/Mobs/Animals/frog.rsi/frog_moving.png
  Resources/Textures/_CP14/Mobs/Animals/frog.rsi/icon.png
  Resources/Textures/_CP14/Mobs/Animals/frog.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Animals/frog_helmet.rsi/0-equipped-HELMET.png
  Resources/Textures/_CP14/Mobs/Animals/frog_helmet.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/frog_leg.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/frog_leg_cooked.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: Audio

#840 Echoes of voices from the demiplanes
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Connections.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Echoes.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Generation.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Stabilization.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/Demiplane/Components/CP14SpawnOutOfDemiplaneComponent.cs
  Resources/Locale/en-US/_CP14/connection_messages.ftl
  Resources/Locale/en-US/_CP14/demiplane/demiplane.ftl
  Resources/Locale/en-US/_CP14/magicTypes/magic.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/demiplane.ftl
  Resources/Locale/ru-RU/_CP14/magicTypes/magic.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/T0_sphere_of_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/T1_flash_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Light/T1_signal_light.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/base.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/scrolls.yml
  Resources/Prototypes/_CP14/Entities/Structures/round_end.yml
  Resources/Prototypes/_CP14/Entities/Structures/test.yml
  Resources/Prototypes/_CP14/Entities/Structures/zLevelLadders.yml
  Resources/Prototypes/_CP14/MagicTypes/magic.yml
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/signal_light_blue.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/signal_light_red.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/signal_light_yellow.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/connective.png
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/meta.json
  Resources/Textures/_CP14/Structures/Dungeon/demiplan_rift_core.rsi/pulse.png
Labels: Changes: Sprites, S: Untriaged, size/M

#823 Smoking pipe new
  Content.Server/Nutrition/EntitySystems/SmokingSystem.SmokingPipe.cs
  Content.Server/_CP14/Temperature/CP14FireSpreadSystem.cs
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Smokeables/Pipes/pipe.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Farming/leaves.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/torch.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/burnt-icon.png
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/lit-equipped-MASK.png
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/lit-icon.png
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/unlit-equipped-MASK.png
  Resources/Textures/_CP14/Objects/Consumable/Smokeables/Pipes/pipe.rsi/unlit-icon.png
  Resources/Textures/_CP14/Objects/Misc/reagent_fillings.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/reagent_fillings.rsi/sage_powder.png
  Resources/Textures/_CP14/Objects/Misc/reagent_fillings.rsi/tobacco_small.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#841 Pumpkin pie
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/pie.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/CookingTable/pies.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/pie.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/pie.rsi/pumpkin.png
  Resources/Textures/_CP14/Objects/Consumable/Food/pie.rsi/pumpkin_raw.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#842 Guildmaster 2 spells
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/DemiplaneTraveling/CP14DemiplaneTravelingSystem.cs
  Content.Shared/_CP14/Demiplane/CP14SharedDemiplanSytem.cs
  Content.Shared/_CP14/DemiplaneTraveling/CP14MonolithTimedPasswayComponent.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellDemiplaneInfiltration.cs
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/en-US/_CP14/magicTypes/magic.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/magicTypes/magic.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T0_demiplane_infiltration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T0_monolith_warp.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T2_shadow_step.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/scrolls.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/guard_commander.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CP14/MagicTypes/magic.yml
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/demi_arrow.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/rift_arrow.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/rift_shield.png
Labels: Changes: Sprites, S: Untriaged

#843 Freeze spell
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T0_demiplane_infiltration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T0_freeze.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Effects/Magic/cast_impact.rsi/circle_decrease.png
  Resources/Textures/_CP14/Effects/Magic/cast_impact.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/freeze.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#844 Kick stamina spell
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Checks.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectVerbalAspectComponent.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellThrowFromUser.cs
  Resources/Locale/en-US/_CP14/magicSpells/speech.ftl
  Resources/Locale/ru-RU/_CP14/magicSpells/speech.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/T0_Kick.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/kick.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
Labels: Changes: Sprites, size/M

#852 Bacinet
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Produced/armor.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/equipped-HELMET_open.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/icon_open.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_mask.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_mask.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_mask.rsi/inhand-left.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_mask.rsi/inhand-right.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_mask.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#853 Fix spells
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.DelayedActions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.ToggleableActions.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14DelayedActionEvents.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14ToggleableActionEvents.cs
  Resources/Locale/en-US/_CP14/magicSpells/speech.ftl
  Resources/Locale/ru-RU/_CP14/magicSpells/speech.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T0_demiplane_infiltration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T1_fireball.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Physical/T0_Kick.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T0_freeze.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T0_water_creation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T1_ice_shards.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/ice_ghost.yml
Labels: S: Untriaged, size/S

#854 Ru localization sync
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Tools/_CP14/LocalizationHelper/last_launch_result/result.json
Labels: S: Untriaged, size/L, Changes: No C#

#857 Fix sprite bascinet
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/icon_open.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_hunds.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_mask.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Produced/Armor/bascinet_mask.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#858 Unstable demiplanes
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Generation.cs
  Content.Server/_CP14/Demiplane/Components/CP14DemiplaneAutoOpenComponent.cs
  Content.Server/_CP14/Demiplane/Components/CP14DemiplaneGeneratorDataComponent.cs
  Content.Server/_CP14/Demiplane/Components/CP14DemiplaneUsingOpenComponent.cs
  Resources/Audio/_CP14/Effects/attributions.yml
  Resources/Audio/_CP14/Effects/demiplane_heartbeat.ogg
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/en-US/_CP14/events/events.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/events/events.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T0_monolith_warp.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/demiplane_rifts.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/demiplane_keys.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/rifts.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/unstable_rift.yml
  Resources/Prototypes/_CP14/Entities/Structures/round_end.yml
  Resources/Prototypes/_CP14/Entities/Structures/test.yml
  Resources/Prototypes/_CP14/GameRules/events.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
Labels: S: Untriaged, size/M, Changes: Audio

#859 Unique artifacts
  Content.Server/_CP14/MagicSpell/CP14AreaEntityEffectComponent.cs
  Content.Server/_CP14/UniqueLoot/CP14UniqueLootSpawnerComponent.cs
  Content.Server/_CP14/UniqueLoot/CP14UniqueLootSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.DelayedActions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.ToggleableActions.cs
  Content.Shared/_CP14/UniqueLoot/CP14UniqueLootPrototype.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Maps/_CP14/Dungeon/artifact_room.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T1_fireball.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Healing/magical_acceleration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T0_freeze.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Rings/ring.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shoes/shoes.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/demiplane.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/unique_loot.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/rooms.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/artifact_room.yml
  Resources/Prototypes/_CP14/UniqueLoot/loot.yml
  Resources/Textures/_CP14/Clothing/Shoes/flightboots.rsi/equipped-FEET.png
  Resources/Textures/_CP14/Clothing/Shoes/flightboots.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shoes/flightboots.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Shoes/speedboots.rsi/equipped-FEET.png
  Resources/Textures/_CP14/Clothing/Shoes/speedboots.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shoes/speedboots.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/magical_acceleration.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/shadow_staff.rsi/equipped-NECK.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/shadow_staff.rsi/icon.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/shadow_staff.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/shadow_staff.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/shadow_staff.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/shadow_staff.rsi/wielded-inhand-left.png
  Resources/Textures/_CP14/Objects/Weapons/Magic/TwoHandedStaff/shadow_staff.rsi/wielded-inhand-right.png
  SpaceStation14.sln
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Changes: Map, S: Untriaged, size/L

#861 Small Fixes
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/guard.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/shards.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#864 Перевод RU
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
Labels: S: Untriaged, Changes: No C#, size/S

#866 Unstable demiplane update
  Content.Client/_CP14/MagicWeakness/CP14ClientMagicWeaknessSystem.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Destruction.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Echoes.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Generation.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.cs
  Content.Server/_CP14/Demiplane/Jobs/CP14SpawnRandomDemiplaneJob.cs
  Content.Server/_CP14/MagicWeakness/CP14MagicWeaknessSystem.cs
  Content.Server/_CP14/UniqueLoot/CP14UniqueLootSystem.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplaneTimedDestructionComponent.cs
  Content.Shared/_CP14/Demiplane/Prototypes/CP14DemiplaneModifierPrototype.cs
  Content.Shared/_CP14/MagicWeakness/CP14MagicUnsafeDamageComponent.cs
  Content.Shared/_CP14/MagicWeakness/CP14MagicUnsafeSleepComponent.cs
  Content.Shared/_CP14/MagicWeakness/CP14MagicUnsafeTriggerComponent.cs
  Content.Shared/_CP14/MagicWeakness/CP14SharedMagicWeaknessSystem.cs
  Resources/Locale/en-US/_CP14/demiplane/demiplane.ftl
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/en-US/_CP14/events/events.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/demiplane.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/events/events.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Tools/demiplane_keys.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/rifts.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/unstable_rift.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/special.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/required_layers.yml
Labels: S: Untriaged, size/M

#873 Heavy crates
  Resources/Prototypes/_CP14/Entities/Structures/Storage/Crates/crates.yml
Labels: Changes: No C#, size/XS

#862 New vests
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/dresser.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/brown.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/Roles/merchant.yml
  Resources/Prototypes/_CP14/Entities/Clothing/OuterClothing/base.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/merchant.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Textures/_CP14/Clothing/Belt/brown.rsi/equipped-BELT1.png
  Resources/Textures/_CP14/Clothing/Belt/brown.rsi/equipped-BELT2.png
  Resources/Textures/_CP14/Clothing/Belt/brown.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Belt/brown.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown.rsi/icon-open.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown_2.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown_2.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown_2.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown_3.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown_3.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/brown_3.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green.rsi/icon-open.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/green.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/red.rsi/icon-open.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/red.rsi/icon.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/red.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/General/red.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/Merchant/vest_merchant.rsi/icon-open.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/Merchant/vest_merchant.rsi/meta.json
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/Merchant/vest_merchant.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/Merchant/vest_merchant.rsi/open-inhand-left.png
  Resources/Textures/_CP14/Clothing/OuterClothing/Roles/Merchant/vest_merchant.rsi/open-inhand-right.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/white.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/white.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Mercenary/guildmaster_vest.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Mercenary/guildmaster_vest.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Mercenary/guildmaster_vest2.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/Mercenary/guildmaster_vest2.rsi/icon.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#880 Fix cave stone iron
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_iron.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_iron.rsi/wall0.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_iron.rsi/wall1.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_iron.rsi/wall2.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_iron.rsi/wall3.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_iron.rsi/wall4.png
  Resources/Textures/_CP14/Structures/Walls/Natural/cave_stone_iron.rsi/wall6.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#881 Balance bugtweak
  Content.Client/_CP14/Wallpaper/CP14ClientWallpaperSystem.cs
  Content.Shared/_CP14/Wallpaper/CP14SharedWallpaperSystem.cs
  Content.Shared/_CP14/Wallpaper/CP14WallpaperComponent.cs
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T0_demiplane_infiltration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Darkness/T0_monolith_warp.yml
  Resources/Prototypes/_CP14/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/misc.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/rooms.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/special.yml
Labels: S: Untriaged, size/S

#885 Unrandomize store prices
  Content.Server/_CP14/Cargo/CP14CargoSystem.cs
  Content.Shared/_CP14/Cargo/Prototype/CP14StoreBuyPositionPrototype.cs
  Content.Shared/_CP14/Cargo/Prototype/CP14StoreSellPositionPrototype.cs
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sell/metalls.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/Sell/misc.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/buy.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/sell_special.yml
Labels: S: Untriaged, size/M

#883 JoinQueue
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_CP14/JoinQueue/JoinQueueManager.cs
  Content.Client/_CP14/JoinQueue/QueueGui.xaml
  Content.Client/_CP14/JoinQueue/QueueGui.xaml.cs
  Content.Client/_CP14/JoinQueue/QueueState.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_CP14/Discord/DiscordAuthManager.cs
  Content.Server/_CP14/JoinQueue/JoinQueueManager.cs
  Content.Shared/_CP14/JoinQueue/MsgQueueUpdate.cs
Labels: Changes: UI, S: Untriaged, size/M

#886 Passport
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Server/_CP14/Passport/CP14PassportComponent.cs
  Content.Server/_CP14/Passport/CP14PassportSystem.cs
  Resources/Locale/en-US/_CP14/passport/passport.ftl
  Resources/Locale/ru-RU/_CP14/passport/passport.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/passport.yml
  Resources/Textures/_CP14/Interface/Paper/paper_passport.png
  Resources/Textures/_CP14/Interface/Paper/paper_passport.yml
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/meta.json
  Resources/Textures/_CP14/Objects/Bureaucracy/paper.rsi/passport.png
Labels: Changes: Sprites, S: Untriaged, size/M

#888 Master fix + Bank removal
  Content.Server/_CP14/Passport/CP14PassportSystem.cs
  Resources/Maps/_CP14/Ships/cargo_shuttle.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildmaster.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Reward/misc.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Traders/commandant.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Traders/merchant.yml
  Resources/Prototypes/_CP14/Roles/Jobs/departments.yml
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_0.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_1.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_2.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_3.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_4.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_5.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_6.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/carpet_7.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/full.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/blue_carpet.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_0.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_1.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_2.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_3.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_4.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_5.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_6.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/carpet_7.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/full.png
  Resources/Textures/_CP14/Structures/Furniture/Carpets/red_carpet.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, size/XL

#865 Various meats
  Resources/Locale/en-US/_CP14/recipe/title.ftl
  Resources/Locale/ru-RU/_CP14/recipe/title.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/mole.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_CP14/Palettes/food.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/CookingTable/pies.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/different_meat_slice.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/dino_meat1.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/dino_meat2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/fish_meat1.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/fish_meat2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/fish_meat3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/human_meat1.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/human_meat2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/mole_meat1.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/mole_meat2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/mole_meat3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/mole_meat4.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/mole_meat5.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/mole_meat6.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat1.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat2.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat3.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat4.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat5.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/pig_meat6.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/rabbit_meat1.png
  Resources/Textures/_CP14/Objects/Consumable/Food/meat.rsi/rabbit_meat2.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#889 Onion and pepper
  Resources/Prototypes/_CP14/Catalog/Cargo/crates.yml
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Farming/seeds.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/onion.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Gatherable/Farm/pepper.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/CookingTable/seeds.yml
  Resources/Textures/_CP14/Objects/Flora/Farm/onion.rsi/base1.png
  Resources/Textures/_CP14/Objects/Flora/Farm/onion.rsi/base2.png
  Resources/Textures/_CP14/Objects/Flora/Farm/onion.rsi/base3.png
  Resources/Textures/_CP14/Objects/Flora/Farm/onion.rsi/meta.json
  Resources/Textures/_CP14/Objects/Flora/Farm/pepper.rsi/base1.png
  Resources/Textures/_CP14/Objects/Flora/Farm/pepper.rsi/base2.png
  Resources/Textures/_CP14/Objects/Flora/Farm/pepper.rsi/base3.png
  Resources/Textures/_CP14/Objects/Flora/Farm/pepper.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/meta.json
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/onion.png
  Resources/Textures/_CP14/Objects/Specific/Farming/seeds.rsi/pepper.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/death.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/grow-1.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/grow-2.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/grow-3.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/grow-4.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/grow-5.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/grow-6.png
  Resources/Textures/_CP14/Structures/Flora/Farm/onion.rsi/meta.json
  Resources/Textures/_CP14/Structures/Flora/Farm/pepper.rsi/death.png
  Resources/Textures/_CP14/Structures/Flora/Farm/pepper.rsi/grow-1.png
  Resources/Textures/_CP14/Structures/Flora/Farm/pepper.rsi/grow-2.png
  Resources/Textures/_CP14/Structures/Flora/Farm/pepper.rsi/grow-3.png
  Resources/Textures/_CP14/Structures/Flora/Farm/pepper.rsi/grow-4.png
  Resources/Textures/_CP14/Structures/Flora/Farm/pepper.rsi/grow-5.png
  Resources/Textures/_CP14/Structures/Flora/Farm/pepper.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#892 Neckerchief
  Resources/Prototypes/_CP14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Masks/neckerchief.rsi/equipped-MASK.png
  Resources/Textures/_CP14/Clothing/Masks/neckerchief.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Masks/neckerchief.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#891 Glass showcase
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/closets.yml
  Resources/Prototypes/_CP14/Entities/Structures/Windows/directional.yml
  Resources/Textures/_CP14/Structures/Furniture/pallets.rsi/buy.png
  Resources/Textures/_CP14/Structures/Furniture/pallets.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/pallets.rsi/sell.png
  Resources/Textures/_CP14/Structures/Furniture/pallets.rsi/wooden.png
  Resources/Textures/_CP14/Structures/Storage/glass_showcase.rsi/base.png
  Resources/Textures/_CP14/Structures/Storage/glass_showcase.rsi/base_door.png
  Resources/Textures/_CP14/Structures/Storage/glass_showcase.rsi/base_open.png
  Resources/Textures/_CP14/Structures/Storage/glass_showcase.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#897 Spells content
  Content.Server/_CP14/ModularCraft/Modifiers/EditArmor.cs
  Content.Server/_CP14/ModularCraft/Modifiers/EditClothingSpeed.cs
  Content.Server/_CP14/ModularCraft/Modifiers/EditManacostModify.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/_CP14/MagicManacostModify/CP14MagicManacostModifyComponent.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicCasterComponent.cs
  Content.Shared/_CP14/MagicSpell/Spells/C14SpellInterruptSpell.cs
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Healing/magical_acceleration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_counter_spell.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Loot/demiplane.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Effects/Magic/cast_impact.rsi/circle_increase.png
  Resources/Textures/_CP14/Effects/Magic/cast_impact.rsi/meta.json
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/counter_spell.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#896 Fix
  Resources/Locale/en-US/_CP14/recipe/title.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/recipe/title.ftl
  Resources/Locale/ru-RU/_CP14/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T1_beer_creation.yml
Labels: S: Untriaged, Changes: No C#, size/S

#898 Bank returns
  Resources/Maps/_CP14/Ships/cargo_shuttle.yml
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
  Resources/Prototypes/_CP14/Maps/Factoria.yml
  Resources/Prototypes/_CP14/Maps/comoss.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Traders/commandant.yml
  Resources/Prototypes/_CP14/Roles/Jobs/Traders/merchant.yml
  Resources/Prototypes/_CP14/Roles/Jobs/departments.yml
Labels: Changes: Map, size/XL, Changes: No C#

#899 Instant ice shards + ice shards in loadouts
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.InstantActions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.ToggleableActions.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Events/CP14ActionsEvents.cs
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Water/T1_ice_shards.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Loadouts/spells.yml
Labels: S: Untriaged, size/M

#900 Leaf wall
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_counter_spell.yml
  Resources/Prototypes/_CP14/Entities/Structures/Walls/natural.yml
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/full.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/meta.json
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall0.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall1.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall2.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall3.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall4.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall5.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall6.png
  Resources/Textures/_CP14/Structures/Walls/Natural/leaf.rsi/wall7.png
Labels: Changes: Sprites, Changes: No C#

#901 Leaf maze demiplane + crayon update
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Server/Crayon/CrayonSystem.cs
  Resources/Locale/en-US/_CP14/demiplane/locations.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/locations.ftl
  Resources/Prototypes/Decals/crayons.yml
  Resources/Prototypes/_CP14/Decal/crayon.yml
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/crayons.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Device/wallmount_buttons.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/t2_leaf_maze.yml
  Resources/Prototypes/_CP14/Procedural/caves.yml
  Resources/Prototypes/_CP14/Procedural/grasslands.yml
  Resources/Prototypes/_CP14/Procedural/ice_caves.yml
  Resources/Prototypes/_CP14/Procedural/leaf_maze.yml
  Resources/Prototypes/_CP14/Procedural/snow.yml
  Resources/Prototypes/_CP14/Procedural/swamp.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Prototypes/_CP14/UniqueLoot/loot.yml
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_d.png
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_dl.png
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_dr.png
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_l.png
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_r.png
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_u.png
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_ul.png
  Resources/Textures/_CP14/Decals/crayon.rsi/arrow_ur.png
  Resources/Textures/_CP14/Decals/crayon.rsi/meta.json
  Resources/Textures/_CP14/Decals/crayon.rsi/point.png
  Resources/Textures/_CP14/Decals/crayon.rsi/skull.png
  Resources/Textures/_CP14/Structures/Wallmount/buttons.rsi/meta.json
  Resources/Textures/_CP14/Structures/Wallmount/buttons.rsi/wooden.png
Labels: Changes: Sprites, size/M

#902 Pressure plate
  Content.Server/_CP14/DeviceLinking/CP14PressurePlateSystem.cs
  Content.Server/_CP14/DeviceLinking/Components/CP14PressurePlateComponent.cs
  Content.Shared/_CP14/DeviceLinking/CP14SharedPressurePlateSignal.cs
  Resources/Locale/en-US/_CP14/machineLinking/transmitter_ports.ftl
  Resources/Locale/ru-RU/_CP14/machineLinking/transmitter_ports.ftl
  Resources/Prototypes/_CP14/DeviceLinking/source_ports.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/tools.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Device/pressure_plate.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Device/wallmount_buttons.yml
  Resources/Textures/_CP14/Structures/Specific/Device/pressure_plate.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Device/pressure_plate.rsi/wooden.png
  Resources/Textures/_CP14/Structures/Specific/Device/pressure_plate.rsi/wooden_pressed.png
  Resources/Textures/_CP14/Structures/Specific/Device/wallmount_buttons.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Device/wallmount_buttons.rsi/stone.png
  Resources/Textures/_CP14/Structures/Specific/Device/wallmount_buttons.rsi/wooden.png
Labels: Changes: Sprites, S: Untriaged, size/M

#903 Modular weapon inlay
  Content.Server/EntityEffects/Effects/Electrocute.cs
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Server/_CP14/MagicSpell/CP14SpellEffectOnHitComponent.cs
  Content.Server/_CP14/ModularCraft/CP14ModularCraftSystem.cs
  Content.Shared/_CP14/ModularCraft/Prototypes/CP14ModularCraftPartPrototype.cs
  Content.Shared/_CP14/ModularCraft/Prototypes/CP14ModularCraftSlotPrototype.cs
  Resources/Locale/en-US/_CP14/modularCraft/slots.ftl
  Resources/Locale/ru-RU/_CP14/modularCraft/slots.ftl
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Garde/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Garde/sharp.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Inlay/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Inlay/quartz.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/axe.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/dagger.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/hammer.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/mace.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/pickaxe.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/rapier.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/shovel.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/sickle.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/spear.yml
  Resources/Prototypes/_CP14/ModularCraft/Blade/sword.yml
  Resources/Prototypes/_CP14/ModularCraft/Garde/sharp.yml
  Resources/Prototypes/_CP14/ModularCraft/Garde/sturdy.yml
  Resources/Prototypes/_CP14/ModularCraft/Inlay/quartz.yml
  Resources/Prototypes/_CP14/ModularCraft/slots.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_garde.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_inlay.yml
  Resources/Textures/_CP14/Objects/ModularTools/Inlay/quartz.rsi/frame.png
  Resources/Textures/_CP14/Objects/ModularTools/Inlay/quartz.rsi/icon.png
  Resources/Textures/_CP14/Objects/ModularTools/Inlay/quartz.rsi/item.png
  Resources/Textures/_CP14/Objects/ModularTools/Inlay/quartz.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#904 Comoss update for obt 16.02.25
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
Labels: Changes: Map, Changes: No C#

#822 Sack new
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_CP14/Entities/Objects/Flora/farm.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Farming/sack.yml
  Resources/Prototypes/_CP14/tags.yml
  Resources/Textures/_CP14/Objects/Storage/sack.rsi/icon.png
  Resources/Textures/_CP14/Objects/Storage/sack.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#911 Comoss update 17.02.25
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
Labels: Changes: Map, S: Untriaged, size/XL, Changes: No C#

#910 Top bun
  Resources/Prototypes/_CP14/Entities/Objects/Consumable/Food/dough.yml
Labels: S: Untriaged, Changes: No C#, size/S

#913 Master fix
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_CP14/Cargo/CP14CargoSystem.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Echoes.cs
  Content.Server/_CP14/ZLevels/EntitySystems/CP14StationZLevelsSystem.cs
Labels: S: Untriaged, size/S

#914 Hunter's hat for adventurers.
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Textures/_CP14/Clothing/Head/Roles/General/hunter_hat.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/hunter_hat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/hunter_hat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#917 Sociopath delete
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/_CP14/Roles/CP14SociopathRoleComponent.cs
  Resources/Locale/en-US/_CP14/administration/antag.ftl
  Resources/Locale/en-US/_CP14/antags/antags.ftl
  Resources/Locale/en-US/_CP14/travelingStoreship/positions_sell_special.ftl
  Resources/Locale/ru-RU/_CP14/administration/antag.ftl
  Resources/Locale/ru-RU/_CP14/antags/antags.ftl
  Resources/Locale/ru-RU/_CP14/travelingStoreship/position_sell_special.ftl
  Resources/Maps/Nonstations/meteor-arena.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/Store/sell_special.yml
  Resources/Prototypes/_CP14/GameRules/roundstart.yml
  Resources/Prototypes/_CP14/Maps/arenas.yml
  Resources/Prototypes/_CP14/Roles/Antags/Sociopath.yml
  Resources/Prototypes/_CP14/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_CP14/game_presets.yml
Labels: Changes: Map, S: Untriaged, size/M

#912 New crossbolt
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/crossbowBolts.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/migration.yml
Labels: S: Untriaged, Changes: No C#, size/M

#916 Meat and damage
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/dinosaurs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/mole.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/elf.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/silva.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/tiefling.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
Labels: S: Untriaged, Changes: No C#, size/S

#906 Modular arrows
  Resources/Locale/en-US/_CP14/modularCraft/slots.ftl
  Resources/Locale/ru-RU/_CP14/modularCraft/slots.ftl
  Resources/Prototypes/_CP14/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Tip/arrows.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/grips.yml
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/rod.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/ModularPresets/arrow.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/arrows.yml
  Resources/Prototypes/_CP14/ModularCraft/Tip/arrow.yml
  Resources/Prototypes/_CP14/ModularCraft/baseModularModifier.yml
  Resources/Prototypes/_CP14/ModularCraft/slots.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/modular_tip.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Textures/_CP14/Objects/ModularTools/Rod/arrow.rsi/icon.png
  Resources/Textures/_CP14/Objects/ModularTools/Rod/arrow.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/ModularTools/Rod/arrow.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/ModularTools/Rod/arrow.rsi/meta.json
  Resources/Textures/_CP14/Objects/ModularTools/Rod/arrow.rsi/tail.png
  Resources/Textures/_CP14/Objects/ModularTools/Tip/arrow.rsi/icon.png
  Resources/Textures/_CP14/Objects/ModularTools/Tip/arrow.rsi/inhand-left.png
  Resources/Textures/_CP14/Objects/ModularTools/Tip/arrow.rsi/inhand-right.png
  Resources/Textures/_CP14/Objects/ModularTools/Tip/arrow.rsi/meta.json
  Resources/Textures/_CP14/Objects/ModularTools/Tip/arrow.rsi/solution1.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#918 Insulated mantle for adventurers' equipment.
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/insulated_mantle.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/insulated_mantle.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/insulated_mantle.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#919 Added a light green dress to the adventurers.
  Resources/Prototypes/_CP14/Entities/Clothing/Shirt/Roles/general.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/light_green_dress.rsi/equipped-SHIRT.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/light_green_dress.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Shirt/Roles/General/Dress/light_green_dress.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#923 Fix zombies not affected by stun
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
Labels: Changes: No C#, size/XS

#926 Apron containers
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/alchemist.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/blacksmith.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/sort_later.yml
  Resources/Prototypes/_CP14/Entities/Clothing/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/simple.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Alchemy/vials.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/flint.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/scissors.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/sharpening_stone.yml
  Resources/Prototypes/_CP14/tags.yml
Labels: S: Untriaged, Changes: No C#, size/M

#827 Alchemy Remaster - Foundation (T0 / T1)
  Resources/Locale/en-US/_CP14/reagents/meta/archaic.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/inorganic.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/precurser.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/archaic.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/inorganic.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/precurser.ftl
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/alchemy.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/alchemy.yml
  Resources/Prototypes/_CP14/Reagents/Precurser/arcane.yml
  Resources/Prototypes/_CP14/Reagents/Precurser/essence.yml
  Resources/Prototypes/_CP14/Reagents/Precurser/inorganic.yml
  Resources/Prototypes/_CP14/Reagents/Precurser/organic.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/agaric.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/air_lily.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/bloodflower.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/blue_amanita.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/chromium_slime.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/dayflin.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/essense.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/general.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/lumishroom.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/purification.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/wild_sage.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/dye_brewing.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/AlchemyTabs/Arcane.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/AlchemyTabs/Biological.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/AlchemyTabs/Inorganic.xml
  Resources/ServerInfo/_CP14/Guidebook_EN/AlchemyTabs/Organic.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/AlchemyTabs/Arcane.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/AlchemyTabs/Biological.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/AlchemyTabs/Inorganic.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/AlchemyTabs/Organic.xml
Labels: S: Untriaged, size/L, Changes: No C#

#930 Eng OBT
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Echoes.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/ConfigPresets/_CP14/Dev.toml
Labels: size/S

#931 Epic alchemy buff
  Resources/Locale/en-US/_CP14/reagents/meta/backlog-extracts.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/precurser.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/backlog-extracts.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/precurser.ftl
  Resources/Prototypes/_CP14/Reagents/backlog-extracts.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/bloodflower.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/chromium_slime.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/dayflin.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/wild_sage.yml
Labels: Changes: No C#, size/M

#933 Comoss update 22.02.25
  Resources/Maps/_CP14/comoss.yml
  Resources/Maps/_CP14/comoss_d.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#932 Сrafting changes
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Produced/produced.yml
  Resources/Prototypes/_CP14/Entities/Objects/Flora/wild.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/torch.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/beds.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/cabinets.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/closets.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/lighting.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/seats.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Furniture/tables.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Storage/chests.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Storage/coffins.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Fence/wooden_fence.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Wallmount/lighting.yml
  Resources/Prototypes/_CP14/Recipes/Construction/Graphs/Structures/Wallmount/shelfs.yml
  Resources/Prototypes/_CP14/Recipes/Construction/farming.yml
  Resources/Prototypes/_CP14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_CP14/Recipes/Construction/storage.yml
  Resources/Prototypes/_CP14/Recipes/Construction/structures.yml
  Resources/Prototypes/_CP14/Recipes/Construction/walls.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/Graphs/head_wreath.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/Graphs/improvised/torch.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/clothing.yml
  Resources/Prototypes/_CP14/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/workbench.yml
  Resources/Prototypes/_CP14/tags.yml
Labels: S: Untriaged, Changes: No C#, size/M

#938 Bard spell: heailng song
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.Checks.cs
  Content.Shared/_CP14/MagicSpell/CP14SharedMagicSystem.cs
  Content.Shared/_CP14/MagicSpell/Components/CP14MagicEffectRequiredMusicToolComponent.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-clothing.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/magic-types.ftl
  Resources/Locale/en-US/_CP14/magicEnergy/spell-speech.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-clothing.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-spells.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-types.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/spell-speech.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Healing/T0_heal_song.yml
  Resources/Prototypes/_CP14/Loadouts/spells.yml
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/heal_music.png
  Resources/Textures/_CP14/Effects/Magic/spells_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#939 DismasHair
  Resources/Locale/en-US/_CP14/markings/human-hair.ftl
  Resources/Locale/ru-RU/_CP14/markings/human-hair.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_CP14/Mobs/Customization/CP14_human_hair.rsi/dismas.png
  Resources/Textures/_CP14/Mobs/Customization/CP14_human_hair.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#925 Crystals Update
  Content.IntegrationTests/Tests/Doors/AirlockPryingTest.cs
  Content.Server/_CP14/Chemistry/ReagentEffect/CP14ManaChange.cs
  Content.Server/_CP14/Demiplane/CP14DemiplaneSystem.Stabilization.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergyCrystalSlotSystem.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.Draw.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.PortRelay.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.cs
  Content.Server/_CP14/MagicEnergy/Components/CP14MagicEnergyPortRelayComponent.cs
  Content.Server/_CP14/MagicSpell/CP14MagicSystem.cs
  Content.Shared/_CP14/Demiplane/Components/CP14DemiplanStabilizer.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyContainerComponent.cs
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergySystem.cs
  Content.Shared/_CP14/MagicSpell/Spells/CP14SpellConsumeMana.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-types.ftl
  Resources/Locale/ru-RU/_CP14/machineLinking/transmitter_ports.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-types.ftl
  Resources/Prototypes/_CP14/DeviceLinking/sink_ports.yml
  Resources/Prototypes/_CP14/DeviceLinking/source_ports.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T0_demiplane_infiltration.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T0_monolith_warp.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T1_shadow_grab.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Dimension/T2_shadow_step.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_consume.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/scrolls.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CP14/Entities/Mobs/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/tools.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Demiplanes/unstable_rift.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/misc.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/round_end.yml
  Resources/Prototypes/_CP14/GameRules/events.yml
  Resources/Prototypes/_CP14/MagicTypes/magic.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/special.yml
  Resources/Textures/_CP14/Structures/Specific/Blacksmith/sharpening_stone.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Blacksmith/sharpening_stone.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/empty.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/frame.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/full.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/demiplane_link_crystal.rsi/warning.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/energy_monolith_big.rsi/dimension.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/energy_monolith_big.rsi/frame.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/energy_monolith_big.rsi/meta.json
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/energy_monolith_small.rsi/dimension.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/energy_monolith_small.rsi/frame.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/energy_monolith_small.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#942 Speed Ballade
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Healing/T0_heal_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Healing/T0_speed_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Tools/scissors.yml
  Resources/Prototypes/_CP14/Loadouts/spells.yml
  Resources/Textures/_CP14/Actions/Spells/healing.rsi/meta.json
  Resources/Textures/_CP14/Actions/Spells/healing.rsi/speed_music.png
  Resources/Textures/_CP14/Effects/music.rsi/meta.json
  Resources/Textures/_CP14/Effects/music.rsi/notes_1.png
  Resources/Textures/_CP14/Effects/music.rsi/notes_2.png
  Resources/Textures/_CP14/Effects/music.rsi/notes_3.png
  Resources/Textures/_CP14/Effects/music.rsi/notes_4.png
  Resources/Textures/_CP14/Effects/music.rsi/notes_5.png
  Resources/Textures/_CP14/Effects/music.rsi/notes_6.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#944 Books and bookshelf
  Resources/Maps/_CP14/comoss.yml
  Resources/Prototypes/_CP14/Catalog/Cargo/crates.yml
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Catalog/Fills/dresser.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/base.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/guidebooks.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/knowledge.yml
  Resources/Prototypes/_CP14/Entities/Objects/Bureaucracy/Books/random.yml
  Resources/Prototypes/_CP14/Entities/Objects/guidebooks.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/_CP14/Entities/Structures/Furniture/closets.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/alchemy.yml
  Resources/Prototypes/_CP14/Guidebook/Eng/misc.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/alchemy.yml
  Resources/Prototypes/_CP14/Guidebook/Ru/misc.yml
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_anvil.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/icon_rift.png
  Resources/Textures/_CP14/Objects/Bureaucracy/books.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/base.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-0.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-1.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-10.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-11.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-12.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-13.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-14.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-15.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-16.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-17.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-18.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-19.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-2.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-20.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-21.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-22.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-23.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-24.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-25.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-26.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-27.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-3.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-4.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-5.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-6.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-7.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-8.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/book-9.png
  Resources/Textures/_CP14/Structures/Furniture/bookshelf.rsi/meta.json
  Resources/Textures/_CP14/Structures/Furniture/cutting_board.rsi/board.png
  Resources/Textures/_CP14/Structures/Furniture/cutting_board.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, Changes: No C#, size/M

#945 Hellish ballade
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Fire/T0_hell_ballade.yml
  Resources/Prototypes/_CP14/Loadouts/spells.yml
  Resources/Textures/_CP14/Actions/Spells/fire.rsi/fire_music.png
  Resources/Textures/_CP14/Actions/Spells/fire.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#946 Magical ballade
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/T0_mana_gift.yml
  Resources/Prototypes/_CP14/Loadouts/spells.yml
  Resources/Textures/_CP14/Actions/Spells/meta.rsi/magic_music.png
  Resources/Textures/_CP14/Actions/Spells/meta.rsi/mana.png
  Resources/Textures/_CP14/Actions/Spells/meta.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#948 Essence splitter
  Content.Server/_CP14/Chemistry/ReagentEffect/CP14ManaChange.cs
  Content.Server/_CP14/MagicEnergy/CP14MagicEnergySystem.Scanner.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_CP14/MagicEnergy/CP14MagicTypePrototype.cs
  Content.Shared/_CP14/MagicEnergy/Components/CP14MagicEnergyScannerComponent.cs
  Content.Shared/_CP14/MagicEnergy/SharedCP14MagicEnergySystem.cs
  Content.Shared/_CP14/MagicEssence/CP14MagicEssenceContainerComponent.cs
  Content.Shared/_CP14/MagicEssence/CP14MagicEssenceScannerComponent.cs
  Content.Shared/_CP14/MagicEssence/CP14MagicEssenceSplitterComponent.cs
  Content.Shared/_CP14/MagicEssence/CP14MagicEssenceSystem.cs
  Resources/Locale/en-US/_CP14/magicEnergy/magic-types.ftl
  Resources/Locale/ru-RU/_CP14/magicEnergy/magic-types.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Death/T1_resurrection.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_cure_heat.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_cure_poison.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_cure_wounds.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_heal_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_peace_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_plant_growth.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/T0_speed_ballade.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/magical_acceleration.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Eyes/eyes.yml
  Resources/Prototypes/_CP14/Entities/Objects/Specific/Thaumaturgy/essence.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
  Resources/Prototypes/_CP14/Entities/Structures/Flora/Crystal/shards.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Alchemy/normalizer.yml
  Resources/Prototypes/_CP14/Entities/Structures/Specific/Thaumaturgy/essence_splitter.yml
  Resources/Prototypes/_CP14/MagicTypes/magic.yml
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/essence_splitter.rsi/base.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/essence_splitter.rsi/impact.png
  Resources/Textures/_CP14/Structures/Specific/Thaumaturgy/essence_splitter.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#941 Invisible whistler
  Resources/Locale/en-US/_CP14/demiplane/modifiers.ftl
  Resources/Locale/en-US/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/demiplane/modifiers.ftl
  Resources/Locale/ru-RU/_CP14/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/invisible_whistler.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/monster_parts.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/spike.yml
  Resources/Prototypes/_CP14/Flavors/flavor.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
  Resources/Prototypes/_CP14/Reagents/Biological/animal_origin.yml
  Resources/Textures/_CP14/Mobs/Monster/invisible_whistler.rsi/dead.png
  Resources/Textures/_CP14/Mobs/Monster/invisible_whistler.rsi/live.png
  Resources/Textures/_CP14/Mobs/Monster/invisible_whistler.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/venom_glands.rsi/glands.png
  Resources/Textures/_CP14/Objects/Misc/venom_glands.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Projectiles/spike.rsi/meta.json
  Resources/Textures/_CP14/Objects/Weapons/Ranged/Projectiles/spike.rsi/spike.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#950 Integration whistler poison into alchemy
  Resources/Locale/en-US/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/en-US/_CP14/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/basic-effect-reagent.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/biological.ftl
  Resources/Prototypes/_CP14/Entities/Objects/Misc/monster_parts.yml
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Ranged/Ammunition/spike.yml
  Resources/Prototypes/_CP14/Reagents/Biological/animal_origin.yml
  Resources/Prototypes/_CP14/Reagents/basic-effects.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/chromium_slime.yml
  Resources/Prototypes/_CP14/Recipes/Reactions/Alchemy/whistler_poison.yml
Labels: S: Untriaged, Changes: No C#, size/M

#953 Fixing the whistleblower's poison
  Resources/Prototypes/_CP14/Reagents/Biological/animal_origin.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#956 English OBT setup
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Locale/en-US/_CP14/ghostRoles/rules.ftl
Labels: S: Untriaged, size/S

#954 Tip sprite
  Resources/Prototypes/_CP14/Entities/Objects/ModularTools/Tip/arrows.yml
  Resources/Textures/_CP14/Objects/ModularTools/Tip/arrow.rsi/meta.json
  Resources/Textures/_CP14/Objects/ModularTools/Tip/arrow.rsi/tip.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S
