Repository crystallpunk-14/crystall-punk-14, pull requests merged in 2025-09, with the labels that each got.

#1725 wizard robes
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/wizard_coats.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/wizard.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_blue_coat.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_blue_coat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_blue_coat.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_red_coat.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_red_coat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_red_coat.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_blue.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_blue.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_blue.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_red.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_red.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_red.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_blue.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_blue.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_blue.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_red.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_red.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_red.rsi/meta.json
Labels: Sprites, YML, No C#

#1737 Revert "wizard robes"
  Resources/Prototypes/_CP14/Entities/Clothing/Cloak/Roles/wizard_coats.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/general.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/wizard.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/general.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/sewing_table.yml
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_blue_coat.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_blue_coat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_blue_coat.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_red_coat.rsi/equipped-CLOAK.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_red_coat.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Cloak/Roles/General/wizard_red_coat.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_blue.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_blue.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_blue.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_red.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_red.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hat_red.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_blue.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_blue.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_blue.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_red.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_red.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/General/wizard_hood_red.rsi/meta.json
Labels: Sprites, YML, No C#, S: Needs Review

#1741 Balance tweaks
  Content.Client/_CP14/IdentityRecognition/CP14IdentityRecognitionBoundUserInterface.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/_CP14/GameTicking/Rules/CP14VampireRuleSystem.cs
  Content.Server/_CP14/Objectives/Systems/CP14VampireObjectiveConditionsSystem.cs
  Content.Server/_CP14/RoundEnd/CP14RoundEndSystem.CBT.cs
  Content.Server/_CP14/Vampire/CP14VampireSystem.Announce.cs
  Content.Server/_CP14/Vampire/CP14VampireSystem.cs
  Content.Shared/_CP14/IdentityRecognition/CP14SharedIdentityRecognitionSystem.cs
  Content.Shared/_CP14/MagicSpell/Spells/Vampire/CP14SpellPointerToVampireClan.cs
  Content.Shared/_CP14/MagicSpell/Spells/Vampire/CP14SpellTeleportToVampireSingleton.cs
  Content.Shared/_CP14/Trading/Systems/CP14SharedTradingPlatformSystem.cs
  Content.Shared/_CP14/Vampire/Components/CP14VampireClanHeartComponent.cs
  Resources/Locale/en-US/_CP14/identity/identity_recognition.ftl
  Resources/Locale/en-US/_CP14/objectives/condition/vampire.ftl
  Resources/Locale/en-US/_CP14/vampire/vampire.ftl
  Resources/Locale/ru-RU/_CP14/identity/identity_recognition.ftl
  Resources/Locale/ru-RU/_CP14/objectives/condition/vampire.ftl
  Resources/Locale/ru-RU/_CP14/vampire/vampire.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Life/air_saturation.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Meta/mana_splitting.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/search_vampire.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Player/DemiplaneAntag/lurker.yml
  Resources/Prototypes/_CP14/Skill/Vampire/vampire.yml
Labels: YML, C#

#1719 Перевод на RU
  Resources/Locale/en-US/_CP14/vampire/vampire.ftl
  Resources/Locale/ru-RU/_CP14/_PROTO/entities/entities.ftl
  Resources/Locale/ru-RU/_CP14/passport/passport.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/thaumaturgy/precurser.ftl
  Resources/Locale/ru-RU/_CP14/reagents/meta/thaumaturgy/target_effects.ftl
  Resources/Locale/ru-RU/_CP14/salary/salary_paper.ftl
  Resources/Locale/ru-RU/_CP14/skill/skill_issue.ftl
  Resources/Locale/ru-RU/_CP14/skill/skill_tree.ftl
  Resources/Locale/ru-RU/_CP14/skill/ui.ftl
  Resources/Locale/ru-RU/_CP14/trading/ui.ftl
  Resources/Locale/ru-RU/_CP14/vampire/vampire.ftl
  Resources/Locale/ru-RU/_CP14/workbench/categories.ftl
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/power_explosion.yml
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Vampire/power_punch.yml
  Resources/Prototypes/_CP14/Entities/Objects/Materials/buckle.yml
Labels: YML, No C#, S: Needs Review

#1754 Venicialis guard-guild upate
  Resources/Maps/_CP14/Empties/cave_empty.yml
  Resources/Maps/_CP14/Empties/grassland_empty.yml
  Resources/Maps/_CP14/venicialis.yml
  Resources/Maps/_CP14/venicialis_d.yml
  Resources/Prototypes/_CP14/Maps/venicialis.yml
Labels: YML, No C#, Mapping, S: Needs Review

#1675 Armorattus Valoricus
  Resources/Locale/en-US/_CP14/ghostRoles/roles.ftl
  Resources/Locale/en-US/_CP14/ghostRoles/rules.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/roles.ftl
  Resources/Locale/ru-RU/_CP14/ghostRoles/rules.ftl
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/rat.yml
  Resources/Prototypes/_CP14/Entities/Objects/PetArmor/rat_armor.yml
  Resources/Prototypes/_CP14/InventoryTemplates/carcat_inventory_template.yml
  Resources/Prototypes/_CP14/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/_CP14/InventoryTemplates/partial_inventory_template.yml
  Resources/Prototypes/_CP14/InventoryTemplates/rat_inventory_template.yml
  Resources/Prototypes/_CP14/Recipes/Workbench/Anvil/misc.yml
  Resources/Prototypes/_CP14/Tags/misc.yml
  Resources/Textures/_CP14/Clothing/PetArmor/rat_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CP14/Clothing/PetArmor/rat_armor.rsi/icon.png
  Resources/Textures/_CP14/Clothing/PetArmor/rat_armor.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Pets/rat.rsi/meta.json
  Resources/Textures/_CP14/Mobs/Pets/rat.rsi/rat.png
  Resources/Textures/_CP14/Mobs/Pets/rat.rsi/rat_dead.png
Labels: Sprites, YML, No C#

#1761 Bugfix + Carcat nerf
  Content.Shared/Nutrition/Components/EdibleComponent.cs
  Content.Shared/Nutrition/Components/FoodComponent.cs
  Content.Shared/_CP14/Cooking/CP14SharedCookingSystem.cs
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Athletic/second_wind.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/SpeciesTabs/Carcat.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/SpeciesTabs/Carcat.xml
Labels: YML, C#

#1788 Fix staff wideswing direction
  Resources/Prototypes/_CP14/Entities/Objects/Weapons/Magic/twoHandedStaffs.yml
Labels: YML, No C#, S: Needs Review

#1786 Guild berets and signs
  Resources/Locale/en-US/_CP14/loadouts/loadout.ftl
  Resources/Locale/ru-RU/_CP14/loadouts/loadout.ftl
  Resources/Prototypes/_CP14/Catalog/Fills/closets.yml
  Resources/Prototypes/_CP14/Entities/Clothing/Head/Roles/guildworker.yml
  Resources/Prototypes/_CP14/Entities/Objects/Misc/guild_signs.yml
  Resources/Prototypes/_CP14/Loadouts/Jobs/guildworker.yml
  Resources/Prototypes/_CP14/Loadouts/role_loadouts.yml
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/blue_guild_beret.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/blue_guild_beret.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/blue_guild_beret.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/green_guild_beret.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/green_guild_beret.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/green_guild_beret.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/guild_beret.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/guild_beret.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/guild_beret.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/red_guild_beret.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/red_guild_beret.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/red_guild_beret.rsi/meta.json
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/yellow_guild_beret.rsi/equipped-HELMET.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/yellow_guild_beret.rsi/icon.png
  Resources/Textures/_CP14/Clothing/Head/Roles/GuildWorker/yellow_guild_beret.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/guild_signs.rsi/blue.png
  Resources/Textures/_CP14/Objects/Misc/guild_signs.rsi/green.png
  Resources/Textures/_CP14/Objects/Misc/guild_signs.rsi/meta.json
  Resources/Textures/_CP14/Objects/Misc/guild_signs.rsi/red.png
  Resources/Textures/_CP14/Objects/Misc/guild_signs.rsi/yellow.png
  Resources/Textures/_CP14/Structures/Furniture/order_board.rsi/flag_yellow.png
Labels: Sprites, YML, No C#, S: Needs Review

#1794 Debaff rat
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/rat.yml
Labels: YML, No C#, S: Needs Review

#1797 added funny facial hair
  Resources/Locale/en-US/_CP14/markings/human-facial-hair.ftl
  Resources/Locale/ru-RU/_CP14/markings/human-facial-hair.ftl
  Resources/Prototypes/_CP14/Entities/Mobs/Customization/Markings/human_facial_hair.yml
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/hussar.png
  Resources/Textures/_CP14/Mobs/Customization/human_facial_hair.rsi/meta.json
Labels: Sprites, YML, No C#, S: Needs Review

#1799 Fixs zombie and loot
  Resources/Prototypes/_CP14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/zombie.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/zombie.yml
  Resources/Prototypes/_CP14/Entities/Objects/Economy/wallet.yml
  Resources/Prototypes/_CP14/InventoryTemplates/partial_inventory_template.yml
  Resources/Prototypes/_CP14/Loadouts/Misc/undead_startinggear.yml
  Resources/Prototypes/_CP14/Species/zombie.yml
Labels: YML, No C#, S: Needs Review

#1789 Silva buffs
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_CP14/Body/Organs/silva.yml
  Resources/Prototypes/_CP14/Body/Prototypes/silva.yml
  Resources/Prototypes/_CP14/Reagents/Target Effects/positive_effects.yml
  Resources/ServerInfo/_CP14/Guidebook_EN/SpeciesTabs/Silva.xml
  Resources/ServerInfo/_CP14/Guidebook_RU/SpeciesTabs/Silva.xml
Labels: YML, No C#, S: Needs Review

#1803 God rays
  Content.Client/_CP14/GodRays/CP14GodRaysSystem.cs
  Content.Client/_CP14/GodRays/CP14SyncColorWithMapLightComponent.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/_CP14/Procedural/CP14SpawnProceduralLocationJob.cs
  Content.Server/_CP14/Roof/CP14RoofSystem.cs
  Content.Server/_CP14/Roof/CP14SetGridRoovedComponent.cs
  Content.Shared/CCVar/CCVars.Localization.cs
  Content.Shared/_CP14/Procedural/Prototypes/CP14ProceduralModifierPrototype.cs
  Resources/ConfigPresets/_CP14/Dev.toml
  Resources/Prototypes/_CP14/Entities/Effects/god_rays.yml
  Resources/Prototypes/_CP14/Entities/Markers/roof.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_ice.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_magma.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_mushroom.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/cave_swamp.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Locations/island_grassland.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/MapLight/mapLight.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Weather/weather.yml
  Resources/Prototypes/_CP14/Species/skin_colorations.yml
  Resources/Textures/_CP14/Effects/god_rays.rsi/meta.json
  Resources/Textures/_CP14/Effects/god_rays.rsi/ray.png
Labels: Sprites, YML, C#, S: Needs Review

#1805 Magic now respect physics again
  Content.Shared/Actions/SharedActionsSystem.DoAfter.cs
Labels: YML, C#

#1811 Hotfix
  Resources/Prototypes/_CP14/Entities/Actions/Spells/Lurker/Kick.yml
  Resources/Prototypes/_CP14/Entities/Mobs/NPC/fairy.yml
  Resources/Prototypes/_CP14/Procedural/Demiplane/Modifiers/Danger/mobs.yml
Labels: YML, No C#

#1813 Custom burning sprites
  Resources/Prototypes/_CP14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/carcat.yml
  Resources/Prototypes/_CP14/Entities/Mobs/Species/goblin.yml
  Resources/Textures/_CP14/Mobs/Effects/onfire.rsi/Carcat_burning.png
  Resources/Textures/_CP14/Mobs/Effects/onfire.rsi/Goblin_burning.png
  Resources/Textures/_CP14/Mobs/Effects/onfire.rsi/Humanoid_burning.png
  Resources/Textures/_CP14/Mobs/Effects/onfire.rsi/Small_burning.png
  Resources/Textures/_CP14/Mobs/Effects/onfire.rsi/meta.json
Labels: Sprites, YML, No C#, S: Needs Review
